<div class="footer-wrap">
  <div class="links">
    {% for item in footerMenu.items %}
    <a href="{{ item.link }}">{{ item.title }}</a>
    {% endfor %}

  </div>
  <div class="copyright">
    <a href="/">
      &copy;
      <img src="{{ site.link }}/wp-content/uploads/2020/02/BuildWitt-Logo_white.svg" alt="BuildWitt Logo">
    </a>
  </div>
</div>
