{% extends "base.twig" %}

{% block content %}
	<!-- <h2>{{ foo }}</h2>
	<p>{{ qux }}</p>
	{% filter shortcodes %}

	{% endfilter %}
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}

	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %} -->
{% endblock %}
