{# {% if primaryMenu %}
	{% if items %}
		<ul class="parentMenu">
		{% for item in items %}
			<li class="{{ item.classes | join(' ') }}">
				{% if item.children %}
				<div class="navHasChildrenWrap">
					<a target="{{ item.target }}" href="{{ item.link }}" class="navHasChildren">{{ item.title }}</a>
					<i class="fas fa-chevron-right"></i>
				</div>
				{% else %}
				<div class="navNoChildrenWrap">
					<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				</div>
				{% endif %}
				{% include "menu.twig" with {'items': item.children} %}
			</li>
		{% endfor %}
		</ul>

	{% endif %}
{% endif %} #}


{% if primaryMenu %}
	{% if items %}
	<div class="parentMenuBox">

		<div class="parentMenuWrap">
			<div class="closeX">
				<img src="{{ site.link }}/wp-content/uploads/2019/12/X.svg" alt="Close Menu">
				<p>close</p>
			</div>
			<ul class="parentMenu">
				{% for item in items %}
				<li class="{{ item.classes | join(' ') }}" id="{{ item.title|sanitize }}-li">
					{% if item.children %}
					<div class="navHasChildrenWrap">
						<a class="navHasChildren">{{ item.title }}</a>
						<i class="fas fa-chevron-right mobileOnly"></i>
						<img src="{{ site.link }}/wp-content/uploads/2019/12/Long_Arrow.svg" alt="" class="desktopOnly">
					</div>
					{% else %}
					<div class="navNoChildrenWrap">
						<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
					</div>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>

	</div>

	<div class="childMenuBox">
		<div class="childMenuWrap">
			<div class="back">
				<img src="{{ site.link }}/wp-content/uploads/2019/12/Back_Arrow.svg" alt="Back Arrow">
				<p>Back</p>
			</div>

			{% for item in items %}

			{% if item.children %}
			<ul class="childMenu" id="{{ item.title | sanitize }}-childMenu">
				{% for childMenu in item.children %}
				<li>
					<a href="{{ childMenu.link }}">{{ childMenu.title }}</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}

			{% endfor %}

		</div>
	</div>

	{% endif %}
{% endif %}
