<div class="mobileNav offScreenLeft">

  {# <a href="{{ site.link }}" class="logo">
    <img src="{{ site.link }}/wp-content/uploads/2020/02/BuildWitt-Logo_black.svg" alt="BuildWitt Logo">
  </a> #}

  <div class="wrap">
    <div class="menu">
      {% for item in primaryMenu.items %}
      <a href="{{ item.link }}">{{ item.title }}</a>
      {% endfor %}
      {% for item in rightMenu.items %}
      <a href="{{ item.link }}">{{ item.title }}</a>
      {% endfor %}
    </div>
    <div class="social">
      {% for link in options.social_link %}
      {% if link.host == 'facebook' %}
      <a href="{{ link.link }}">
        <i class="fab fa-facebook-f fa-lg"></i>
      </a>
      {% elseif link.host == 'youtube' %}
      <a href="{{ link.link }}">
        <i class="fab fa-youtube fa-lg"></i>
      </a>
      {% elseif link.host == 'instagram' %}
      <a href="{{ link.link }}">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
      {% elseif link.host == 'linkedin' %}
      <a href="{{ link.link }}">
        <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
      {% endif %}

      {% endfor %}
    </div>
  </div>

</div>
