<div class="newsletter-form">
  <div class="text">
    <h2>Signup for our <strong>newsletter.</strong></h2>
    <p>Every month, Aaron sends out his newsletter on everything Dirt World- and BuildWitt-related. Sign up with the form below to add it to your inbox.</p>
  </div>
  {% filter shortcodes %}
  [gravityform id="2" title="false" description="false" ajax="true"]
  {% endfilter %}
  <p class="disclaimer">No advertisements. Just hard-hitting insights and thoughts all related to the Dirt World.</p>
</div>
