{% extends "base.twig" %}

{% block content %}

<div class="servicespage">


{% set hero = post.meta('hero') %}
  <section class="hero">
    <div class="grid">
      {% set featured = post.meta('featured_partner') %}
      <div class="img" style="background-image: url('{{ post.thumbnail.src }}');"></div>

      <div class="opaque"></div>


      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="text heroText preHeroText">
        <h1>{{ hero.h1 }}</h1>
        <p>{{ hero.p }}</p>
      </div>

    </div>
  </section>

  {% set specific_services = post.meta('specific_services') %}
  <section class="specific-services">

    <div class="grid">

      <div class="greybox"></div>

      <div class="textWrap">
        <div class="text">
          <h2>{{ specific_services.h2 }}</h2>

          <div class="servicesList">
            {% for service in specific_services.service %}
            <div class="service_type">
              <h3>{{ service.title }}</h3>
              <div class="horizontal"></div>
              <div class="desc">
                <p>{{ service.p }}</p>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>

    </div>

  </section>

  <section class="more-partners">
    <div class="blackbox"></div>

    <div class="horizontal pre-horizontal"></div>
    <div class="cross pre-cross">
      {% include './svg/Conversion Point.svg' %}
    </div>
    <div class="vertical pre-vertical"></div>

    <div class="text">
      <!-- <p class="headline">Our Team</p> -->
      <h2>Don’t just take our word for it. See how our partners are changing the industry.</h2>
      <div class="cta">
        <a href="{{ site.link }}/partners">
          See the work
        </a>
        <div class="underline"></div>
      </div>
    </div>

    <div class="partner-slider swiper-container">

      <div class="swiper-wrapper">

        {% for partner in partners %}
          <div class="partner swiper-slide">
            <div class="img" style="background-image: url('{{ partner.thumbnail.src }}');"></div>
            <div class="hover">
              <div class="wrap">
                <p class="name">{{ partner.title }}</p>
                <p class="title">{{ partner.job_title }}</p>
                <p class="summary">{{ partner.summary | truncate(15)}}</p>
                <div class="cta">
                  <a href="{{ partner.link }}">
                    See their work
                  </a>
                  <div class="underline"></div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>

    </div>

  </section>

  {% set approach = post.meta('approach') %}
  <section class="approach lightbackground nonHeroSection">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <!-- <p class="headline">{{ approach.headline }}</p> -->
          <h2>{{ approach.h2 }}</h2>
        </div>
      </div>

      <div class="steps">
        {% for step in approach.steps %}
        <div class="step offScreenStep" id="step-{{ loop.index }}">
          <h3>0{{ loop.index }}</h3>
          <div class="box">
            <h4>{{ step.title }}</h4>
            <div class="underline"></div>
            <div class="bodyText">
              {{ step.p }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>


    </div>

  </section>




  {% set contact = post.meta('contact') %}
  <section class="contact darkbackground nonHeroSection">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <h2>{{ contact.h2 }}</h2>
          <div class="cta">
            <a href="{{ contact.cta_link }}" id="team-cta">
              {{ contact.cta_text }}
            </a>
            <div class="underline"></div>
          </div>
        </div>
      </div>

      <div class="greybox"></div>

      <div class="imgBlock">
        <div class="dark"></div>
        <div class="img" style="background-image: url('{{ TimberImage(contact.img).src }}');"></div>
      </div>

    </div>

  </section>


</div>

{% endblock %}
