{% extends "base.twig" %}

{% block content %}

<div class="testing" style="background-image: url('{{ site.link }}/wp-content/uploads/2019/12/old-kraft-PhotoShopped-2.jpg'); background-size: cover; height: 300vh; width: 100%;">

</div>

{% endblock %}
