{% extends "base.twig" %}

{% block content %}

<div class="careerspage">


  {% set hero = post.meta('hero') %}
  <section class="hero">
    <div class="grid">
      {% set featured = post.meta('featured_partner') %}
      <div class="img" style="background-image: url('{{ post.thumbnail.src }}');"></div>

      <div class="opaque"></div>


      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="text heroText preHeroText">
        <h1>{{ hero.h1 }}</h1>
        <div class="cta">
          <a href="#jobsWrap">
            {{ hero.p }}
          </a>
          <div class="underline"></div>
        </div>
      </div>

    </div>
  </section>

  {% set values = post.meta('values') %}
  <section class="values">

    <div class="grid">

      <!-- <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div> -->

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ values.headline }}</p>
          <h3>{{ values.h2 }}</h3>
          <p>{{ values.p }}</p>
        </div>
      </div>

      <div class="valueList">

        {% for value in values.value %}
        <div class="value">
          <div class="box">
            <h3>{{ value.title }}</h3>
            <p class="bodyText">{{ value.desc }}</p>
          </div>
          <h2>0{{ loop.index }}</h2>
        </div>
        {% endfor %}

      </div>



    </div>

  </section>


  <section class="full_width_img" style="background-image: url('{{ TimberImage(post.full_width_img).src }}');"></section>


  {% set what_we_do = post.meta('what_we_do') %}
  <section class="what_we_do">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="text">
        <h2>{{ what_we_do.h2 }}</h2>
        <p>{{ what_we_do.p }}</p>
      </div>

      <div class="photos">
        <div class="img img_1" style="background-image: url('{{ TimberImage(what_we_do.img_1).src }}');"></div>
        <div class="img img_2" style="background-image: url('{{ TimberImage(what_we_do.img_2).src }}');"></div>
        <div class="img img_3" style="background-image: url('{{ TimberImage(what_we_do.img_3).src }}');"></div>
        <div class="img img_4" style="background-image: url('{{ TimberImage(what_we_do.img_4).src }}');"></div>
        <div class="img img_5" style="background-image: url('{{ TimberImage(what_we_do.img_5).src }}');"></div>
        <div class="img img_6" style="background-image: url('{{ TimberImage(what_we_do.img_6).src }}');"></div>
        <div class="img img_7" style="background-image: url('{{ TimberImage(what_we_do.img_7).src }}');"></div>
      </div>

    </div>

  </section>


  {% set right_fit = post.meta('right_fit') %}
  <section class="right-fit">
    <h2>{{ right_fit.h2 }}</h2>
    <div class="items">
      {% for item in right_fit.item %}
      <div class="item">
        <i class="far fa-check-circle fa-2x"></i>
        <p>{{ item.p }}</p>
      </div>
      {% endfor %}
    </div>

  </section>

  {% set approach = post.meta('approach') %}
  <section class="benefits lightbackground nonHeroSection">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <!-- <p class="headline">{{ approach.headline }}</p> -->
          <h2>{{ approach.h2 }}</h2>
          <p>{{ approach.p }}</p>
        </div>
      </div>

      <div class="steps">
        {% for step in approach.steps %}
        <div class="step offScreenStep" id="step-{{ loop.index }}">
          <img src="{{ TimberImage(step.icon).src }}" alt="">
          <div class="box">
            <h4>{{ step.title }}</h4>
            <div class="underline"></div>
            <p class="bodyText">
              {{ step.p }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>


    </div>

  </section>


  {% set how_to_apply = post.meta('how_to_apply') %}
  <section class="apply">
    <div class="blackbox"></div>

    <div class="horizontal pre-horizontal"></div>
    <div class="cross pre-cross">
      {% include './svg/Conversion Point.svg' %}
    </div>
    <div class="vertical pre-vertical"></div>

    <div class="text">
      <!-- <p class="headline">Our Team</p> -->
      <h2>{{ how_to_apply.h2 }}</h2>
    </div>

    <div class="list">
      {% for step in how_to_apply.list %}
      <div class="step">
        <p class="number">0{{ loop.index }}</p>
        <p class="step-text">{{ step.step }}</p>
        {% if step.note %}
        <p class="note">{{ step.note }}</p>
        {% endif %}
      </div>
      {% endfor %}

    </div>

    <div class="img" style="background-image: url('{{ TimberImage(how_to_apply.img).src }}');"></div>

  </section>

  <section class="job-listing" id="jobsWrap">

    <div class="wrap">
      <div id="BambooHR"><script src="https://buildwitt.bamboohr.com/js/jobs2.php" type="text/javascript"></script><div id="BambooHR-Footer">Powered by<a href="http://www.bamboohr.com" target="_blank" rel="noopener external nofollow noreferrer"><img src="https://resources.bamboohr.com/images/footer-logo.png" alt="BambooHR - HR software"/></a></div></div>
      <!-- <script type="text/javascript" src="//app.jazz.co/widgets/basic/create/buildwittmediagroup" charset="utf-8"></script> -->
    </div>

  </section>

  <!-- {% set heads_up = post.meta('heads_up') %}
  <section class="heads_up">
    <div class="wrap">
      <h3>{{ heads_up.h3 }}</h3>
      <p>{{ heads_up.p }}</p>
    </div>
  </section> -->







</div>

{% endblock %}
