{% extends "base.twig" %}

{% block content %}

<div class="podcastspage">

  {% set hero = post.meta('hero') %}
  <section class="hero">
    <div class="grid">

      <div class="horizontal horizontal1 pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical verticalCenter"></div>

      <h1 class="heroText preHeroText">{{ hero.h1 }}</h1>

      <div class="opaquebox">
      </div>

      <div class="text">
        <p>{{ hero.p }}</p>
      </div>

      <div class="whitebox"></div>

      <div class="blackbox"></div>

      <img class="img slideFromRight" src="{{ TimberImage(hero.img).src }}">

    </div>
  </section>

  <section class="blogs">

    <div class="filterPods">

      <div class="visibleFilter">
        <p>Filter</p>
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Dark-X.svg">
        <div class="underline"></div>
      </div>

      <div class="form-wrap">
        <form action="{{ site.link }}/wp-admin/admin-ajax.php" method="POST" id="podcastfilter">
          <div class="select-wrap">
            <select name="guestnamefilter">
              <option value="Guest Name" disabled selected>Guest Name</option>
              {% for term in terms %}
              <option value="{{ term.term_id }}">{{ term.name }}</option>
              {% endfor %}
            </select>
            <div class="arrows">
              <i class="fas fa-sort"></i>
            </div>
          </div>
          <button>Apply</button>
          <input type="hidden" name="action" value="podcastfilter">
      </form>
      </div>

    </div>

    <div class="list">

      <div class="all-pods">
        {% for pod in podcasts %}
        <a href="{{ pod.link }}" class="singlepod">
          <div class="opaque"></div>
          <div class="img" style="background-image: url('{{ pod.thumbnail.src }}')"></div>
          <!-- <img class="img" src="{{ pod.thumbnail.src }}"> -->
          <p class="date">Episode {{ pod.episode_number }}</p> <!-- date -->
          <h2>{{ pod.title }}</h2> <!-- title -->
          <p class="content">{{ pod.summary | excerpt(50) }}</p>
          <div class="greyishbox"></div>
          <div class="readmore">
            <h3>Listen to Episode</h3>
            <div class="underline"></div>
          </div>
        </a>
        {% endfor %}
      </div>

      <div class="filtered-pods" id="filtered-pods">

      </div>


    </div>

  </section>

  <section class="podcast_player">
    {% filter shortcodes %}
    [podcastplayer feed_url='https://feeds.buzzsprout.com/779603.rss' number='100' cover_image_url='{{ site.link }}/wp-content/uploads/2020/02/PHOTO-4-scaled.jpg' hide_cover='false' hide_description='false' hide_subscribe='false' hide_search='true' hide_loadmore='true' hide_download='true' accent_color='#f9ac1b']Short Description [/podcastplayer]
    {% endfilter %}
  </section>


</div>

{% endblock %}
