{% extends "base.twig" %}

{% block content %}

<div class="contactpage">

  {% set hero = post.meta('hero') %}
  <section class="hero">
    <div class="img" style="background-image: linear-gradient(rgba(43,41,41, 0.4), rgba(43,41,41, 0.4)), url('{{ post.thumbnail.src }}');"></div>
    <div class="grid">

      <div class="horizontal horizontal1 pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical verticalCenter"></div>


      <div class="text">
        <h1><span>{{ hero.h1_color }}</span> {{ hero.h1 }}</h1>
        <p>{{ hero.p }}</p>
      </div>

      <div class="opaquebox"></div>

      <div class="blackbox"></div>

      <div class="links">
        <a href="{{ hero.join_link.link }}" class="join-link">
          {{ hero.join_link.text }}
          <div class="underline"></div>
          <!-- <img src="{{ site.link }}/wp-content/uploads/2020/03/Asset-1.svg" alt="Down Arrow"> -->
        </a>
        <a href="{{ hero.work_link.link }}" class="work-link">
          {{ hero.work_link.text }}
          <div class="underline"></div>
          <!-- <img src="{{ site.link }}/wp-content/uploads/2020/03/Asset-1.svg" alt="Down Arrow"> -->
        </a>
        <a id="say-hi-trigger" class="say-hi-trigger">
          Say Hi
          <div class="underline"></div>
        </a>
      </div>

    </div>
  </section>

  {% set work_with_us = post.meta('work_with_us') %}
  <section class="work-with-us lightbackground nonHeroSection" id="right-fit">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ work_with_us.headline }}</p>
          <h2>{{ work_with_us.h2 }}</h2>
          <div class="bodyText">{{ work_with_us.p }}</div>
        </div>
      </div>

      <div class="greybox"></div>

      <div class="imgBlock">
        <div class="img" style="background-image: url('{{ TimberImage(work_with_us.img).src }}');"></div>
      </div>

    </div>

  </section>

  {% set comparison = post.meta('comparison') %}
  <section class="comparison">
    <div class="accordion pre-accordion">
      {% for tab in comparison.tab %}
      <div class="tab" id="tab-{{ loop.index }}">
        <!-- <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" id="cross-{{ loop.index }}"> -->
        <div class="cross" id="cross-{{ loop.index }}">
          {% include './svg/Conversion Point.svg' %}
        </div>
        <div class="box">
          <h2>{{ tab.title }}</h2>
        </div>
      </div>
      <div class="openTab" id="openTab-{{ loop.index }}">

        <div class="partner">
          <h3>{{ tab.partner.title }}</h3>
          <div class="bodyText">
            {{ tab.partner.p }}
          </div>
        </div>

        <div class="line"></div>

        <div class="not-right">
          <h3>{{ tab.not_right.title }}</h3>
          <div class="bodyText">
            {{ tab.not_right.p }}
          </div>
        </div>


      </div>
      {% endfor %}

    </div>
  </section>


  {% set services = post.meta('services') %}
  <!-- <section class="services darkbackground nonHeroSection">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ services.headline }}</p>
          <h2>{{ services.h2 }}</h2>
          <div class="servicesList">
            {% for service_type in services.service_type %}
            <div class="service_type">
              <h3>{{ service_type.title }}</h3>
              <div class="horizontal"></div>
              <div class="list">
                {% for service in service_type.service %}
                <p>{{ service.title }}</p>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="greybox"></div>

      <div class="imgBlock">
        <div class="img" style="background-image: url('{{ TimberImage(services.img).src }}');"></div>
      </div>

    </div>

  </section> -->


  <!-- {% set approach = post.meta('approach') %}
  <section class="approach lightbackground nonHeroSection">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ approach.headline }}</p>
          <h2>{{ approach.h2 }}</h2>
        </div>
      </div>

      <div class="steps">
        {% for step in approach.steps %}
        <div class="step offScreenStep" id="step-{{ loop.index }}">
          <h3>0{{ loop.index }}</h3>
          <div class="box">
            <h4>{{ step.title }}</h4>
            <div class="underline"></div>
            <div class="bodyText">
              {{ step.p }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>


    </div>

  </section> -->


  {% set lets_talk = post.meta('lets_talk') %}
  <section class="lets-talk lightbackground nonHeroSection" id="lets-talk">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <h2>{{ lets_talk.h2 }}</h2>
          <div class="bodyText">
            {{ lets_talk. p}}
          </div>
        </div>
      </div>

      <div class="formWrap">
        {{ lets_talk.quote_form }}
      </div>

      <div class="greybox"></div>
      <div class="imgBlock">
        <div class="img" style="background-image: url('{{ TimberImage(lets_talk.img).src }}');"></div>
      </div>

    </div>

  </section>

</div>

{% endblock %}
