{% extends "base.twig" %}

{% block content %}

<div class="servicespage">


  {% set hero = post.meta('hero') %}
  <section class="hero">
    <div class="grid">
      {% set featured = post.meta('featured_partner') %}
      <div class="img" style="background-image: url('{{ post.thumbnail.src }}');"></div>

      <div class="opaque"></div>


      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="text heroText preHeroText">
        <h1>{{ hero.h1 }}</h1>
        <p>{{ hero.p }}</p>
      </div>

    </div>
  </section>

  {% set reach_out = post.meta('reach_out') %}
  <section class="reachOut">

    <div class="wrap">
      <h2>{{ reach_out.h2 }}</h2>
      <div class="list">
        {% for item in reach_out.list %}
        <div class="item">
          <p class="number">0{{ loop.index }}</p>
          <p class="title">{{ item.title }}</p>
          <div class="line"></div>
          <p class="quote">{{ item.quote }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% set specific_services = post.meta('specific_services') %}
  <section class="specific-services">

    <div class="grid">

      <div class="textWrap">
        <div class="text">
          <h2>{{ specific_services.h2 }}</h2>

          <div class="servicesList">
            {% for service in specific_services.service %}
            <div class="service_type">
              <h3>{{ service.title }}</h3>
              <div class="horizontal"></div>
              <ul class="desc">
                {% for item in service.list %}
                <li><p>{{ item.point }}</p></li>
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>

    </div>

  </section>

  {% set choose = post.meta('choose') %}
  <section class="choose">

    <div class="wrap">
      <h2>{{ choose.h2 }}</h2>
      <div class="list">
        {% for item in choose.list %}
        <div class="item">
          <div class="cross">
            {% include './svg/Conversion Point.svg' %}
          </div>
          <p>{{ item.p }}</p>
        </div>
        {% endfor %}
      </div>
    </div>

  </section>


  <section class="full_width_img">
    <div class="img" style="background-image: url('{{ TimberImage(post.full_width_img).src }}');"></div>
  </section>

  {% set long_haul = post.meta('long_haul') %}
  <!-- <section class="longHaul">

    <div class="wrap">
      <h2>{{ long_haul.h2 }}</h2>
      <p>{{ long_haul.p }}</p>
    </div>

  </section> -->


  {% set approach = post.meta('approach') %}
  <section class="approach lightbackground nonHeroSection">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <!-- <p class="headline">{{ approach.headline }}</p> -->
          <h2>{{ approach.h2 }}</h2>
        </div>
      </div>

      <div class="steps">
        {% for step in approach.steps %}
        <div class="step offScreenStep" id="step-{{ loop.index }}">
          <h3>0{{ loop.index }}</h3>
          <div class="box">
            <h4>{{ step.title }}</h4>
            <div class="underline"></div>
            <div class="bodyText">
              {{ step.p }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>


    </div>

  </section>



  <section class="more-partners">
    <div class="blackbox"></div>

    <div class="horizontal pre-horizontal"></div>
    <div class="cross pre-cross">
      {% include './svg/Conversion Point.svg' %}
    </div>
    <div class="vertical pre-vertical"></div>

    <div class="text">
      <!-- <p class="headline">Our Team</p> -->
      <h2>Meet our Partners who are Making the Dirt World a Better Place.</h2>
      <div class="cta">
        <a href="{{ site.link }}/partners">
          See the work
        </a>
        <div class="underline"></div>
      </div>
    </div>

    <div class="partner-slider swiper-container">

      <div class="swiper-wrapper">

        {% for partner in partners %}
          <div class="partner swiper-slide">
            <div class="img" style="background-image: url('{{ partner.thumbnail.src }}');"></div>
            <div class="hover">
              <div class="wrap">
                <p class="name">{{ partner.title }}</p>
                <p class="title">{{ partner.job_title }}</p>
                <p class="summary">{{ partner.summary | truncate(15)}}</p>
                <div class="cta">
                  <a href="{{ partner.link }}">
                    See their work
                  </a>
                  <div class="underline"></div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>

    </div>

  </section>


  {% set partnership = post.meta('partnership') %}
  <section class="partnerships">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="text">
        <h2>{{ partnership.h2 }}</h2>
        <p>{{ partnership.p }}</p>
        <!-- <div class="cta">
          <a href="{{ partnership.cta_link }}">
            {{ partnership.cta_text }}
          </a>
          <div class="underline"></div>
        </div> -->
      </div>

      <div class="mapWrap">
        <div id="map"></div>


        <!-- instantiates a few variables for use here -->
        <script>
          let mapInfoArr = []
          let partnerData
        </script>

        {% for partner in partnership.partners %}

        <!-- adds the data from acf for js access -->
        <script>
          partnerData = {
            name: '{{ partner.name }}',
            logo: '{{ TimberImage(partner.logo).src }}',
            services_rendered: '{{ partner.services_rendered }}',
            link: '{{ partner.details }}',
            map_info: {lat: {{ partner.map_info.lat }}, lng: {{ partner.map_info.lng }}, city: '{{ partner.map_info.city }}', state: '{{ partner.map_info.state }}'},

          }

          mapInfoArr.push(partnerData)
        </script>

        {% endfor %}

        <script>
        // Initialize and add the map
        function initialize() {
          let map
          let bounds = new google.maps.LatLngBounds()
          let mapOptions = {
              mapTypeId: 'roadmap',
              streetViewControl: false,
              mapTypeControl: false
          }

          // Display a map on the page
          map = new google.maps.Map(document.getElementById("map"), mapOptions);
          map.setTilt(45);

          let infoWindowArr = []

          // puts together info for hover window
          let infoWindowEl
          mapInfoArr.forEach((partner) => {
            infoWindowEl = [
              `
              <div class="info_content">
                <h3>${ partner.name }</h3>
                <p class="location">${ partner.map_info.city }, ${ partner.map_info.state }</p>
                <p class="services">${ partner.services_rendered }</p>
                <a class="link" href="${ partner.link }">View Project Details</a>
              </div>
              `
            ]

            infoWindowArr.push(infoWindowEl)
          })

          // Display multiple markers on a map
          let infoWindow = new google.maps.InfoWindow()


          mapInfoArr.forEach((partner, i) => {
            let position = ({"lat": partner.map_info.lat, "lng": partner.map_info.lng})
            bounds.extend(position)

            var pinIcon = new google.maps.MarkerImage(
                partner.logo,
                null, /* size is determined at runtime */
                null, /* origin is 0,0 */
                null, /* anchor is bottom center of the scaled image */
                new google.maps.Size(50, 50)
            )

            infoWindowEl =
              `
              <div class="info_content">
                <h3>${ partner.name }</h3>
                <p class="location">${ partner.map_info.city }, ${ partner.map_info.state }</p>
                <p class="services">${ partner.services_rendered }</p>
                <a class="link" href="${ partner.link }">View Project Details</a>
              </div>
              `

            marker = new google.maps.Marker({
                position: position,
                map: map,
                icon: pinIcon,
                title: partner.name
            })

            var infowindow = new google.maps.InfoWindow({
              content: infoWindowEl,
              position: position
            })



            marker.addListener('click', function() {
              infoWindow.setPosition(position)
              infowindow.open(map, marker)
            })

          })

          // Automatically center the map fitting all markers on the screen
          map.fitBounds(bounds)
        }
        </script>

        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdHD6qWVpDUjsh8W995sQ0Fn8Uqx5zSHc&callback=initialize">
        </script>


      </div>

    </div>

  </section>

  {% set contact = post.meta('contact') %}
  <section class="contact darkbackground nonHeroSection">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <h2>{{ contact.h2 }}</h2>
          <div class="cta">
            <a href="{{ contact.cta_link }}" id="team-cta">
              {{ contact.cta_text }}
            </a>
            <div class="underline"></div>
          </div>
        </div>
      </div>

      <div class="greybox"></div>

      <div class="imgBlock">
        <div class="dark"></div>
        <div class="img" style="background-image: url('{{ TimberImage(contact.img).src }}');"></div>
      </div>

    </div>

  </section>


</div>

{% endblock %}
