{% extends "base.twig" %}

{% block content %}

<div class="teampage">

  {% set hero = post.meta('hero') %}
  <section class="hero">
    <div class="grid">

      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="horizontal horizontal1 pre-horizontal"></div>
      <div class="vertical pre-vertical verticalCenter"></div>

      <div class="opaque"></div>

      <div class="blackbkgd"></div>

      <div class="text heroText preHeroText">
        <h1>{{ hero.h1 }}</h1>
        <div class="bodyText">{{ hero.p }}</div>
      </div>

      <div class="img imgBlock pre-imgBlock" style="background-image: url('{{ TimberImage(hero.img).src }}');"></div>

    </div>
  </section>

  <section class="team">
    {% for member in team %}
      <a class="member pushedDown" href="{{ member.link }}">
        <div class="img" style="background-image: url('{{ member.thumbnail.src }}');"></div>
        <div class="bottom">
          <div class="cross">
            {% include './svg/Conversion Point.svg' %}
          </div>
          <div class="text">
            <p class="name">{{ member.title }}</p>
            <p class="title">{{ member.job_title }}</p>
          </div>
        </div>
      </a>
    {% endfor %}
  </section>

  {% set travel_map = post.meta('travel_map') %}
  <section class="travelMap">
    <div class="text">
      <h2>{{ travel_map.h2 }}</h2>
      <p>{{ travel_map.p }}</p>
    </div>
    <div class="wrap">
      {% include './svg/travel map.svg' %}
    </div>
  </section>

  {% set follow = post.meta('follow') %}
  <section class="follow-social">
    <div class="text">
      <h2 class="headline">{{ follow.h2 }}</h2>
      <!-- <a href="https://www.instagram.com/{{ follow.handle }}/">@{{ follow.handle }}</a> -->
    </div>
    <div class="cta">
      <a href="https://www.instagram.com/{{ follow.handle }}/" id="team-cta">
        @{{ follow.handle }}
      </a>
      <div class="underline"></div>
    </div>
    <div class="feed pre-feed">
      <!-- 3 wide feed -->
      {% filter shortcodes %}
      [wp_my_instagram username="{{ follow.handle }}" limit="3" layout="3" size="medium"]
      {% endfilter %}
    </div>

  </section>


  {% set join = post.meta('join') %}
  <section class="join darkbackground nonHeroSection">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <h2>{{ join.h2 }}</h2>
          <div class="cta">
            <a href="{{ join.cta_link }}" id="team-cta">
              {{ join.cta_text }}
            </a>
            <div class="underline"></div>
          </div>
        </div>
      </div>

      <div class="greybox"></div>

      <div class="imgBlock">
        <div class="dark"></div>
        <div class="img" style="background-image: url('{{ TimberImage(join.img).src }}');"></div>
      </div>

    </div>

  </section>


</div>

{% endblock %}
