{% extends "base.twig" %}

{% block content %}

<div class="homepage">

  {% set hero = post.meta('hero') %}
  <section class="hero">
    <div class="img" style="background-image: linear-gradient(rgba(43,41,41, 0.4), rgba(43,41,41, 0.4)), url('{{ post.thumbnail.src }}');"></div>
    <div class="grid">

      <div class="horizontal pre-horizontal horizontal1"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical verticalCenter"></div>


      <div class="text preHeroText heroText">
        <h1><span>{{ hero.h1_color }}</span> {{ hero.h1 }}</h1>
        <p>{{ hero.p }}</p>
      </div>

      <a class="digIn" href="#dirtWorld">
        <p class="thinUppercase">{{ hero.scroll_cta }}</p>
        <img src="{{ site.link }}/wp-content/uploads/2020/02/White-Arrow.svg" alt="Dig In!">
      </a>

    </div>
  </section>

  {% set dirt_world = post.meta('dirt_world') %}
  <section class="dirtWorld nonHeroSection lightbackground" id="dirtWorld">

    <div class="grid">

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ dirt_world.headline }}</p>
          <h2>{{ dirt_world.h2 }}</h2>
          <div class="bodyText">{{ dirt_world.p }}</div>
        </div>
        <div class="stats">
          {% for stat in dirt_world.stat %}
          <div class="stat">
            <h2>{{ stat.number }}</h2>
            <p>{{ stat.p }}</p>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="greybox"></div>

      <div class="imgBlock">
        <div class="img" style="background-image: url('{{ TimberImage(dirt_world.img).src }}');"></div>
      </div>


      <div class="horizontal pre-horizontal horizontal1"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical verticalCenter"></div>


    </div>


  </section>

  {% set purpose = post.meta('purpose') %}
  <section class="purpose darkbackground nonHeroSection">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ purpose.headline }}</p>
          <h2>{{ purpose.h2 }}</h2>
          <div class="bodyText">{{ purpose.p }}</div>
        </div>
      </div>

      <div class="greybox"></div>

      <div class="bigText">
        <div class="topLine line">
          <h1>Production &</h1>
          <div class="crossout"></div>
        </div>
        <div class="bottomLine line">
          <h1>Profit</h1>
          <div class="crossout"></div>
        </div>
      </div>

      <div class="imgBlock">
        <div class="img" style="background-image: url('{{ TimberImage(purpose.img).src }}');"></div>
      </div>

    </div>

  </section>

  {% set people = post.meta('people') %}
  <section class="people lightbackground nonHeroSection">

    <div class="grid">


      <div class="horizontal pre-horizontal"></div>
      <div class="crosshair pre-cross cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="images">
        {% for img in people.img %}
        <div class="person" style="background-image: url('{{ TimberImage(img.src).src }}');"></div>
        {% endfor %}
      </div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ people.headline }}</p>
          <h2>{{ people.h2 }}</h2>
          <div class="bodyText">{{ people.p }}</div>
        </div>

      </div>

    </div>

  </section>



  {% set mission = post.meta('mission') %}
  <section class="mission lightbackground nonHeroSection">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ mission.headline }}</p>
          <h2>{{ mission.h2 }}</h2>
          <div class="bodyText">{{ mission.p }}</div>
        </div>
        <div class="cta">
          <a href="{{ site.link }}/about-us">
            MORE ABOUT US
          </a>
          <div class="underline"></div>
        </div>
      </div>

      <div class="greybox"></div>

      <div class="imgBlock">
        <div class="img" style="background-image: url('{{ TimberImage(mission.img).src }}');"></div>
      </div>

    </div>

  </section>




  {% set services = post.meta('services') %}
  <section class="services darkbackground nonHeroSection">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ services.headline }}</p>
          <h2>{{ services.h2 }}</h2>
          <div class="servicesList">
            {% for service_type in services.service_type %}
            <div class="service_type">
              <h3>{{ service_type.title }}</h3>
              <div class="horizontal"></div>
              <div class="list">
                {% for service in service_type.service %}
                <p>{{ service.title }}</p>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="cta">
            <a href="{{ site.link }}/services">
              Our Services
            </a>
            <div class="underline"></div>
          </div>
        </div>
      </div>

      <!-- <div class="greybox"></div> -->

      <!-- <div class="imgBlock">
        <div class="img" style="background-image: url('{{ TimberImage(services.img).src }}');"></div>
      </div> -->

    </div>

  </section>

  {% set insight = post.meta('insight') %}
  <!-- <section class="insight lightbackground nonHeroSection">

    <div class="singleInsight grid">
      <div class="categoryBlock">
        {% for tag in insight.tags %}
          {% if loop.index < 2 %}
          <p class="tag"> Article: {{ tag.title }}</p>
          {% endif %}
        {% endfor %}
        {% for cat in insight.categories %}
          {% if cat != 'Uncategorized' %}
          <h2 class="opaqueCat">{{ cat.title }}</h2>
          {% endif %}
        {% endfor %}
      </div>

      <div class="greybox"></div>

      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical"></div>

      {% if insight.png %}
      <img class="main" src="{{ TimberImage(insight.png).src }}">
      {% else %}
      <div class="img" style="background-image: url('{{ insight.thumbnail.src }}')"></div>
      {% endif %}
      <div class="titleWrap">
        <h2 class="title">{{ insight.title }}</h2>
        <div class="cta">
          <a href="{{ insight.link }}">
            Read Article
          </a>
          <div class="underline"></div>
        </div>
      </div>
    </div>

  </section> -->

  {% set contact = post.meta('contact') %}
  <section class="contact darkbackground nonHeroSection">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <h2>{{ contact.h2 }}</h2>
          <div class="cta">
            <a href="{{ contact.cta_link }}">
              {{ contact.cta_text }}
            </a>
            <div class="underline"></div>
          </div>
        </div>
      </div>

      <div class="greybox"></div>

      <div class="imgBlock">
        <div class="dark"></div>
        <div class="img" style="background-image: url('{{ TimberImage(contact.img).src }}');"></div>
      </div>

    </div>

  </section>

</div>

{% endblock %}
