{% extends "base.twig" %}

{% block content %}

<div class="storiespage">

  {% set hero = post.meta('hero') %}
  <section class="hero">
    <div class="grid">

      <div class="horizontal horizontal1 pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical verticalCenter"></div>


      <div class="text">
        <h1>{{ hero.h1 }}</h1>
      </div>

      <div class="opaquebox"></div>

      <div class="blackbox"></div>

      <div class="links">
        <div class="cta">
          <a href="{{ hero.blog_cta.link }}">
            {{ hero.blog_cta.text }}
          </a>
          <div class="underline"></div>
        </div>
        <div class="cta">
          <a href="{{ hero.podcast_cta.link }}" class="join-link">
            {{ hero.podcast_cta.text }}
          </a>
          <div class="underline"></div>
        </div>
      </div>

    </div>
  </section>

  <section class="blogs">

    <div class="filterStories">

      <div class="visibleFilter">
        <p>Filter</p>
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Dark-X.svg">
        <div class="underline"></div>
      </div>

      <div class="form-wrap">
        <form action="{{ site.link }}/wp-admin/admin-ajax.php" method="POST" id="storiesfilter">
          <div class="select-wrap">
            <select name="jobtitlefilter">
              <option value="Job Title" disabled selected>Job Title</option>
              {% for term in terms %}
              <option value="{{ term.term_id }}">{{ term.name }}</option>
              {% endfor %}
            </select>
            <div class="arrows">
              <i class="fas fa-sort"></i>
            </div>
          </div>
          <button>Apply</button>
          <input type="hidden" name="action" value="storiesfilter">
      </form>
      </div>

    </div>

    <div class="list">

      <div class="all-stories">
        {% for story in stories %}
        <a href="{{ story.link }}" class="singlestory">
          <div class="opaque"></div>
          <div class="img" style="background-image: url('{{ story.thumbnail.src }}')"></div>
          <p class="date">{{ story.job_title }}</p> <!-- date -->
          <h2>{{ story.title }}</h2> <!-- title -->
          <!-- <div class="underline"></div> -->
          <p class="content">{{ story.summary | excerpt(50) }}</p>
          <div class="greyishbox"></div>
          <div class="readmore">
            <h3>Read Story</h3>
            <div class="underline"></div>
          </div>
        </a>
        {% endfor %}
      </div>

      <div class="filtered-stories" id="filtered-stories">

      </div>


    </div>

    <div class="pagination">
        {% if stories.pagination.prev %}
            <a href="{{ stories.pagination.prev.link}}" class="prev {{ stories.pagination.prev.link|length ? '' : 'invisible'}}"><i class="fas fa-chevron-left"></i> Prev</a>
        {% endif %}
        <ul class="pages">
            {% for page in stories.pagination.pages %}
                <li>
                    {% if page.link %}
                        <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                    {% else %}
                        <span class="{{page.class}}">{{page.title}}</span>
                    {% endif %}
                </li>
            {% endfor %}
            
        </ul>
        {% if stories.pagination.next %}
            <a href="{{ stories.pagination.next.link}}" class="next {{ stories.pagination.next.link|length ? '' : 'invisible'}}">Next <i class="fas fa-chevron-right"></i></a>
        {% endif %}
    </div>


  </section>

</div>

{% endblock %}
