{% extends "base.twig" %}

{% block content %}

<div class="aboutpage">


  {% set hero = post.meta('hero') %}
  <section class="hero">
    <div class="grid">
      <div class="img imgBlock" style="background-image: url('{{ TimberImage(hero.img).src }}');"></div>

      <div class="opaque"></div>


      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross crosshair">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="text preHeroText heroText">
        <h1>{{ hero.h1 }}</h1>
        <p>{{ hero.p }}</p>
      </div>

      <div class="hero-cta" id="videoTriggerAbout">
        <div class="cta">
          <!-- link to video? video trigger? -->
          <a>
            {{ hero.cta_text }}
          </a>
          <div class="underline"></div>
        </div>
        <div class="arrow">
          <img src="{{ site.link }}/wp-content/uploads/2020/02/White-Arrow.svg" alt="">
        </div>
      </div>

    </div>
  </section>

  <!-- hidden modal -->
  <div class="videoWrap">
    <img src="{{ site.link }}/wp-content/uploads/2020/02/Dark-X.svg" alt="" id="closeVideo">
    {% filter shortcodes %}
    [arve url="{{ site.link }}/wp-content/uploads/2020/03/BuildWitt-Intro-Video.mp4" /]
    {% endfilter %}
  </div>


  {% set aaron = post.meta('aaron') %}
  <section class="aaron">

    <div class="aaron-slider swiper-container-aaron">

      <div class="swiper-wrapper">

        <div class="aaron-slide slide-1 swiper-slide">

          <div class="grid">

            <div class="horizontal pre-horizontal"></div>
            <div class="cross pre-cross">
              {% include './svg/Conversion Point.svg' %}
            </div>
            <div class="vertical pre-vertical"></div>

            <div class="greybox">
              <div class="btns">
                <div class="btn swiper-button-prev">
                  <img src="{{ site.link }}/wp-content/uploads/2020/03/Btn.svg" alt="">
                </div>

                <div class="numbers">
                  <h3>1/3</h3>
                </div>

                <div class="btn swiper-button-next">
                  <img src="{{ site.link }}/wp-content/uploads/2020/03/Btn.svg" alt="">
                </div>
              </div>
            </div>

            <div class="imgWrap imgBlock">
              <div class="img img1" style="background-image: url('{{ TimberImage(aaron.slide1.img1).src }}')"></div>
              <div class="img img2" style="background-image: url('{{ TimberImage(aaron.slide1.img2).src }}')"></div>
            </div>

            <div class="textWrap">
              <div class="text">
                <p class="headline">{{ aaron.slide1.headline }}</p>
                <h2>{{ aaron.slide1.h2 }}</h2>
                <p class="bodyText">{{ aaron.slide1.p }}</p>
              </div>
            </div>

          </div>



        </div>

        <div class="aaron-slide slide-2 swiper-slide">

          <div class="grid">

            <div class="horizontal pre-horizontal"></div>
            <div class="cross pre-cross">
              {% include './svg/Conversion Point.svg' %}
            </div>
            <div class="vertical pre-vertical"></div>

            <div class="greybox">
              <div class="btns">
                <div class="btn swiper-button-prev">
                  <img src="{{ site.link }}/wp-content/uploads/2020/03/Btn.svg" alt="">
                </div>

                <div class="numbers">
                  <h3>2/3</h3>
                </div>

                <div class="btn swiper-button-next">
                  <img src="{{ site.link }}/wp-content/uploads/2020/03/Btn.svg" alt="">
                </div>
              </div>
            </div>

            <div class="imgWrap">
              <div class="img img1" style="background-image: url('{{ TimberImage(aaron.slide2.img1).src }}')"></div>
              <div class="img img2" style="background-image: url('{{ TimberImage(aaron.slide2.img2).src }}')"></div>
            </div>

            <div class="textWrap">
              <div class="text">
                <p class="headline">{{ aaron.slide2.headline }}</p>
                <h2>{{ aaron.slide2.h2 }}</h2>
                <p class="bodyText">{{ aaron.slide2.p }}</p>
              </div>
            </div>

          </div>


        </div>

        <div class="aaron-slide slide-3 swiper-slide">

          <div class="grid">

            <div class="horizontal pre-horizontal"></div>
            <div class="cross pre-cross">
              {% include './svg/Conversion Point.svg' %}
            </div>
            <div class="vertical pre-vertical"></div>

            <div class="greybox">
              <div class="btns">
                <div class="btn swiper-button-prev">
                  <img src="{{ site.link }}/wp-content/uploads/2020/03/Btn.svg" alt="">
                </div>

                <div class="numbers">
                  <h3>3/3</h3>
                </div>

                <div class="btn swiper-button-next">
                  <img src="{{ site.link }}/wp-content/uploads/2020/03/Btn.svg" alt="">
                </div>
              </div>
            </div>

            <div class="imgWrap switch">
              <div class="img img1" style="background-image: url('{{ TimberImage(aaron.slide3.img1).src }}')"></div>
              <div class="img img2" style="background-image: url('{{ TimberImage(aaron.slide3.img2).src }}')"></div>
            </div>

            <div class="textWrap">
              <div class="text">
                <p class="headline">{{ aaron.slide3.headline }}</p>
                <h2>{{ aaron.slide3.h2 }}</h2>
                <p class="bodyText">{{ aaron.slide3.p }}</p>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>








  {% set teamContent = post.meta('team') %}
  <section class="more-team">
    <div class="blackbox"></div>

    <div class="horizontal pre-horizontal"></div>
    <div class="cross pre-cross">
      {% include './svg/Conversion Point.svg' %}
    </div>
    <div class="vertical pre-vertical"></div>

    <div class="text">
      <p class="headline">{{ teamContent.headline }}</p>
      <h2>{{ teamContent.h2 }}</h2>
      <div class="cta">
        <a href="{{ teamContent.cta_link }}">
          {{ teamContent.cta_text }}
        </a>
        <div class="underline"></div>
      </div>
    </div>

    <div class="team-slider swiper-container">

      <div class="swiper-wrapper">

        {% for member in team %}
          {% if member.title != post.title %}
          <div class="member swiper-slide">
            <div class="img" style="background-image: url('{{ member.thumbnail.src }}');"></div>
            <div class="hover">
              <div class="wrap">
                <p class="name">{{ member.title }}</p>
                <p class="title">{{ member.job_title }}</p>
                <div class="cta">
                  <a href="{{ member.link }}">
                    Meet {{ member.first_name }}
                  </a>
                  <div class="underline"></div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}

      </div>

    </div>

  </section>



  {% set values = post.meta('values') %}
  <section class="values">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="greybox"></div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ values.headline }}</p>
          <h2>{{ values.h2 }}</h2>
        </div>
      </div>

      <div class="valueList">

        {% for value in values.value %}
        <div class="value">
          <div class="box">
            <h3>{{ value.title }}</h3>
            <p class="bodyText">{{ value.desc }}</p>
          </div>
          <h2>0{{ loop.index }}</h2>
        </div>
        {% endfor %}

      </div>



    </div>

  </section>

  {% set model = post.meta('model') %}
  <section class="model">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="greybox"></div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ model.headline }}</p>
          <h2>{{ model.h2 }}</h2>
          <p class="bodyText">{{ model.p }}</p>
        </div>
      </div>

      <div class="img imgBlock" style="background-image: url('{{ TimberImage(model.img).src }}');"></div>


    </div>

  </section>


  {% set contact = post.meta('contact') %}
  <section class="contact darkbackground nonHeroSection">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="crosshair pre-cross cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <h2>{{ contact.h2 }}</h2>
          <div class="cta">
            <a href="{{ contact.cta_link }}" id="team-cta">
              {{ contact.cta_text }}
            </a>
            <div class="underline"></div>
          </div>
        </div>
      </div>

      <div class="greybox"></div>

      <div class="imgBlock">
        <div class="dark"></div>
        <div class="img" style="background-image: url('{{ TimberImage(contact.img).src }}');"></div>
      </div>

    </div>

  </section>


</div>

{% endblock %}
