{% extends "base.twig" %}

{% block content %}

<div class="partnerspage">


  <section class="hero">
    <div class="grid">
      {% set featured = post.meta('featured_partner') %}
      <div class="img" style="background-image: url('{{ TimberImage(featured.img).src }}');"></div>

      <div class="opaque"></div>


      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="text heroText preHeroText">
        <h1>{{ post.hero_text }}</h1>
      </div>

      <div class="featuredText">
        <h3>{{ featured.name }}</h3>
        <div class="cta">
          <a href="{{ featured.partner_link }}">
            See Featured Work
          </a>
          <div class="underline"></div>
        </div>
      </div>

    </div>
  </section>

  <section class="partner-filtering">

    <!-- <div class="filtering">
      <h3>Filter By:</h3>
      <div class="filter-wrap">
        {% filter shortcodes %}
        [searchandfilter taxonomies="type_of_work,company_name,location" submit_label="filter projects"]
        {% endfilter %}
      </div>
    </div> -->

    <div class="partners">
      <!-- <h2 class="heading">The work.</h2> -->
      {% for partner in partners %}
      <div class="partner">
        <div class="textBox">
          {% if partner.partner_check %}
          <div class="partner-check">
            <p>BuildWitt Partner</p>
          </div>
          {% endif %}
          <div class="text">
            <h2>{{ partner.title }}</h2>
            <p>{{ partner.summary }}</p>
            <div class="cta">
              <a href="{{ partner.link }}">
                See Work
              </a>
              <div class="underline"></div>
            </div>
          </div>
        </div>
        <div class="img" style="background-image: url('{{ partner.thumbnail.src }}');"></div>
      </div>
      {% endfor %}

      <!-- <div class="pagination">
          {% if partners.pagination.prev %}
              <a href="{{ partners.pagination.prev.link}}" class="prev {{ partners.pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
          {% endif %}
          <ul class="pages">
              {% for page in partners.pagination.pages %}
                  <li>
                      {% if page.link %}
                          <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                      {% else %}
                          <span class="{{page.class}}">{{page.title}}</span>
                      {% endif %}
                  </li>
              {% endfor %}
          </ul>
          {% if partners.pagination.next %}
              <a href="{{ partners.pagination.next.link}}" class="next {{ partners.pagination.next.link|length ? '' : 'invisible'}}">Next</a>
          {% endif %}
      </div> -->

    </div>

  </section>





  {% set contact = post.meta('contact') %}
  <section class="contact darkbackground nonHeroSection">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <h2>{{ contact.h2 }}</h2>
          <div class="cta">
            <a href="{{ contact.cta_link }}" id="team-cta">
              {{ contact.cta_text }}
            </a>
            <div class="underline"></div>
          </div>
        </div>
      </div>

      <div class="greybox"></div>

      <div class="imgBlock">
        <div class="dark"></div>
        <div class="img" style="background-image: url('{{ TimberImage(contact.img).src }}');"></div>
      </div>

    </div>

  </section>


</div>

{% endblock %}
