{% extends "base.twig" %}

{% block content %}

<div class="blogpage">

  {% set hero = post.meta('hero') %}
  <section class="hero">
    <div class="grid">

      <div class="horizontal horizontal1 pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical verticalCenter"></div>


      <div class="text">
        <h1>{{ hero.h1 }}</h1>
      </div>

      <div class="opaquebox"></div>

      <div class="blackbox"></div>

      <div class="links">
        <div class="cta">
          <a href="{{ hero.stories_cta.link }}">
            {{ hero.stories_cta.text }}
          </a>
          <div class="underline"></div>
        </div>
        <div class="cta">
          <a href="{{ hero.podcast_cta.link }}" class="join-link">
            {{ hero.podcast_cta.text }}
          </a>
          <div class="underline"></div>
        </div>
      </div>

    </div>
  </section>

  <section class="blogs">

    <div class="filter">

      <div class="visibleFilter">
        <p>Filter</p>
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Dark-X.svg">
        <div class="underline"></div>
      </div>

      <div class="form-wrap">
        <form action="{{ site.link }}/wp-admin/admin-ajax.php" method="POST" id="filter">
          <div class="select-wrap">
            <select name="categoryfilter">
              <option value="Category" disabled selected>Category</option>
              {% for cat in cats %}
              {% if cat.name != 'Uncategorized' %}
              <option value="{{ cat.term_id }}">{{ cat.name }}</option>
              {% endif %}
              {% endfor %}
            </select>
            <div class="arrows">
              <i class="fas fa-sort"></i>
            </div>
          </div>
          <button>Apply</button>
          <input type="hidden" name="action" value="customfilter">
      </form>
      </div>

    </div>

    <div class="list">

      <div class="all-blogs">
        {% for blog in blogs %}
        <a href="{{ blog.link }}" class="singleblog">
          <div class="opaque"></div>
          <div class="img" style="background-image: url('{{ blog.thumbnail.src }}')"></div>
          <p class="date">{{ blog.date | date('m.d.Y')}}</p> <!-- date -->
          <h2>{{ blog.title }}</h2> <!-- title -->
          <div class="underline"></div>
          <p class="content">{{ blog.content | excerpt(50) }}</p>
          <div class="greyishbox"></div>
          <div class="readmore">
            <h3>Read More</h3>
            <div class="underline"></div>
          </div>
        </a>
        {% endfor %}
      </div>

      <div class="filtered-blogs" id="filtered-blogs">

      </div>


    </div>

    <div class="pagination">
        {% if blogs.pagination.prev %}
            <a href="{{ blogs.pagination.prev.link}}" class="prev {{ blogs.pagination.prev.link|length ? '' : 'invisible'}}"><i class="fas fa-chevron-left"></i> Prev</a>
        {% endif %}
        <ul class="pages">
            {% for page in blogs.pagination.pages %}
                <li>
                    {% if page.link %}
                        <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                    {% else %}
                        <span class="{{page.class}}">{{page.title}}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if blogs.pagination.next %}
            <a href="{{ blogs.pagination.next.link}}" class="next {{ blogs.pagination.next.link|length ? '' : 'invisible'}}">Next <i class="fas fa-chevron-right"></i></a>
        {% endif %}
    </div>

  </section>

</div>

{% endblock %}
