{# <div class="headshot" style="background-image: url('{{ site.link }}/wp-content/uploads/2019/12/19027_BUILDWITT_0071.jpg');"></div>

<div class="headshot" style="background-image: url('{{ site.link }}/wp-content/uploads/2019/12/18031_BUILDWITT-57.jpg');"></div>

<div class="headshot filler"></div>

<div class="headshot" style="background-image: url('{{ site.link }}/wp-content/uploads/2019/12/18009_BUILDWITT-20.jpg');"></div>

<div class="headshot" style="background-image: url('{{ site.link }}/wp-content/uploads/2019/12/18051_BUILDWITT_0119.jpg');"></div>

<div class="headshot" style="background-image: url('{{ site.link }}/wp-content/uploads/2019/12/18055_BUILDWITT_2106.jpg');"></div>


<div class="headshot" style="background-image: url('{{ site.link }}/wp-content/uploads/2019/12/19002_BUILDWITT_0165.jpg');"></div>

<div class="headshot" style="background-image: url('{{ site.link }}/wp-content/uploads/2019/12/18001_BUILDWITT_1629-scaled.jpg');"></div>

<div class="headshot filler"></div>

<div class="headshot" style="background-image: url('{{ site.link }}/wp-content/uploads/2019/12/18034_BUILDWITT-5.jpg');"></div>

<div class="headshot" style="background-image: url('{{ site.link }}/wp-content/uploads/2019/12/19026_BUILDWITT_0945.jpg');"></div>

<div class="headshot" style="background-image: url('{{ site.link }}/wp-content/uploads/2019/12/19026_BUILDWITT_0319.jpg');"></div>

<div class="headshot" style="background-image: url('{{ site.link }}/wp-content/uploads/2019/12/18050_BUILDWITT-65.jpg');"></div>

<div class="headshot" style="background-image: url('{{ site.link }}/wp-content/uploads/2019/12/19047_BUILDWITT_1386.jpg');"></div>

<div class="headshot filler"></div> #}
