{% extends "base.twig" %}

{% block content %}
	<div class="singleteampage">
		<section class="member-content">
			<div class="grid">

				<div class="horizontal pre-horizontal horizontal1"></div>
				<div class="cross pre-cross">
					{% include './svg/Conversion Point.svg' %}
				</div>
				<div class="vertical pre-vertical verticalCenter"></div>

				<div class="grey"></div>

				<div class="name mobileOnly">
					<h1>{{ post.title }}</h1>
					<p class="title">{{ post.job_title }}</p>
				</div>

				<div class="large-photo" style="background-image: url('{{ TimberImage(post.large_photo).src }}');">
					<div class="opaque mobileOnly"></div>
				</div>
				<div class="small-photo" style="background-image: url('{{ TimberImage(post.small_photo).src }}');"></div>

				<div class="main-text">
					<h1 class="desktopOnly">{{ post.title }}</h1>
					<p class="title desktopOnly">{{ post.job_title }}</p>
					<div class="content">
						{{ post.content }}
					</div>
				</div>

				{% set featured_question = post.meta('featured_question') %}
				<div class="featured-question">
					<div class="grey"></div>
					<div class="text">
						<p class="headline">{{ featured_question.q }}</p>
						<div class="answer">
							{{ featured_question.a }}
						</div>
					</div>
				</div>

			</div>
		</section>

		<section class="more-team">
			<div class="blackbox"></div>

			<div class="horizontal pre-horizontal"></div>
			<div class="cross pre-cross">
				{% include './svg/Conversion Point.svg' %}
			</div>
			<div class="vertical pre-vertical"></div>

			<div class="text">
				<p class="headline">Our Team</p>
				<h2>Meet more of our dirt-loving team.</h2>
				<div class="cta">
					<a href="{{ site.link }}/about-us">
						Meet the dirt squad
					</a>
					<div class="underline"></div>
				</div>
			</div>



			<div class="team-slider swiper-container">

				<div class="swiper-wrapper">

					{% for member in team %}
						{% if member.title != post.title %}
						<div class="member swiper-slide">
							<div class="img" style="background-image: url('{{ member.thumbnail.src }}');"></div>
							<div class="hover">
								<div class="wrap">
									<p class="name">{{ member.title }}</p>
									<p class="title">{{ member.job_title }}</p>
									<div class="cta">
										<a href="{{ member.link }}">
											Meet {{ member.first_name }}
										</a>
										<div class="underline"></div>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					{% endfor %}

				</div>

			</div>


		</section>

	</div>
{% endblock %}
