{% extends "base.twig" %}

{% block content %}
	<div class="single-pod-page">

		<section class="hero">
	    <div class="grid">

	      <div class="opaque"></div>

	      <div class="horizontal pre-horizontal"></div>
	      <div class="cross pre-cross crosshair">
	        {% include './svg/Conversion Point.svg' %}
	      </div>
	      <div class="vertical pre-vertical"></div>

				<p class="headline">{{ post.job_title }}</p>

	      <div class="text preHeroText heroText">
	        <h1>{{ post.title }}</h1>
	      </div>

	    </div>
	  </section>

		<section class="post-content">
			<div style="background-image: url('{{ post.thumbnail.src }}');" class="featured-img"></div>
			<div class="content-text">
				<p class="date">{{ post.date | date('m.j.Y') }}</p>
				<div class="main-text">
					{{ post.content }}
				</div>
			</div>

		</section>


		<section class="more-more">
			<div class="blackbox"></div>

			<div class="horizontal pre-horizontal"></div>
			<div class="cross pre-cross">
				{% include './svg/Conversion Point.svg' %}
			</div>
			<div class="vertical pre-vertical"></div>

			<div class="text">
				<p class="headline">{{ teamContent.headline }}</p>
				<h2>Check out more stories from the Dirt World</h2>
				<div class="cta">
					<a href="{{ site.link }}/dirt-talk/">
						See All Stories
					</a>
					<div class="underline"></div>
				</div>
			</div>

			<div class="more-slider swiper-container">

				<div class="swiper-wrapper">

					{% for story in stories %}
						{% if story.title != post.title %}
						<div class="member swiper-slide">
							<div class="img" style="background-image: url('{{ story.thumbnail.src }}');"></div>
							<div class="hover">
								<div class="wrap">
									<p class="title">{{ story.title }}</p>
									<div class="cta">
										<a href="{{ story.link }}">
											Read About {{ post.title }}
										</a>
										<div class="underline"></div>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					{% endfor %}

				</div>

			</div>

		</section>


	</div><!-- single-blog-page -->
{% endblock %}
