{% extends "base.twig" %}

{% block content %}

<div class="partnerpage">

  {% set hero = post.meta('hero') %}
  <section class="hero">
    <div class="grid">
      <div class="img mobileOnly" style="background-image: url('{{ TimberImage(hero.mobile_img).src }}');"></div>
      <div class="img desktopOnly" style="background-image: url('{{ TimberImage(hero.desktop_img).src }}');"></div>

      <div class="opaque"></div>

    </div>
  </section>

  {% set intro = post.meta('intro') %}
  <section class="intro">

    <div class="grid">

      <div class="logo">
        <img src="{{ TimberImage(intro.img).src }}" alt="{{ post.title }} Logo">
      </div>

      <div class="textWrap">
        <div class="text">
          <!-- <p class="headline">{{ intro.headline }}</p> -->
          <h2>{{ intro.h2 }}</h2>
          <p>{{ intro.p }}</p>
        </div>
      </div>

    </div>

  </section>


  {% set fullwidth = post.meta('fullwidth') %}
  <section class="fullVideoOrImage">

    <div class="grid">

      <div class="img" style="background-image: url('{{ TimberImage(fullwidth.img).src }}');">
        {% if fullwidth.video %}
        <div class="opaque"></div>
        <div class="play" id="play_partner_video">
          <img src="{{ site.link }}/wp-content/uploads/2020/03/White-circle-arrow.svg">
          <div class="cta">
            <a>
              {{ fullwidth.video_label }}
            </a>
            <div class="underline"></div>
          </div>
        </div>
        {% endif %}
      </div>

      {% if fullwidth.video %}
      <div class="video">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Dark-X.svg" id="closeVideo">
        <!-- // embed link -->
        {% filter shortcodes %}
        [arve url="{{ fullwidth.video }}" promote_link="no" controls="no" /]
        {% endfilter %}
      </div>
      {% endif %}

    </div>


  </section>


  {% set branding = post.meta('branding') %}
  <section class="branding">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ branding.headline }}</p>
          <h2>{{ branding.h2 }}</h2>
          <p class="bodyText">{{ branding.p }}</p>
        </div>
      </div>

      <div class="logo">
        <img src="{{ branding.logo }}" alt="{{ post.title }} Secondary Logo">
      </div>

      <div class="column-list">
        {% for col in branding.column %}
        <div class="column">
          <h3>{{ col.title }}</h3>
          <div class="horizontal"></div>
          <div class="desc">
            <p>{{ col.desc }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="greybox"></div>

    </div>

  </section>



  {% set values = post.meta('values') %}
  <section class="values">

    <div class="grid" style="background-color: {{ post.featured_color }};">
      <h2>Values</h2>
      <div class="value-list">
        {% for value in values.value %}
          <div class="value">
            <h3>{{ value.title }}</h3>
            <div class="horizontal"></div>
            <div class="desc">
              <p>{{ value.desc }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </section>


  {% set gallery = post.meta('gallery') %}
  <section class="gallery">

    <div class="grid">

      <div class="textWrap">
        <div class="text">
          <h2>{{ gallery.h2 }}</h2>
          <p>{{ gallery.p }}</p>
        </div>
      </div>

      <div class="gallery-slider swiper-container">

        <div class="swiper-wrapper">

          {% for img in gallery.img_list %}
            <div class="img swiper-slide">
              <img src="{{ TimberImage(img.img).src }}" >
            </div>
          {% endfor %}

        </div>

        <div class="swiper-nav">
          <img src="{{ site.link }}/wp-content/uploads/2020/04/arrow.svg" class="swiper-button-prev-gallery">
          <img src="{{ site.link }}/wp-content/uploads/2020/04/arrow.svg" class="swiper-button-next-gallery">
        </div>

      </div>

    </div>

  </section>



  <!-- {% set storytelling = post.meta('storytelling') %}
  <section class="storytelling">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ storytelling.headline }}</p>
          <h2>{{ storytelling.h2 }}</h2>
        </div>
      </div>


      <div class="story-slider swiper-container">

        <div class="swiper-wrapper">

          {% for story in storytelling.story %}
            <div class="story swiper-slide">

            </div>
          {% endfor %}

        </div>

      </div>

      <div class="images">
        {% for img in storytelling.img %}
        <div class="img" style="background-image: url('{{ TimberImage(img.img).src }}');"></div>
        {% endfor %}
      </div>

    </div>

  </section> -->



  {% set people = post.meta('people') %}
  {% if people.h2 %}
  <section class="people">

    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ people.headline }}</p>
          <h2>{{ people.h2 }}</h2>
        </div>
      </div>

      <div class="column-list">
        {% for col in people.column %}
        <div class="column">
          <h3>{{ col.title }}</h3>
          <div class="horizontal"></div>
          <div class="desc">
            <p>{{ col.desc }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="greybox"></div>

    </div>

  </section>
  {% endif %}

  {% set employee_highlight = post.meta('employee_highlight') %}
  {% if employee_highlight.name %}
  <section class="employee_highlight">
    <div class="grid">
      <div class="black"></div>
      <i class="fas fa-quote-right"></i>
      <div class="text">
        <p class="name">{{ employee_highlight.name }}</p>
        <p class="title" style="color: {{ post.featured_color }};"><span style="color: {{ post.featured_color }};">{{ employee_highlight.title }},</span> {{ post.title }} </p>
        <p class="quote">{{ employee_highlight.quote }}</p>
      </div>
      <div class="headshot" style="background-image: url('{{ TimberImage(employee_highlight.headshot).src }}')"></div>
    </div>
  </section>
  {% endif %}


  {% set photography = post.meta('photography') %}
  <section class="photography">
    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ photography.headline }}</p>
          <h2>{{ photography.h2 }}</h2>
          <p>{{ photography.p }}</p>
        </div>
      </div>


      <div class="photography-slider swiper-container">

        <div class="swiper-wrapper">

          {% for img in photography.img_list %}
            <div class="img-slide swiper-slide {{ img.orientation }}">
              <div class="img" style="background-image: url('{{ TimberImage(img.img).src }}');"></div>
            </div>
          {% endfor %}

        </div>

        <div class="swiper-nav">
          <img src="{{ site.link }}/wp-content/uploads/2020/04/arrow.svg" class="swiper-button-prev-photography">
          <img src="{{ site.link }}/wp-content/uploads/2020/04/arrow.svg" class="swiper-button-next-photography">
        </div>

      </div>

    </div>
  </section>



  {% set laptop = post.meta('laptop') %}
  <section class="laptop">
    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ laptop.headline }}</p>
          <h2>{{ laptop.h2 }}</h2>
          <p>{{ laptop.p }}</p>
        </div>
      </div>

      <div class="laptop-img">
        <img src="{{ site.link }}/wp-content/uploads/2020/04/Laptop-Mockup-e1585755198830.png" alt="">
        <div class="desktop-img" style="background-image: url('{{ TimberImage(laptop.website_shot).src }}');"></div>
      </div>


    </div>
  </section>



  {% set social_media = post.meta('social_media') %}
  {% if social_media.h2 %}
  <section class="social_media">
    <div class="grid">

      <div class="horizontal pre-horizontal"></div>
      <div class="cross pre-cross">
        {% include './svg/Conversion Point.svg' %}
      </div>
      <div class="vertical pre-vertical"></div>

      <div class="textWrap">
        <div class="text">
          <p class="headline">{{ social_media.headline }}</p>
          <h2>{{ social_media.h2 }}</h2>
          <p>{{ social_media.p }}</p>
        </div>
      </div>

      <a href="{{ social_media.instagram_link }}" class="follow">
        <div>
          <p>Follow {{ post.informal_name }}</p>
          <div class="underline"></div>
        </div>
        <i class="fab fa-instagram fa-3x"></i>
      </a>

      <div class="img_blocks">
        <div class="img" style="background-image: url('{{ TimberImage(social_media.img1).src }}')"></div>
        <div class="img" style="background-image: url('{{ TimberImage(social_media.img2).src }}')"></div>
      </div>

    </div>
  </section>

  {% endif %}


  <section class="video">

  </section>


  {% set other_partners = post.meta('other_partners') %}
  <section class="more-partners">
    <div class="blackbox"></div>

    <div class="horizontal pre-horizontal"></div>
    <div class="cross pre-cross">
      {% include './svg/Conversion Point.svg' %}
    </div>
    <div class="vertical pre-vertical"></div>

    <div class="text">
      <!-- <p class="headline">Our Team</p> -->
      <h2>{{ other_partners.h2 }}</h2>
      <div class="cta">
        <a href="{{ site.link }}/partners">
          {{ other_partners.cta_text }}
        </a>
        <div class="underline"></div>
      </div>
    </div>

    <div class="partner-slider swiper-container">

      <div class="swiper-wrapper">

        {% for partner in partners %}
          {% if partner.title != post.title %}
          <div class="partner swiper-slide">
            <div class="img" style="background-image: url('{{ partner.thumbnail.src }}');"></div>
            <div class="hover">
              <div class="wrap">
                <p class="name">{{ partner.title }}</p>
                <p class="title">{{ partner.job_title }}</p>
                <p class="summary">{{ partner.summary | truncate(15)}}</p>
                <div class="cta">
                  <a href="{{ partner.link }}">
                    See their work
                  </a>
                  <div class="underline"></div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}

      </div>

    </div>

  </section>



</div>

{% endblock %}
