{% extends "base.twig" %}

{% block content %}
	<div class="single-blog-page">

		<section class="hero">
	    <div class="grid">

	      <div class="opaque"></div>

	      <div class="horizontal pre-horizontal"></div>
	      <div class="cross pre-cross crosshair">
	        {% include './svg/Conversion Point.svg' %}
	      </div>
	      <div class="vertical pre-vertical"></div>

				<p class="headline">{{ post.category }}</p>

	      <div class="text preHeroText heroText">
	        <h1>{{ post.title }}</h1>
	      </div>

	    </div>
	  </section>

		<section class="post-content">
			<div style="background-image: url('{{ post.thumbnail.src }}');" class="featured-img"></div>
			<div class="content-text">
				<p class="date">{{ post.date | date('m.j.Y') }}</p>
				<div class="author">
					{% if post.author_name %}
					<h3 class="name">Written by: {{ post.author_name }}</h3>
					{% else %}
					<h3 class="name">Written by: {{ post.author.name }}</h3>
					{% endif %}
					<div class="underline"></div>
				</div>
				<div class="main-text">
					{{ post.content }}
				</div>
			</div>

		</section>

		{% include 'newsletter-form.twig' %}

		<section class="more-more">
			<div class="blackbox"></div>

			<div class="horizontal pre-horizontal"></div>
			<div class="cross pre-cross">
				{% include './svg/Conversion Point.svg' %}
			</div>
			<div class="vertical pre-vertical"></div>

			<div class="text">
				<p class="headline">{{ teamContent.headline }}</p>
				<h2>Check out other Dirt Thoughts.</h2>
				<div class="cta">
					<a href="{{ site.link }}/blog/">
						See All Articles
					</a>
					<div class="underline"></div>
				</div>
			</div>

			<div class="more-slider swiper-container">

				<div class="swiper-wrapper">

					{% for blog in blogs %}
						{% if blog.title != post.title %}
						<div class="member swiper-slide">
							<div class="img" style="background-image: url('{{ blog.thumbnail.src }}');"></div>
							<div class="hover">
								<div class="wrap">
									<p class="title">{{ blog.title }}</p>
									<div class="cta">
										<a href="{{ blog.link }}">
											Read Article
										</a>
										<div class="underline"></div>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					{% endfor %}

				</div>

			</div>

		</section>



		<!-- <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<div style="background-image: url('{{ post.thumbnail.src }}');" class="hero-img"></div>
			<img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" class="hero-img">
			<section class="article-content">
				<h1 class="article-h1 blog-title">{{ post.title }}</h1>
				<a href="{{ post.link }}">{{ _e('edit') }}</a>
				<p class="blog-author">
					<span>By</span><a href="{{ post.author.path }}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.date }}
				</p>
				<div class="article-body blog-body bodyText">
					{{ post.content }}
				</div>
			</section>
		</article> -->

















		<!-- <div class="prev-next">
			{% if post.prev %}
			<a href="{{ post.prev.link }}" class="prev">< &nbsp;Previous Post</a>
			{% endif %}
			{% if post.next %}
			<a href="{{ post.next.link }}" class="next">Next Post&nbsp; ></a>
			{% endif %}
		</div> -->
	</div><!-- single-blog-page -->
{% endblock %}
