<div class="stationaryNav">
  <div class="leftLinks desktopOnly">
    {% for item in primaryMenu.items %}
    <a href="{{ item.link }}">{{ item.title }}</a>
    {% endfor %}
  </div>

  <a href="{{ site.link }}" class="logo">
    {% include './svg/BuildWitt Logo_white.svg' %}
  </a>

  <div class="burgerWrap mobileOnly" id="navTrigger">
    <div id="burgerBars">
      {% include './svg/White Hamburger.svg' %}
    </div>
    <!-- <img src="{{ site.link }}/wp-content/uploads/2020/02/White-Hamburger.svg" id="burgerBars" alt="Open Menu"> -->

    <div id="burgerClose">
      {% include './svg/White X.svg' %}
    </div>
    <!-- <img src="{{ site.link }}/wp-content/uploads/2020/02/White-X.svg" id="burgerClose" alt="Close menu"> -->
  </div>

  <div class="rightLinks desktopOnly">
    {% for item in rightMenu.items %}
    <a href="{{ item.link }}">{{ item.title }}</a>
    {% endfor %}
  </div>

</div>
