<div class="stickyMobileNav hideStickyMobileNav">
  <div class="links">
    {% for item in mininav.items %}
    <a href="{{ item.link }}">{{ item.title }}</a>
    {% endfor %}
  </div>

  <a href="{{ site.link }}" class="logo">
    <img src="{{ site.link }}/wp-content/uploads/2020/02/BuildWitt-Logo_black.svg" alt="BuildWitt Logo">
  </a>

  <div class="burgerWrap mobileOnly" id="navTrigger">
    <img src="{{ site.link }}/wp-content/uploads/2020/02/Menu-Icon.svg" id="burgerBarsSticky" alt="Open Menu">
    <img src="{{ site.link }}/wp-content/uploads/2020/02/Dark-X.svg" id="burgerCloseSticky" alt="Close menu">
  </div>
</div>
