<div class="stickyNav desktopOnly">

  <div class="wrap">
    <a href="{{ site.link }}" class="logo">
      <img src="{{ site.link }}/wp-content/uploads/2020/02/BuildWitt-Logo_black.svg" alt="BuildWitt Logo">
    </a>
    <img src="{{ site.link }}/wp-content/uploads/2020/02/Menu-Icon.svg" id="stickyNavTrigger" alt="Hamburger Menu">
    <div class="social">
      {% for link in options.social_link %}
      {% if link.host == 'facebook' %}
      <a href="{{ link.link }}">
        <i class="fab fa-facebook-f fa-lg"></i>
      </a>
      {% elseif link.host == 'youtube' %}
      <a href="{{ link.link }}">
        <i class="fab fa-youtube fa-lg"></i>
      </a>
      {% elseif link.host == 'instagram' %}
      <a href="{{ link.link }}">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
      {% elseif link.host == 'linkedin' %}
      <a href="{{ link.link }}">
        <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
      {% endif %}

      {% endfor %}
    </div>
  </div>

</div>

<!-- <div class="fullNav offScreenLeft desktopOnly"> -->
<div class="fullNav offScreenNav desktopOnly">

  <div class="grid">

    <div class="vertical"></div>

    <div class="menu">



      {% for item in primaryMenu.items %}
      <div class="parentMenuItem">
        <div class="innerBorder">
          <div class="horizontal"></div>
          <div class="cross">
            {% include './svg/Conversion Point.svg' %}
          </div>
        </div>
        <div class="text">
          <a href="{{ item.link }}" class="parent">{{ item.title }}</a>
          {% if item.children %}
          <div class="children">
            {% for child in item.children %}
            <a href="{{ child.link }}" class="child">{{ child.title }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      {% for item in rightMenu.items %}
      <div class="parentMenuItem">
        <div class="innerBorder">
          <div class="horizontal"></div>
          <div class="cross">
            {% include './svg/Conversion Point.svg' %}
          </div>
        </div>
        <div class="text">
          <a href="{{ item.link }}" class="parent">{{ item.title }}</a>
          {% if item.children %}
          <div class="children">
            {% for child in item.children %}
            <a href="{{ child.link }}" class="child">{{ child.title }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}

    </div>


  </div>

</div>
