{% extends "base.twig" %}

{% block content %}

<div class="newsletterpage">

  {% set hero = post.meta('hero') %}
  <section class="hero">

    <div class="grid">

      <div class="horizontal horizontal1 pre-horizontal"></div>
      <div class="crosshair cross pre-cross">
        <img src="{{ site.link }}/wp-content/uploads/2020/02/Conversion-Point.svg" alt="Crosshair">
      </div>
      <div class="vertical pre-vertical verticalCenter"></div>


      <div class="text">
        <h1>{{ post.h1 }}</h1>
        <p class="p">{{ post.p }}</p>
      </div>

      <div class="form">
        {% filter shortcodes %}
        [gravityform id="2" title="false" description="false" ajax="true"]
        {% endfilter %}
        <p class="disclaimer">{{ post.disclaimer }}</p>
      </div>


    </div>
  </section>



</div>

{% endblock %}
