.aboutpage

  section.hero
    height: 100vh

    .grid
      // border-top: 1px solid rgba($grey, .3)
      // align-self: end
      height: 100vh
      z-index: 2
      display: grid
      // grid: 30% 30px auto 1fr / 1fr 85% 1fr
      grid: 1fr 1px 3fr / 15% 1px 1fr


      .img
        grid-area: 1 / 1 / span 3 / span 3
        background-size: cover
        background-position: center
        z-index: -1
        width: 100%

      @media screen and (min-width: 900px)
        .img
          grid-area: 1 / 4 / span 4 / span 2
          z-index: 0
          height: 85%
          align-self: center

      .cross
        grid-area: 2 / 2 / span 1 / span 1
        align-self: center
        justify-self: center
        z-index: 2
        margin-top: 2px

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 2 / span 1 / span 1

      .horizontal, .vertical
        background-color: $silver
        opacity: 0.3
        z-index: 1

      .vertical
        grid-area: 2 / 2 / span 2 / span 1

      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 2 / span 4 / span 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 3

      .opaque
        grid-area: 1 / 1 / span 3 / span 3
        background-color: rgba($black, 0.5)
        // z-index: 1

      @media screen and (min-width: 900px)
        .opaque
          grid-area: 1 / 1 / span 4 / span 3
          height: 65%
          margin-left: 25%
          align-self: center
          background-color: rgba($lightgrey, 0.03)


      // grid: 1fr 1px 3fr / 1fr 1px 2fr 50px 2fr

      .text
        grid-area: 3 / 3 / span 1 / span 1
        align-self: start
        justify-self: start
        max-width: 460px
        width: 75%
        z-index: 2
        margin: 12px 0 0 12px

        h1
          color: $white
          margin: 0
          font-weight: 300
          margin-bottom: 25px
          font-size: 2.5rem

          strong
            color: $white
            font-weight: 600

        @media screen and (min-width: 800px)
          h1
            margin-top: 0
            line-height: 3rem
            font-size: 3rem

        @media screen and (min-width: 1400px)
          h1
            line-height: 4rem
            font-size: 4rem

        // @media screen and (min-width: 1200px)
        //   h1
        //     line-height: 5rem
        //     font-size: 5rem

        p
          color: $white
          font-weight: 400

        @media screen and (min-width: 600px)
          p
            font-size: 1.3rem
            font-weight: 300

        @media screen and (min-width: 900px)
          p
            font-weight: 300


      @media screen and (min-width: 800px)
        .text
          width: 65%
          justify-self: start
          margin-top: 30px

      @media screen and (min-width: 900px)
        .text
          grid-area: 3 / 2 / span 1 / span 2
          margin-top: 25px
          margin-left: 25px
          justify-self: start
          align-self: start
          width: 90%
          max-width: none

      .hero-cta
        grid-area: 4 / 1 / span 1 / span 3
        justify-self: center
        align-self: end
        margin-bottom: 50px
        display: flex
        flex-direction: row
        justify-content: center
        width: 100%

        .cta
          cursor: pointer
          margin-right: 25px
          align-self: center

          a
            color: $white

          .underline
            background-color: $white

        .arrow
          width: 50px
          transform: rotate(-90deg)
          // display: none

          svg

            circle.cls-1
              fill: transparent

            line.cls-1
              fill: $white

      @media screen and (min-width: 900px)
        .hero-cta
          justify-self: center
          justify-content: flex-end
          width: 80%


    @media screen and (min-width: 900px)
      .grid
        grid: 1fr 1px 3fr auto / 1fr 1px 2fr 50px 2fr
        min-height: 100vh
        background-color: $black

  @media screen and (min-width: 900px)
    section.hero
      min-height: 100vh


  .videoWrap
    position: fixed
    top: 0%
    height: 100vh
    width: 100vw
    display: grid
    grid: 1fr / 1fr
    z-index: 999
    background-color: rgba($white, .9)

    #closeVideo
      grid-area: 1 / 1 / span 1 / span 1
      width: 50px
      justify-self: start
      align-self: start
      margin: 20px 0 0 20px
      transform: rotate(45deg)

    .arve-wrapper
      grid-area: 1 / 1 / span 1 / span 1
      justify-self: center
      align-self: center


  section.aaron
    overflow-x: hidden

    .aaron-slider

      .swiper-wrapper

        .aaron-slide
          width: 100% !important

          .grid
            grid: 100px 1px auto auto 100px / 1fr 1px 1fr


            .vertical, .horizontal
              background-color: $silver
              // opacity: 0.3
              display: none

            .vertical
              // grid-area: 1 / 2 / span 5 / span 1
              opacity: 0.8


            @media screen and (min-width: 900px)
              .vertical
                grid-area: 1 / 2 / span 7 / span 1
                display: block

            .horizontal
              grid-area: 2 / 1 / span 1 / span 3
              height: 1px

            @media screen and (min-width: 900px)
              .horizontal
                grid-area: 4 / 1 / span 1 / span 4
                display: block


            .cross
              grid-area: 2 / 1 / span 1 / span 3
              justify-self: center
              align-self: center
              z-index: 1
              margin-top: 3px
              display: none

            @media screen and (min-width: 900px)
              .cross
                grid-area: 4 / 2 / span 1 / span 1
                z-index: 2
                justify-self: center
                align-self: center
                display: grid

            .imgWrap
              grid-area: 4 / 1 / span 1 / span 3
              display: grid
              grid: 1fr / 1fr
              margin-top: 20px

              .img
                height: 250px
                width: 55%
                grid-area: 1 / 1 / span 1 / span 1
                background-size: cover
                background-position: center


              .img1
                justify-self: start
                z-index: 1


              .img2
                justify-self: end
                margin-top: 125px

              @media screen and (min-width: 600px)
                .img
                  height: 350px

                .img2
                  margin-top: 175px

              @media screen and (min-width: 900px)
                .img
                  height: 350px
                  width: 75%
                  max-width: 390px

                .img2
                  margin-top: 300px


            .textWrap
              grid-area: 1 / 1 / span 3 / span 3
              width: 85%
              justify-self: center
              z-index: 2
              margin: 55px 0 100px

              .text
                margin-bottom: 30px

                .headline
                  text-transform: uppercase
                  font-weight: 600
                  color: $darkgrey
                  font-size: .85rem
                  margin-bottom: 35px

                h2
                  font-weight: 400

                  strong
                    font-weight: 700


              @media screen and (min-width: 900px)
                .text
                  grid-area: 3 / 8 / span 1 / span 5
                  justify-self: start

            @media screen and (min-width: 900px)
              .textWrap
                margin-top: 38px
                justify-self: start
                margin-left: 25px

            .greybox
              background-color: $lightgrey
              grid-area: 3 / 1 / span 1 / span 3
              display: flex
              flex-direction: column
              justify-content: flex-end
              margin-top: 75px
              // z-index: -1
              height: 450px

              .btns
                display: flex
                flex-direction: row
                max-width: 100%
                width: 100px
                margin: 0 auto
                justify-content: space-between
                align-items: center

                .numbers

                  h3
                    margin: 0
                    color: $darkergrey
                    font-weight: 400
                    font-size: 1.3rem

                .btn
                  left: initial
                  right: initial
                  top: initial
                  height: auto
                  width: auto
                  position: initial
                  margin-top: 0

                  img
                    width: 30px

                  &::after
                    content: ''

                .swiper-button-next
                  transform: rotate(-90deg)

                .swiper-button-prev
                  transform: rotate(90deg)

              @media screen and (min-width: 900px)
                .btns
                  margin: 0 14px 0 auto

              @media screen and (min-width: 1150px)
                .btns
                  margin-right: 40px

              @media screen and (min-width: 1350px)
                .btns
                  margin-right: 75px

              @media screen and (min-width: 1600px)
                .btns
                  margin-right: 110px

            @media screen and (min-width: 500px)
              .greybox
                height: 350px

            @media screen and (min-width: 650px)
              .greybox
                height: 250px

            @media screen and (min-width: 900px)
              .greybox
                height: 350px


        @media screen and (min-width: 900px)
          .aaron-slide.slide-1, .aaron-slide.slide-3

            .grid
              grid: 100px 80px 1px auto auto 100px / 130px calc(50% - 130px) 1px calc(50% - 1px)

              .vertical
                grid-area: 3 / 3 / span 2 / span 1

              .horizontal
                grid-area: 3 / 1 / span 1 / span 4

              .cross
                grid-area: 3 / 3 / span 1 / span 1

              .imgWrap
                grid-area: 2 / 2 / span 4 / span 1
                margin-right: 30px

              .textWrap
                grid-area: 2 / 4 / span 3 / span 1
                margin-bottom: 80px

              .greybox
                grid-area: 4 / 1 / span 1 / span 4
                margin-bottom: 0

          .slide-2

            .grid
              // grid: 100px 80px 1px auto auto 100px / 130px calc(50% - 130px) 1px calc(50% - 1px)
              grid: 100px 80px 1px auto auto 100px / 130px 1px calc(50% - 5%) calc(50% - 130px - 1px) 5%

              .vertical
                // grid-area: 3 / 3 / span 2 / span 1
                display: none

              .horizontal
                grid-area: 3 / 1 / span 1 / span 5

              .cross
                grid-area: 3 / 2 / span 1 / span 1

              .imgWrap
                grid-area: 2 / 4 / span 4 / span 1
                margin: 0

                .img1
                  justify-self: end

                .img2
                  justify-self: start

              .textWrap
                grid-area: 2 / 3 / span 3 / span 1
                margin-bottom: 60px

              .greybox
                grid-area: 4 / 1 / span 1 / span 5
                margin-bottom: 0

          .slide-3


  section.more-team
    overflow-x: hidden
    display: grid
    grid: 75px 1px auto auto 40px 75px / 0px 40px 1px 1fr

    .blackbox
      background-color: $black
      grid-area: 1 / 2 / span 4 / span 3

    .vertical, .horizontal
      background-color: $silver
      opacity: 0.3
      display: none

    @media screen and (min-width: 900px)
      .vertical, .horizontal
        display: block

    .horizontal
      grid-area: 2 / 1 / span 1 / span 4

    .vertical
      grid-area: 1 / 3 / span 6 / span 1

    .cross
      grid-area: 2 / 3 / span 1 / span 1
      justify-self: center
      align-self: center
      margin-top: 3px
      display: none

    @media screen and (min-width: 900px)
      .cross
        display: grid

    .text
      grid-area: 1 / 4 / span 3 / span 1
      margin-top: 35px
      margin-left: 25px

      .headline
        text-transform: uppercase
        font-weight: 600
        color: $darkgrey
        font-size: 0.85rem

      h2
        color: $white
        font-weight: 400
        font-size: 1.75rem
        width: 75%
        max-width: 510px

        strong
          font-weight: 600
          color: $white

      @media screen and (min-width: 1200px)
        h2
          font-size: 3rem
          max-width: 800px
          font-weight: 300


      .cta

        a
          color: $yellow

        .underline
          background: $yellow

    .team-slider
      grid-area: 4 / 2 / span 2 / span 3
      width: 95%
      margin-left: auto
      margin-right: 0
      margin-top: 50px
      overflow-X: hidden

      .swiper-wrapper

        .member
          display: grid
          grid: auto / auto
          max-width: 300px !important

          .img
            grid-area: 1 / 1 / span 1 / span 1
            height: 300px
            background-size: cover
            background-position: center

          @media screen and (min-width: 1300px)
            .img
              height: 350px

          .hover
            grid-area: 1 / 1 / span 1 / span 1
            background-color: rgba($black, 0.4)
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            .wrap
              width: 60%

              .name
                color: $white
                font-family: $titillium
                font-weight: 600
                font-size: 1.5rem
                margin: 0
                line-height: 1.5rem

              .title
                color: $white
                font-family: $titillium
                margin: 0
                font-size: 1.5rem
                margin-bottom: 25px

              .cta

                a
                  color: $white

                .underline
                  background-color: $white

        @media screen and (min-width: 900px)
          .member
            max-width: 400px !important

        @media screen and (min-width: 1300px)
          .member
            max-width: 550px !important

    @media screen and (min-width: 1300px)
      .team-slider
        width: 92%

  @media screen and (min-width: 767px)
    section.more-team
      grid: 75px 1px auto auto 40px 75px / 40px 40px 1px 1fr

  @media screen and (min-width: 900px)
    section.more-team
      grid: 75px 1px auto auto 40px 1fr / 150px 80px 1px 1fr
      min-height: 100vh
      max-height: 800px


  section.values
    // padding: 50px 0

    .grid
      width: 100%
      display: grid
      grid: 110px 1px auto auto 50px / 1fr 1px 1fr
      overflow: hidden

      .vertical, .horizontal
        background-color: $silver
        // opacity: 0.3
        display: none

      @media screen and (min-width: 900px)
        .vertical, .horizontal
          display: block

      .vertical
        // grid-area: 1 / 2 / span 5 / span 1
        opacity: 0.7


      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 3 / span 5 / span 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3
        height: 1px

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 4



      .cross
        grid-area: 2 / 1 / span 1 / span 3
        justify-self: center
        align-self: center
        z-index: 1
        margin-top: 3px
        display: none

      @media screen and (min-width: 900px)
        .cross
          grid-area: 2 / 3 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center
          display: grid

      // grid: 100px 1px auto auto 200px / 12% 80px 1px 1fr

      .greybox
        grid-area: 3 / 1 / span 2 / span 3
        width: 65%
        margin: 60px auto 40px 0
        background-color: $lightgrey

      @media screen and (min-width: 900px)
        .greybox
          grid-area: 1 / 1 / span 4 / span 4
          width: 75%
          z-index: -1
          margin-top: 0

      .textWrap
        grid-area: 1 / 1 / span 3 / span 3
        width: 85%
        justify-self: center
        z-index: 2
        margin: 55px 0

        .text
          margin-bottom: 30px

          .headline
            text-transform: uppercase
            font-weight: 600
            color: $darkgrey
            font-size: .85rem
            margin-bottom: 35px

          h2
            font-weight: 400

            strong
              font-weight: 700


        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 1 / 4 / span 3 / span 1
          width: 95%
          justify-self: start
          max-width: 700px
          margin: 63px 0 0 25px

      .valueList
        grid-area: 4 / 1 / span 1 / span 3
        width: 85%
        margin: 0 auto

        .value
          display: grid
          grid: auto / 4fr 20px 1fr
          margin-bottom: 75px
          cursor: pointer

          .box
            background-color: $black
            padding: 30px 0
            grid-area: 1 / 1 / span 1 / span 2
            z-index: 1
            transition: .5s ease-in-out
            display: flex
            flex-direction: column
            justify-content: center

            h3
              color: $white
              font-weight: 400
              width: 85%
              margin: 0 auto
              font-family: $titillium
              justify-self: center
              transition: 0.5s

            @media screen and (min-width: 767px)
              h3
                font-size: 1.4rem

            p
              // color: $white
              font-weight: 400
              display: none
              width: 85%
              margin: 0 auto
              padding-top: 30px

          .box.selected
            background-color: $yellow
            transition: .5s ease-in-out
            // height: auto

            &:hover

              h3
                color: $white

          @media screen and (min-width: 767px)
            .box
              // height: calc(200px - 60px)

          h2
            color: $grey
            font-family: $titillium
            grid-area: 1 / 2 / span 1 / span 3
            font-size: 4.5rem
            align-self: center
            margin: 0
            transition: opacity .3s ease-in-out

          h2.selected
            color: rgba($yellow, .3)
            transition: opacity .5s ease-in-out

        @media screen and (min-width: 767px)
          .value
            width: 48%

        @media screen and (min-width: 900px)
          .value

            &:hover

              .box

                h3
                  color: $yellow
                  transition: 0.5s

        @media screen and (min-width: 1200px)
          .value
            width: 32%

      @media screen and (min-width: 767px)
        .valueList
          display: flex
          flex-direction: row
          justify-content: space-between
          flex-wrap: wrap

      @media screen and (min-width: 900px)
        .valueList
          grid-area: 4 / 4 / span 1 / span 1
          margin-left: -30px
          margin-top: 30px
          width: 95%


    @media screen and (min-width: 900px)
      .grid
        // mobile grid
        // grid: 50px 100px auto 50px 50px auto / 1fr 1px 1fr
        // grid: 50px 50px 80px 1px auto 100px / 350px 1fr 50px 1px calc(50% - 100px) 100px
        grid: 100px 1px auto auto 100px / 150px 80px 1px 1fr
        // padding-bottom: 100px


  section.model
    // padding: 50px 0

    .grid
      width: 100%
      display: grid
      grid: 110px 1px auto auto 50px / 1fr 1px 1fr
      overflow: hidden

      .vertical, .horizontal
        background-color: $silver
        // opacity: 0.3
        display: none

      @media screen and (min-width: 900px)
        .vertical, .horizontal
          display: block

      .vertical
        // grid-area: 1 / 2 / span 5 / span 1
        opacity: 0.8

      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 3 / span 7 / span 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3

      @media screen and (min-width: 900px)
        .horizontal
          display: none


      .cross
        grid-area: 2 / 1 / span 1 / span 3
        justify-self: center
        align-self: center
        z-index: 1
        margin-top: 3px
        display: none

      @media screen and (min-width: 900px)
        .cross
          grid-area: 2 / 3 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center
          display: grid

      // grid: 100px 1px 100px auto 80px 120px 100px / 150px 80px 1px 35% 50px 35% 1fr

      .img
        grid-area: 4 / 1 / span 1 / span 3
        height: 300px
        background-size: cover
        background-position: center

      @media screen and (min-width: 900px)
        .img
          grid-area: 1 / 5 / span 6 / span 2
          height: auto
          width: 95%
          justify-self: start
          max-height: 700px

      @media screen and (min-width: 1200px)
        .img
          width: 85%
          max-height: 800px

      @media screen and (min-width: 1500px)
        .img
          grid-area: 1 / 6 / span 6 / span 2
          width: 75%
          justify-self: end
          margin-right: 15%


      .greybox
        grid-area: 3 / 1 / span 1 / span 3
        width: 65%
        margin: 60px 0 70px auto
        background-color: $lightgrey

      @media screen and (min-width: 900px)
        .greybox
          grid-area: 4 / 2 / span 1 / span 5
          width: 100%
          z-index: -1

      @media screen and (min-width: 1500px)
        .greybox
          grid-area: 4 / 2 / span 1 / span 6
          width: 90%
          justify-self: center

      .textWrap
        grid-area: 1 / 1 / span 3 / span 3
        width: 85%
        justify-self: center
        z-index: 2
        margin-top: 55px
        margin: 55px 0 75px

        .text
          margin-bottom: 30px

          .headline
            text-transform: uppercase
            font-weight: 600
            color: $darkgrey
            font-size: .85rem
            margin-bottom: 35px

          h2
            font-weight: 400

            strong
              font-weight: 700

          @media screen and (min-width: 1200px)
            h2
              font-size: 3rem

          .bodyText

          @media screen and (min-width: 900px)
            .bodyText
              max-width: 450px
              width: 85%
              line-height: 1.5rem


        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start


      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 1 / 4 / span 5 / span 2
          width: 95%
          justify-self: end
          margin-top: 30px


    @media screen and (min-width: 900px)
      .grid
        grid: 100px 1px 100px auto 80px 80px 100px / 150px 80px 1px 35% 50px 35% 1fr

    @media screen and (min-width: 1500px)
      .grid
        grid: 100px 1px 100px auto 80px 80px 100px / 150px 80px 1px 500px 50px 500px 1fr

  section.contact

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 100px auto / auto

      .vertical, .horizontal
        background-color: $silver
        opacity: 0.3

      @media screen and (min-width: 900px)
        .vertical
          display: block

      .verticalCenter
        display: block


      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 3 / span 3 / span 1

      .horizontal
        grid-area: 1 / 1 / span 1 / span 1
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 4




      .crosshair
        grid-area: 1 / 1 / span 1 / span 1
        justify-self: center
        align-self: center
        z-index: 1
        margin-right: 1px

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 3 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center
          display: grid

      // grid: 100px 1px auto / 100px 50px 1px auto

      .textWrap
        grid-area: 2 / 1 / span 1 / span 1
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 10px

        .text
          margin-bottom: 50px


          h2
            font-weight: 400
            color: $white
            max-width: 610px


          .cta
            display: inline-flex
            flex-direction: column

            a
              color: $white
              letter-spacing: 1px
              text-transform: uppercase
              display: block
              margin-bottom: 10px


            .underline
              height: 3px
              background-color: $white
              width: 100%
              transform: translate(0)
              transition: transform .3s ease-in-out




          @media screen and (min-width: 900px)
            .cta
              overflow: hidden
              cursor: pointer

              &:hover

                .underline
                  transform: translate(-50%)
                  transition: transform .3s ease-in-out
                  // background-color: $yellow




        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 3 / 4 / span 1 / span 1
          width: 60%
          justify-self: start
          margin-left: 25px
          margin-top: 20px


      .imgBlock
        grid-area: 1 / 1 / span 2 / span 1
        z-index: -1
        // margin-bottom: 50px
        // height: 400px
        display: grid
        grid: auto / auto

        .img
          grid-area: 1 / 1 / span 1 / span 1
          background-size: cover
          background-position: center center

        @media screen and (min-width: 900px)
          .img
            height: auto
            // grid-area: 1 / 1 / span 1 / span 6
            // margin-left: 100px
            // background-position: 65% center

        .dark
          grid-area: 1 / 1 / span 1 / span 1
          background-color: rgba($black, 0.4)
          z-index: 1


      @media screen and (min-width: 900px)
        .imgBlock
          grid-area: 1 / 4 / span 3 / span 1
          width: calc(100% - 120px)
          justify-self: end
          margin-bottom: 0

      .greybox

      @media screen and (min-width: 900px)
        .greybox
          grid-area: 1 / 1 / span 3 / span 4
          background-color: $darkergrey
          z-index: -1

    @media screen and (min-width: 900px)
      .grid
        grid: 100px 1px auto / 150px 80px 1px auto

    @media screen and (min-width: 1000px)
      .grid
        min-height: 500px

    @media screen and (min-width: 1500px)
      .grid
        // min-height: 60vh

  @media screen and (min-width: 1000px)
    section.contact
      min-height: 500px

  @media screen and (min-width: 1500px)
    section.contact
      // min-height: 60vh
