// grid point movement

// add to crosshair/cross elements to move
.cross
  transition: 2s ease-in-out

.pre-cross
  transform: translate(-75px, -75px)
  transition: translate 2s ease-in-out

// add to horizontal grid elements to move
.horizontal
  transition: 2s ease-in-out

.pre-horizontal
  transform: translateY(-75px)
  // transform: translate(-75px, -75px)
  transition: 2s ease-in-out

// add to vertical grid elements to move
.vertical
  transition: 2s ease-in-out

.pre-vertical
  transform: translateX(-75px)
  // transform: translate(-75px, -75px)
  transition: 2s ease-in-out

// hero text sliding in
.heroText
  transition: opacity 2s ease-in-out, transform 2s ease-in-out

.preHeroText
  opacity: 0
  transform: translateY(50%)


// greybox elements floating in from right
.greybox
  transition: transform 2s ease-in-out

.pre-greybox
  transform: translate(100px)

// imgBlock elements floating in from left
.imgBlock
  transition: transform 1s ease-in-out

.pre-imgBlock
  transform: translate(-150px)


// contact page accordion floating in from left
.accordion
  transition: transform 2s ease-in-out

.pre-accordion
  transform: translateX(300px)

// team page feed floating in from right
.feed
  transition: transform 2s ease-in-out

.pre-feed
  transform: translateX(300px)



/// general movement
.slideFromRight
  transform: translate(50%) !important
  opacity: 0.5
