.blogpage

  section.hero
    height: 100vh
    display: grid
    grid: 1fr / 1fr
    background-color: $black

    .grid
      // border-top: 1px solid rgba($grey, .3)
      align-self: end
      height: calc(100vh - 70px)
      z-index: 2
      grid-area: 1 / 1 / span 1 / span 1
      display: grid
      grid: 1fr 1px 80% / 1fr 1px 1fr 1fr 1fr

      .horizontal, .vertical
        background-color: $grey
        opacity: 0.3

      .horizontal
        grid-area: 2 / 1 / span 1 / span 5

      @media screen and (min-width: 767px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 4


      .vertical
        grid-area: 3 / 2 / span 1 / span 1

      @media screen and (min-width: 767px)
        .vertical
          display: block
          grid-area: 1 / 2 / span 3 / span 1


      .crosshair
        grid-area: 2 / 2 / span 1 / span 1
        align-self: center
        justify-self: center
        z-index: 2

        img

      @media screen and (min-width: 767px)
        .crosshair
          z-index: 1
          margin-left: 1px

      // grid: 1fr 1px 2fr/ 1fr 1px 50% 25%

      .text
        grid-area: 3 / 1 / span 1 / span 5
        width: 65%
        margin-left: 10%
        align-self: start
        margin-top: 35px
        justify-self: center

        h1
          color: $white
          margin-bottom: 0px
          font-weight: 400
          margin-top: 0

          strong
            font-weight: 900
            color: $white

        @media screen and (min-width: 767px)
          h1
            line-height: 3.5rem
            font-size: 3.5rem

        @media screen and (min-width: 900px)
          h1
            line-height: 4rem
            font-size: 4rem

        @media screen and (min-width: 1200px)
          h1
            line-height: 5rem
            font-size: 5rem

      @media screen and (min-width: 767px)
        .text
          grid-area: 3 / 3 / span 1 / span 2
          margin-top: 25px
          margin-left: 25px
          justify-self: start
          align-self: start
          width: 85%
          max-width: 650px

      @media screen and (min-width: 1200px)
        .text
          max-width: none

      .opaquebox
        background-color: rgba($white, 0.05)
        grid-area: 1 / 1 / span 3 / span 4
        width: 85%
        height: 70%
        align-self: center


      @media screen and (min-width: 767px)
        .opaquebox
          grid-area: 1 / 1 / span 3 / span 4
          height: 80%
          align-self: end
          width: 70%
          // justify-self: center
          margin-left: 8%
          // margin-bottom: 100px

          justify-self: center

      .links
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        grid-area: 3 / 3 / span 1 / span 3
        // margin: 50px auto
        // width: 90%
        height: 25%
        align-self: center
        margin-top: 65px

        .cta

          // &:first-child
          //   margin-bottom: 50px

          a
            color: $grey
            text-transform: uppercase
            letter-spacing: 1px

          .underline
            background-color: $white

        @media screen and (min-width: 767px)
          .cta
            margin: 0 10px


      @media screen and (min-width: 767px)
        .links
          grid-area: 3 / 3 / span 1 / span 2
          justify-self: center
          align-self: end
          margin-bottom: 120px
          flex-direction: row

      @media screen and (min-width: 900px)
        .links
          justify-self: start
          margin-left: 10px
          margin-bottom: 80px

    @media screen and (min-width: 767px)
      .grid
        grid-area: 1 / 1 / span 1 / span 2
        grid: 1fr 1px 2fr/ 1fr 1px 50% 25%
        height: 60vh

    @media screen and (min-width: 900px)
      .grid
        // grid: 2fr 1px 2fr 1px 1fr / 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr

  @media screen and (min-width: 767px)
    section.hero
      height: 60vh
      margin-bottom: 0
      grid: 60vh / 1fr 1fr

  section.blogs
    padding: 75px 0
    width: 85%
    margin: 0 auto
    display: flex
    flex-direction: column

    .filter
      width: 250px
      align-self: flex-end

      .visibleFilter
        display: grid
        grid: auto 4px auto / 100%

        p
          font-size: .75rem
          text-transform: uppercase
          font-weight: 600
          grid-area: 1 / 1 / span 1 / span 1
          justify-content: start
          margin: 0
          align-self: center

        img
          width: 12px
          grid-area: 1 / 1 / span 1 / span 1
          justify-self: end
          align-self: center
          transition: transform .3s ease-in-out

        .rotate
          transform: rotate(45deg)
          transition: transform .3s ease-in-out

        .underline
          height: 1px
          grid-area: 3 / 1 / span 1 / span 1
          background-color: $black

      .form-wrap
        background-color: $white
        border: 1px solid $black
        padding: 20px 0
        // display: none
        position: absolute
        width: 250px
        z-index: 5

        form
          display: flex
          flex-direction: column


          .select-wrap
            background-color: $lightgrey
            border: 1px solid $black
            display: grid
            grid: auto / 100%
            width: 75%
            margin: 0 auto 15px
            // padding: 0 10px

            .arrows
              grid-area: 1 / 1 / span 1 / span 1
              // display: flex
              // flex-direction: column
              // justify-content: center
              align-self: center
              justify-self: end
              padding-right: 10px
              // z-index: -1

              i

            @media screen and (min-width: 767px)
              .arrows
                display: none


            select
              border: none
              z-index: 1
              grid-area: 1 / 1 / span 1 / span 1
              width: 100%
              font-size: .9rem
              padding: 5px 0 5px 10px
              text-transform: uppercase
              font-weight: 300
              font-family: $sans
              background-color: transparent

              option
                font-size: .9rem
                background-color: transparent

          button
            font-size: .9rem
            text-transform: uppercase
            font-weight: 600
            letter-spacing: 1px
            text-align: right
            padding-right: 0
            padding-left: 30px
            border: none
            border-bottom: 1px solid $black
            background-color: $white
            margin-right: 12.5%
            margin-left: auto

    .list
      padding-top: 50px

      .all-blogs, .filtered-blogs

        .singleblog
          display: grid
          grid: 200px auto / 100%
          margin-bottom: 40px

          .opaque
            grid-area: 1 / 1 / span 1 / span 1
            background-color: rgba($black, .4)

          @media screen and (min-width: 767px)
            .opaque
              opacity: 0
              grid-area: 1 / 1 / span 5 / span 1
              transition: 0.3s

          .img
            grid-area: 1 / 1 / span 1 / span 1
            background-size: cover
            background-position: center
            z-index: -1

          @media screen and (min-width: 767px)
            .img
              grid-area: 1 / 1 / span 5 / span 1
              transition: 0.3s ease-in-out

          .date
            grid-area: 1 / 1 / span 1 / span 1
            z-index: 1
            color: $white
            margin-top: 25px
            margin-left: 7.5%
            font-style: italic

          @media screen and (min-width: 767px)
            .date
              grid-area: 2 / 2 / span 1 / span 1
              transition: 0.3s ease-in-out
              color: $black
              margin-top: 0
              font-size: .75rem

          h2
            grid-area: 1 / 1 / span 1 / span 1
            z-index: 1
            color: $white
            margin-left: 7.5%
            line-height: 1
            font-size: 1.5rem
            margin-top: 50px

          @media screen and (min-width: 767px)
            h2
              grid-area: 3 / 2 / span 1 / span 1
              color: $black
              margin-top: 20px
              margin-bottom: 10px

          @media screen and (min-width: 767px)
            .underline
              background-color: $black
              grid-area: 3 / 2 / span 1 / span 1
              transition: 0.3s ease-in-out
              align-self: end
              height: 1px
              width: 85%
              justify-self: center

          // grid: 40px auto auto auto 40px / 1fr 1fr

          .content
            grid-area: 2 / 1 / span 1 / span 1
            width: 85%
            margin: 0 auto
            padding: 20px
            font-size: .9rem
            align-self: center

          @media screen and (min-width: 767px)
            .content
              grid-area: 4 / 2 / span 1 / span 1
              transition: 0.3s ease-in-out
              max-height: 210px
              overflow: hidden

          .greyishbox
            min-height: 230px
            grid-area: 2 / 1 / span 1 / span 1
            background-color: $lightgrey
            z-index: -1

          @media screen and (min-width: 767px)
            .greyishbox
              grid-area: 1 / 2 / span 5 / span 1
              transition: 0.3s ease-in-out

          .readmore
            display: none

          @media screen and (min-width: 767px)
            .readmore
              opacity: 0
              transition: opacity .3s ease-in-out
              display: flex
              flex-direction: column
              grid-area: 1 / 1 / span 5 / span 1
              align-self: center
              justify-self: center

              h3
                color: $white
                margin: 0
                font-family: $titillium
                font-size: 2.5rem

              .underline
                background-color: $yellow
                width: 100%
                height: 2px

        @media screen and (min-width: 767px)
          .singleblog
            grid: 40px auto auto auto 40px / 1fr 1fr

            &:hover

              .opaque
                opacity: 1
                transition: opacity 0.3s ease-in-out

              .date
                color: $white
                transition: 0.3s ease-in-out

              h2
                color: $white
                transition: 0.3s ease-in-out

              .content
                color: $white
                transition: 0.3s ease-in-out

              .greyishbox
                background-color: $black
                transition: 0.3s ease-in-out

              .readmore
                opacity: 1
                transition: 0.3s ease-in-out







      .all-blogs

      .filtered-blogs

        .singleblog



  @media screen and (min-width: 900px)
    section.blogs
      max-width: 1000px
