section.more-more
  overflow-x: hidden
  display: grid
  grid: 75px 1px auto auto 40px 75px / 0px 40px 1px 1fr

  .blackbox
    background-color: $lightgrey
    grid-area: 1 / 2 / span 4 / span 3

  .vertical, .horizontal
    background-color: $silver
    opacity: 0.7

  .horizontal
    grid-area: 2 / 1 / span 1 / span 4

  .vertical
    grid-area: 1 / 3 / span 6 / span 1

  .cross
    grid-area: 2 / 3 / span 1 / span 1
    justify-self: center
    align-self: center
    margin-top: 3px
    z-index: 2

  .text
    grid-area: 1 / 4 / span 3 / span 1
    margin-top: 35px
    margin-left: 20px

    .headline
      text-transform: uppercase
      font-weight: 600
      color: $darkgrey
      font-size: 0.85rem

    h2
      color: $black
      font-weight: 400
      font-size: 1.75rem
      width: 75%
      max-width: 510px
      font-family: $titillium

      strong
        font-weight: 600
        color: $black
        font-family: $titillium

    @media screen and (min-width: 1200px)
      h2
        font-size: 3rem
        max-width: 800px
        font-weight: 300


    .cta

      a
        color: $black

      .underline
        background: $black

    @media screen and (min-width: 900px)
      .cta
        margin-left: 20px

  @media screen and (min-width: 900px)
    .text
      margin-top: 50px

  .more-slider
    grid-area: 4 / 2 / span 2 / span 3
    width: 95%
    margin-left: auto
    margin-right: 0
    margin-top: 50px
    overflow-X: hidden

    .swiper-wrapper

      .member
        display: grid
        grid: auto / auto
        max-width: 300px !important

        .img
          grid-area: 1 / 1 / span 1 / span 1
          height: 300px
          background-size: cover
          background-position: center

        @media screen and (min-width: 1300px)
          .img
            height: 350px

        .hover
          grid-area: 1 / 1 / span 1 / span 1
          background-color: rgba($black, 0.4)
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center

          .wrap
            width: 60%

            .name
              color: $white
              font-family: $titillium
              font-weight: 600
              font-size: 1.5rem
              margin: 0
              line-height: 1.5rem

            .title
              color: $white
              font-family: $titillium
              margin: 0
              font-size: 1.5rem
              margin-bottom: 25px

            .cta

              a
                color: $white

              .underline
                background-color: $white

        @media screen and (min-width: 900px)
          .hover
            opacity: 0
            transition: opacity 0.5s ease-in-out
            cursor: pointer

            &:hover
              opacity: 1
              transition: opacity 0.5s ease-in-out

      @media screen and (min-width: 900px)
        .member
          max-width: 400px !important

      @media screen and (min-width: 1300px)
        .member
          max-width: 550px !important

  @media screen and (min-width: 1300px)
    .more-slider
      width: 92%

@media screen and (min-width: 767px)
  section.more-more
    grid: 75px 1px auto auto 40px 75px / 40px 40px 1px 1fr

@media screen and (min-width: 900px)
  section.more-more
    grid: 75px 1px auto auto 40px 1fr / 150px 80px 1px 1fr
    // height: 100vh
