.careerspage

  section.hero
    height: 100vh

    .grid
      // border-top: 1px solid rgba($grey, .3)
      // align-self: end
      height: 100vh
      z-index: 2
      display: grid
      // grid: 30% 30px auto 1fr / 1fr 85% 1fr
      grid: 1fr 1px 3fr / 15% 1px 1fr


      .img
        grid-area: 1 / 1 / span 3 / span 3
        background-size: cover
        background-position: center
        z-index: -1

      @media screen and (min-width: 900px)
        .img
          grid-area: 1 / 1 / span 3 / span 3

      .cross
        grid-area: 2 / 2 / span 1 / span 1
        align-self: center
        justify-self: center
        z-index: 2
        margin-top: 2px

        img

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 3 / 2 / span 1 / span 1

      .horizontal, .vertical
        background-color: $silver
        opacity: 0.3
        z-index: 1

      .vertical
        grid-area: 2 / 2 / span 2 / span 1

      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 2 /span 3 / spn 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 3

      .opaque
        grid-area: 1 / 1 / span 3 / span 3
        background-color: rgba($black, 0.5)
        // z-index: 1

      @media screen and (min-width: 900px)
        .opaque
          grid-area: 1 / 1 / span 3 / span 3


      // grid: 1fr 1px 2px / 1fr 1px 3fr

      .text
        grid-area: 3 / 3 / span 1 / span 1
        align-self: start
        justify-self: center
        z-index: 2
        margin: 12px 0 0 12px

        h1
          color: $white
          margin: 0
          font-weight: 400
          margin-bottom: 25px

          strong
            color: $white
            font-weight: 600

        @media screen and (min-width: 800px)
          h1
            margin-top: 0
            line-height: 3.5rem
            font-size: 3.5rem

        @media screen and (min-width: 900px)
          h1
            line-height: 4rem
            font-size: 4rem


        .cta

          a
            color: $white

          .underline
            background-color: $white



      @media screen and (min-width: 800px)
        .text
          width: 65%
          justify-self: start
          margin-top: 20px

      @media screen and (min-width: 900px)
        .text
          grid-area: 3 / 2 / span 1 / span 2
          margin-top: 25px
          margin-left: 25px
          // margin-bottom: 200px
          justify-self: start
          align-self: start
          width: 100%
          max-width: 700px

      .featuredText
        grid-area: 3 / 1 / span 1 / span 3
        justify-self: end
        align-self: end
        z-index: 2
        margin: 0 20px 20px 0

        h3
          color: $white
          font-family: $titillium
          margin: 0


        .cta
          display: inline-flex
          flex-direction: column

          a
            color: $white
            letter-spacing: 1px
            text-transform: uppercase
            display: block
            margin-bottom: 5px
            font-size: .85rem


          .underline
            height: 3px
            background-color: $white
            width: 100%


    @media screen and (min-width: 900px)
      .grid
        grid: 1fr 1px 3fr / 1fr 1px 3fr
        min-height: 66vh

  @media screen and (min-width: 900px)
    section.hero
      min-height: 66vh
      max-height: 640px

  section.values
    // padding: 50px 0

    .grid
      width: 100%
      display: grid
      grid: 110px 1px auto auto 50px / 1fr 1px 1fr
      overflow: hidden


      .textWrap
        grid-area: 1 / 1 / span 3 / span 3
        width: 85%
        justify-self: center
        z-index: 2
        margin: 55px 0

        .text
          margin-bottom: 30px

          .headline
            text-transform: uppercase
            font-weight: 400
            color: $darkgrey
            font-size: .85rem
            margin-bottom: 35px

          h3
            font-weight: 400
            font-family: $titillium
            font-size: 1.8rem

            strong
              font-weight: 900

          @media screen and (min-width: 900px)
            h3
              font-size: 2.5rem
              font-weight: 600

          p
            // font-family: $titillium
            // font-size: 1.3rem



        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 1 / 4 / span 3 / span 1
          width: 95%
          justify-self: start
          max-width: 700px

      .valueList
        grid-area: 4 / 1 / span 1 / span 3
        width: 85%
        margin: 0 auto

        .value
          display: grid
          grid: auto / 4fr 20px 1fr
          margin-bottom: 75px

          .box
            background-color: $black
            padding: 30px 0
            grid-area: 1 / 1 / span 1 / span 2
            z-index: 1
            transition: .5s ease-in-out
            display: flex
            flex-direction: column
            justify-content: center

            h3
              color: $white
              font-weight: 400
              width: 85%
              margin: 0 auto
              font-family: $titillium
              justify-self: center

            @media screen and (min-width: 767px)
              h3
                font-size: 1.4rem

            p
              // color: $white
              font-weight: 400
              display: none
              width: 85%
              margin: 0 auto
              padding-top: 30px

          .box.selected
            background-color: $yellow
            transition: .5s ease-in-out
            // height: auto

          @media screen and (min-width: 767px)
            .box
              // height: calc(200px - 60px)

          h2
            color: $grey
            font-family: $titillium
            grid-area: 1 / 2 / span 1 / span 3
            font-size: 4.5rem
            align-self: center
            margin: 0
            transition: opacity .3s ease-in-out

          h2.selected
            color: rgba($yellow, .3)
            transition: opacity .5s ease-in-out

        @media screen and (min-width: 767px)
          .value
            width: 48%

        @media screen and (min-width: 1200px)
          .value
            width: 32%

      @media screen and (min-width: 767px)
        .valueList
          display: flex
          flex-direction: row
          justify-content: space-between
          flex-wrap: wrap

      @media screen and (min-width: 900px)
        .valueList
          grid-area: 4 / 4 / span 1 / span 1
          margin-left: -30px
          margin-top: 30px
          width: 95%


    @media screen and (min-width: 900px)
      .grid
        // mobile grid
        // grid: 50px 100px auto 50px 50px auto / 1fr 1px 1fr
        // grid: 50px 50px 80px 1px auto 100px / 350px 1fr 50px 1px calc(50% - 100px) 100px
        grid: 100px 1px auto auto 100px / 150px 80px 1px 1fr
        // padding-bottom: 100px

  section.full_width_img
    height: 300px
    width: 95%
    margin: 0 auto
    background-size: cover
    background-position: center

  @media screen and (min-width: 1500px)
    section.full_width_img
      height: 450px


  section.what_we_do
    margin-bottom: 80px

    .grid
      min-height: 100vh
      z-index: 2
      display: grid
      grid: 75px 1px auto auto / 15% 1px 1fr


      .img
        // grid-area: 1 / 1 / span 3 / span 3
        background-size: cover
        background-position: center
        // z-index: -1
      //
      // @media screen and (min-width: 900px)
      //   .img
      //     grid-area: 1 / 1 / span 3 / span 3

      .cross
        grid-area: 2 / 2 / span 1 / span 1
        align-self: center
        justify-self: center
        z-index: 2
        margin-top: 2px
        display: none

        img

      @media screen and (min-width: 900px)
        .cross
          display: grid

      .horizontal, .vertical
        background-color: $silver
        opacity: 0.5
        z-index: -1
        display: none

      @media screen and (min-width: 900px)
        .horizontal, .vertical
          display: block

      .vertical
        grid-area: 1 / 2 / span 4 / span 1

      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 2 /span 3 / spn 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 3


      // grid: 1fr 1px 2px / 1fr 1px 3fr

      .text
        grid-area: 3 / 3 / span 1 / span 1
        align-self: start
        justify-self: center
        z-index: 2
        margin: 12px 0 0 12px

        h2
          margin: 0
          font-weight: 400
          margin-bottom: 15px

          strong
            font-weight: 900

        @media screen and (min-width: 800px)
          h2
            margin-top: 0
            line-height: 3.5rem
            font-size: 3.5rem


        p
          font-size: 1rem
          width: 90%
          margin-bottom: 50px
          // font-family: $titillium



      @media screen and (min-width: 800px)
        .text
          width: 65%
          justify-self: start
          margin-top: 30px

      @media screen and (min-width: 900px)
        .text
          grid-area: 3 / 2 / span 1 / span 2
          margin-top: 25px
          margin-left: 25px
          // margin-bottom: 200px
          justify-self: start
          align-self: start
          width: 100%
          max-width: 700px

      @media screen and (min-width: 1200px)
        .text
          width: 50%
          margin-left: 20px

      .photos
        grid-area: 4 / 1 / span 1 / span 3
        width: 85%
        margin: 0 auto

        .img
          height: 200px
          margin-bottom: 20px

          &:last-child
            margin-bottom: 0

        @media screen and (min-width: 700px)
          .img
            height: 350px

        @media screen and (min-width: 1100px)
          .img
            height: auto
            margin-bottom: 0

            &:first-child
              grid-area: 1 / 1 / span 4 / span 1


            &:nth-child(2)
              grid-area: 2 / 3 / span 1 / span 1


            &:nth-child(3)
              grid-area: 4 / 3 / span 3 / span 1

            &:nth-child(4)
              grid-area: 6 / 1 / span 1 / span 1

            &:nth-child(5)
              grid-area: 8 / 3 / span 4 / span 1

            &:nth-child(6)
              grid-area: 8 / 1 / span 1 / span 1

            &:nth-child(7)
              grid-area: 10 / 1 / span 1 / span 1



      @media screen and (min-width: 900px)
        .photos
          width: 70%

      @media screen and (min-width: 1100px)
        .photos
          display: grid
          grid: 30px 200px 15px 200px 15px 200px 15px 200px 15px 200px 30px / 3fr 15px 2fr
          margin-bottom: 200px

      @media screen and (min-width: 1300px)
        .photos
          display: grid
          grid: 30px 300px 15px 300px 15px 300px 15px 300px 15px 300px 30px / 3fr 15px 2fr


    @media screen and (min-width: 900px)
      .grid
        grid: 120px 1px auto auto / 1fr 1px 3fr



  section.right-fit
    background-color: $black
    padding: 40px 0

    h2
      color: $white
      text-align: center
      margin-bottom: 50px

    @media screen and (min-width: 900px)
      h2
        margin-bottom: 100px

    .items
      width: 85%
      margin: 0 auto

      .item
        display: flex
        flex-direction: row
        margin-bottom: 75px

        p
          color: $white
          font-weight: 600
          font-size: 1.2rem

        i
          color: $yellow
          align-self: center
          margin-right: 10px

    @media screen and (min-width: 900px)
      .items
        width: 75%
        column-count: 2
        max-width: 950px

  @media screen and (min-width: 1000px)
    section.right-fit
      padding: 100px 0



  section.benefits
    // padding: 50px 0

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 50px 100px auto auto 50px auto / 1fr 1px 1fr
      overflow: hidden

      .vertical, .horizontal
        background-color: $silver
        z-index: -1
        // opacity: 0.3
        display: none

      .vertical
        grid-area: 1 / 2 / span 5 / span 1
        opacity: 0.8


      // grid: 50px 50px 80px 1px auto 100px / 100px 1fr 50px 1px calc(50% - 100px) 100px
      @media screen and (min-width: 900px)
        .vertical
          display: block
          grid-area: 1 / 2 / span 7 / span 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3
        height: 1px
        align-self: center
        opacity: 0.8

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 4 / 1 / span 1 / span 4
          display: block



      .cross
        display: none
        grid-area: 2 / 1 / span 1 / span 3
        justify-self: center
        align-self: center
        z-index: 2
        margin-right: 1px

      @media screen and (min-width: 900px)
        .cross
          grid-area: 4 / 2 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center
          display: grid

      // grid: 50px 50px 80px 1px auto auto 100px / 350px 1px calc(50% - 100px) 1fr


      .textWrap
        grid-area: 2 / 1 / span 2 / span 3
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 85px

        .text
          margin-bottom: 30px
          margin-top: 75px

          h2
            font-weight: 400

            strong
              font-weight: 700

          p
            // font-family: $titillium


        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start
            margin-left: 25px


      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 3 / 3 / span 3 / span 1
          width: 100%
          justify-self: end
          margin-top: 30px

      .steps
        display: flex
        flex-direction: column
        width: 75%
        grid-area: 4 / 1 / span 1 / span 3
        justify-self: center

        .step
          margin-bottom: 30px
          display: grid
          grid: 35px auto / 1fr
          transform: translate(0)
          transition: transform 1s ease-in-out

          h3
            color: $yellow
            font-size: 4.5rem
            grid-area: 1 / 1 / span 2 / span 1
            align-self: start
            margin: 0
            z-index: 2
            line-height: .8
            padding-left: 25px
            // opacity: 0.85
            mix-blend-mode: darken
            font-family: $titillium

          img
            grid-area: 1 / 1 / span 2 / span 1
            align-self: start
            height: 100px
            z-index: 1
            margin-left: 15px
            opacity: .4
            margin-bottom: 20px

          .box
            background-color: $silver
            grid-area: 2 / 1 / span 1 / span 1
            padding-left: 25px
            padding: 0 25px
            display: flex
            flex-direction: column
            justify-content: center

            h4
              // padding-left: 25px
              font-size: 1.5rem
              margin-top: 75px
              margin-bottom: 15px
              width: 85%
              // margin-bottom: 20px

            p
              margin-bottom: 20px

          @media screen and (min-width: 900px)
            .box
              // height: fit-content

        @media screen and (min-width: 900px)
          .step
            width: 21%
            margin-bottom: 0
            display: inline-grid
            // height: fit-content

            &:nth-child(1)
              margin-top: 0
              // transform: translate(-100px)
              transition: transform 1s ease-in-out

            &:nth-child(2), &:nth-child(6)
              margin-top: 30px
              margin-bottom: -30px
              // transform: translate(-100px)
              transition: transform 1s ease-in-out

            &:nth-child(3), &:nth-child(7)
              margin-top: 60px
              margin-bottom: -60px
              // transform: translate(-100px)
              transition: transform 1s ease-in-out

            &:nth-child(4), &:nth-child(8)
              margin-top: 90px
              margin-bottom: -90px
              // transform: translate(-100px)
              transition: transform 1s ease-in-out

            &:nth-child(5)
              margin-top: 30px

            &:nth-child(6)
              margin-top: 60px

            &:nth-child(7)
              margin-top: 90px

            &:nth-child(8)
              margin-top: 120px

        .offScreenStep

          &:nth-child(odd)
            transform: translate(-100vw)
            transition: transform .3s ease-in


          &:nth-child(even)
            transform: translate(100vw)
            transition: transform .3s ease-in

        @media screen and (min-width: 900px)
          .offScreenStep

            &:nth-child(1)
              transform: translateY(100px)
              transition: transform 5s ease-in

            &:nth-child(2)
              transform: translateY(130px)
              transition: transform 1s ease-in

            &:nth-child(3)
              transform: translateY(160px)
              transition: transform 1s ease-i2

            &:nth-child(4)
              transform: translateY(190px)
              transition: transform 1s ease-in

      @media screen and (min-width: 900px)
        .steps
          grid-area: 6 / 1 / span 1 / span 4
          width: 90%
          justify-self: end
          flex-direction: row
          justify-content: space-around
          flex-wrap: wrap

      @media screen and (min-width: 1150px)
        .steps
          width: 85%
          justify-self: center
          max-width: 1250px


    @media screen and (min-width: 900px)
      .grid
        grid: 50px 50px 80px 1px auto auto 300px / 350px 1px calc(50% - 100px) 1fr

  @media screen and (min-width: 1100px)
    section.benefits
      // margin-top: -200px





  section.apply
    // margin-bottom: 50px
    // overflow-x: hidden
    display: grid
    grid: 75px 1px auto auto 40px 0px / 0px 15% 1px 1fr

    .blackbox
      background-color: $black
      grid-area: 1 / 2 / span 5 / span 3

    @media screen and (min-width: 1200px)
      .blackbox
        grid-area: 2 / 2 / span 5 / span 3

    .vertical, .horizontal
      background-color: $silver
      opacity: 0.3
      display: none

    @media screen and (min-width: 900px)
      .vertical, .horizontal
        display: block



    .horizontal
      grid-area: 2 / 1 / span 1 / span 4

    @media screen and (min-width: 1200px)
      .horizontal
        grid-area: 3 / 1 / span 1 / span 4

    .vertical
      grid-area: 1 / 3 / span 6 / span 1

    @media screen and (min-width: 1200px)
      .vertical
        grid-area: 2 / 3 / span 6 / span 1

    .cross
      grid-area: 2 / 3 / span 1 / span 1
      justify-self: center
      align-self: center
      margin-top: 3px
      display: none

    @media screen and (min-width: 900px)
      .cross
        display: grid

    @media screen and (min-width: 1200px)
      .cross
        grid-area: 3 / 3 / span 1 / span 1


    .img
      display: none

    @media screen and (min-width: 1200px)
      .img
        display: block
        background-size: 160%
        background-position: 50% 20%
        height: 500px
        width: 48%
        justify-self: end
        grid-area: 1 / 4 / span 5 / span 1

    @media screen and (min-width: 1400px)
      .img
        display: block
        background-size: 160%
        background-position: 50% 20%
        height: 600px
        width: 40%
        justify-self: end
        grid-area: 1 / 4 / span 5 / span 1

    .text
      grid-area: 1 / 4 / span 3 / span 1
      margin-top: 90px
      margin-left: 20px
      max-width: 500px

      h2
        color: $white
        font-weight: 300

      @media screen and (min-width: 900px)
        h2
          font-size: 3rem

    @media screen and (min-width: 1200px)
      .text
        // max-width: 650px
        grid-area: 2 / 4 / span 3 / span 1
        width: 45%
        justify-self: start
        margin-left: 25px

    // grid: 75px 1px auto auto 40px 0 / 10% 80px 1px 1fr

    .list
      grid-area: 4 / 1 / span 1 / span 4
      width: 85%
      margin: 0 auto

      .step
        display: grid
        grid: auto auto / 100%
        margin-bottom: 35px

        p
          color: $white
          line-height: 1

        .number
          font-family: $titillium
          font-size: 3rem
          font-weight: 900
          opacity: .3
          grid-area: 1 / 1 / span 1 / span 1
          // margin-bottom: 15px
          align-self: center

        .step-text
          font-family: $titillium
          font-size: 1.8rem
          font-weight: 900
          grid-area: 1 / 1 / span 1 / span 1
          // margin-left: 20px
          // justify-self: center
          align-self: end
          text-align: center

        @media screen and (min-width: 600px)
          .step-text
            text-align: initial
            margin-left: 25px
            align-self: center
            font-size: 1.5rem
            margin-right: 20px

        .note
          font-size: .9rem
          margin-top: 15px
          width: 75%
          margin: 15px auto 0
          text-align: center
          font-weight: 400
          font-family: $titillium

        @media screen and (min-width: 1400px)
          .note
            width: auto
            align-self: center
            margin: 0

      @media screen and (min-width: 1400px)
        .step
          display: flex
          flex-direction: row

    @media screen and (min-width: 900px)
      .list
        grid-area: 4 / 4 / span 1 / span 1

    @media screen and (min-width: 1200px)
      .list
        grid-area: 5 / 4 / span 1 / span 1
        width: 45%
        margin: 0
        margin-left: 20px



  @media screen and (min-width: 767px)
    section.apply
      grid: 75px 1px auto auto 40px 75px / 40px 40px 1px 1fr

  @media screen and (min-width: 900px)
    section.apply
      grid: 40px 75px 1px auto auto 40px 0 / 10% 80px 1px 1fr
      // margin-bottom: -40px
      margin-left: auto
      margin-top: -40px



  section.heads_up
    padding: 35px 0 75px

    .wrap
      width: 85%
      margin: 0 auto

      h3
        font-family: $titillium

      p

    @media screen and (min-width: 900px)
      .wrap
        width: 65%
        max-width: 1000px

  section.job-listing
    padding: 100px 0

    .wrap
      width: 85%
      margin: 0 auto

      #BambooHR

        #BambooHR-ATS

          .BambooHR-ATS-board

            h2
              font-size: 2rem
              color: $black
              padding-bottom: 20px

            .BambooHR-ATS-Location
              font-family: $sans

            ul
              padding: 6px 10px 12px

              li

                .BambooHR-ATS-Location
                  font-size: .75rem

            h2
              font-family: $titillium



    @media screen and (min-width: 900px)
      .wrap
        width: 70%
        max-width: 700px

  @media screen and (min-width: 1200px)
    section.job-listing
      padding: 250px 0
