.popmake
  width: 85% !important
  margin: 0 auto
  padding: 35px !important
  background-color: $lightgrey !important

  .pum-title
    font-size: 2rem !important
    font-family: $titillium !important
    text-align: center !important
    margin-bottom: 25px !important

  .pum-content

    p
      text-align: center !important

    input, textarea
      border: none !important

  .gform_wrapper

    input, textarea
      border: 1px solid $black
      // box-shadow: 10px 10px 6px -9px rgba(0,0,0,0.41)

    .gform_footer
      display: flex
      flex-direction: row
      justify-content: center

      .gform_button
        background-color: transparent
        font-family: $sans
        width: fit-content !important
        border: none !important
        color: $yellow !important
        text-transform: uppercase !important
        border-bottom: 2px solid $yellow !important
        font-size: 1.2rem !important
        padding: 8px 20px !important


.contactpage

  section.hero
    // margin: 0 10px 10px
    height: 100vh
    display: grid
    grid: 1fr / 1fr

    .img
      grid-area: 1 / 1 / span 1 / span 1
      background-size: cover
      background-position: 35% center
      z-index: 1

    @media screen and (min-width: 767px)
      .img
        height: 100vh
        grid-area: 1 / 1 / span 1 / span 1

    @media screen and (min-width: 1430px)
      .img
        background-position: 35% 25%

    .grid
      border-top: 1px solid rgba($grey, .3)
      align-self: end
      height: calc(100vh - 70px)
      z-index: 2
      grid-area: 1 / 1 / span 1 / span 1
      display: grid
      grid: 3fr 1px 1fr / 1fr 1px 1fr
      // grid: 1fr 1fr 15% / 67% 33%

      .horizontal, .vertical
        background-color: $grey
        opacity: 0.3

      .horizontal
        grid-area: 2 / 1 / span 1 / span 5

      @media screen and (min-width: 767px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 5


      .vertical
        grid-area: 2 / 2 / span 2 / span 1
        display: none

      @media screen and (min-width: 767px)
        .vertical
          display: block
          grid-area: 1 / 2 / span 3 / span 1


      .crosshair
        grid-area: 2 / 2 / span 1 / span 1
        align-self: center
        justify-self: center
        z-index: 2

        img

      @media screen and (min-width: 767px)
        .crosshair
          z-index: 1
          margin-left: 1px
          grid-area: 2 / 2 / span 1 / span 1

      // grid: 1fr 1px 2fr/ 1fr 1px 80px 25% 25%

      .text
        grid-area: 1 / 1 / span 1 / span 3
        width: 65%
        margin-left: 10%
        align-self: center
        margin-top: 35px

        h1
          color: $white
          margin-bottom: 0px
          font-weight: 400
          margin-top: 0

          span
            color: $yellow

        @media screen and (min-width: 767px)
          h1
            line-height: 3.5rem
            font-size: 3.5rem

        @media screen and (min-width: 900px)
          h1
            line-height: 4rem
            font-size: 4rem

        @media screen and (min-width: 1200px)
          h1
            line-height: 5rem
            font-size: 5rem

        p
          font-weight: 600
          color: $white
          font-size: 1rem
          text-transform: uppercase

      @media screen and (min-width: 767px)
        .text
          grid-area: 3 / 3 / span 1 / span 3
          margin-top: 12px
          margin-left: 12px
          justify-self: start
          align-self: start
          width: 85%
          max-width: 500px

      @media screen and (min-width: 900px)
        .text
          margin: 25px 0 0 25px

      @media screen and (min-width: 1200px)
        .text
          max-width: 700px

      .opaquebox

      @media screen and (min-width: 767px)
        .opaquebox
          grid-area: 1 / 1 / span 3 / span 5
          background-color: rgba($white, 0.05)
          height: 50vh
          width: 45vw
          margin-left: 100px
          margin-bottom: 100px
          align-self: center
          justify-self: center

      .blackbox
        grid-area: 3 / 1 / span 1 / span 3
        background-color: $black

      @media screen and (min-width: 767px)
        .blackbox
          grid-area: 1 / 4 / span 3 / span 2
          z-index: -1

      // grid: 1fr 1px 2fr/ 1fr 1px 80px 25% 25%

      .links
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        grid-area: 3 / 1 / span 1 / span 3
        margin: 20px auto
        width: 90%

        a
          color: $white
          text-transform: uppercase
          letter-spacing: 1px
          font-size: .85rem

          .underline
            height: 2px
            background-color: $white
            margin-top: 5px

        a.work-link
          color: $yellow

          .underline
            background-color: $yellow

        @media screen and (min-width: 900px)
          a.work-link
            // color: $white

            .underline
              // background-color: $white

        @media screen and (min-width: 900px)
          a
            display: flex
            flex-direction: column
            align-items: center
            font-size: 1rem

            .underline
              width: 100%

            img
              display: inline
              width: 75px
              opacity: 0
              transition: opacity .4s ease

            &:hover
              color: $yellow
              transition: 0.4s

              .underline
                background-color: $yellow
                transition: 0.4s

              img
                opacity: 1
                transition: opacity .4s ease


      @media screen and (min-width: 767px)
        .links
          grid-area: 3 / 4 / span 1 / span 2
          justify-self: center
          align-self: center
          margin-top: 100px

      @media screen and (min-width: 900px)
        .links
          // margin-bottom: 10px

    @media screen and (min-width: 767px)
      .grid
        grid-area: 1 / 1 / span 1 / span 2
        // grid: 1fr 1px 2fr / 1fr 1px 5fr
        grid: 1fr 1px 2fr / 1fr 1px 80px 25% 25%
        height: 100vh

    @media screen and (min-width: 900px)
      .grid
        // grid: 2fr 1px 2fr 1px 1fr / 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr

  @media screen and (min-width: 767px)
    section.hero
      height: 100vh
      margin-bottom: 0
      grid: 100vh / 1fr 1fr


  section.work-with-us
    background-color: $lightgrey

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 50px 100px auto 0px 50px auto / 1fr 1px 1fr

      .vertical, .horizontal
        background-color: $silver
        opacity: 0.6
        display: none

      @media screen and (min-width: 900px)
        .vertical, .horizontal
          display: block


      .vertical
        grid-area: 1 / 2 / span 5 / span 1
        // opacity: 0.8


      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 2 / span 3 / span 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          grid: 2 / 1 / span 1 / span 4



      .crosshair
        display: none
        grid-area: 2 / 1 / span 1 / span 3
        justify-self: center
        align-self: center
        z-index: 2
        // margin-right: 1px

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 2 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center
          display: grid


      // grid: 75px 1px auto 50px / 20% 1px 1fr 1fr

      .textWrap
        grid-area: 2 / 1 / span 2 / span 3
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 10px

        .text
          margin-bottom: 50px

          .headline
            text-transform: uppercase
            font-weight: 600
            color: $darkgrey
            font-size: .85rem
            margin-bottom: 50px

          h2
            font-weight: 400
            color: $black

            strong
              font-weight: 700
              color: $black


          .bodyText

            p
              color: $black

          @media screen and (min-width: 900px)
            .bodyText
              width: 65%


        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 1 / 3 / span 3 / span 2
          width: 65%
          justify-self: start
          margin: 200px 0 100px 30px


      .imgBlock
        grid-area: 6 / 1 / span 1 / span 3
        z-index: 1
        margin-bottom: 50px
        height: 250px

        .img
          height: 250px
          background-size: cover
          background-position: center center

        @media screen and (min-width: 900px)
          .img
            height: auto
            grid-area: 1 / 1 / span 1 / span 6
            margin-left: 0
            background-position: 65% center
            flex-grow: 1

      @media screen and (min-width: 900px)
        .imgBlock
          grid-area: 1 / 3 / span 4 / span 2
          margin-bottom: 0
          height: initial
          display: flex
          flex-direction: column
          margin-top: 50px
          width: 50%
          justify-self: end

      @media screen and (min-width: 900px)
        .greybox
          grid-area: 1 / 1 / span 3 / span 4
          background-color: $lightgrey

    @media screen and (min-width: 900px)
      .grid
        grid: 250px 1px auto 75px / 25% 1px 1fr 1fr
        min-height: 100vh

  @media screen and (min-width: 900px)
    section.work-with-us
      background-color: initial
      min-height: 100vh

  section.comparison

    .accordion
      display: flex
      flex-direction: column
      width: 95%
      margin: 0 0 0 auto
      padding: 50px 0

      .tab
        margin-bottom: 10px
        display: flex
        flex-direction: row
        align-items: center
        cursor: pointer

        .cross
          padding-right: 10px
          transform: rotate(0deg)
          transition: transform 0.3s ease-in-out

          svg
            width: 25px

            polygon
              fill: $yellow
              transition: fill 0.3s ease-in-out

        // img
        //   width: 25px
        //   padding-right: 10px
        //   transform: rotate(0deg)
        //   transition: transform 0.3s ease-in-out

        .activeTab
          transform: rotate(45deg)
          transition: transform 0.3s ease-in-out

          svg

            polygon
              fill: $black
              transition: fill 0.3s ease-in-out

        .box
          background-color: $silver
          padding: 10px 0
          flex-grow: 1

          h2
            margin-left: 15px
            margin-bottom: 0
            font-weight: 400
            font-size: 1.5rem

          @media screen and (min-width: 900px)
            h2
              font-size: 2rem
              margin-left: 30px

        @media screen and (min-width: 900px)
          .box
            padding: 20px 0

      .openTab
        margin: 0 20px 20px 35px

        .not-right, .partner

          h3

          .bodyText

            p

        .line
          height: 1px
          background-color: $silver
          width: 100%
          margin-top: 30px

    @media screen and (min-width: 900px)
      .accordion
        width: 75%
        margin-bottom: 100px

  @media screen and (min-width: 900px)
    section.comparison
      min-height: 100vh
      display: flex
      flex-direction: column
      justify-content: center



  section.services
    background-color: $black

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 50px 100px auto 50px 50px auto / 1fr 1px 1fr

      .vertical, .horizontal
        background-color: $silver
        opacity: 0.1

      @media screen and (min-width: 900px)
        .vertical
          display: block

      .vertical
        display: block
        grid-area: 1 / 2 / span 5 / span 1
        // opacity: 0.8


      @media screen and (min-width: 900px)
        .vertical
          grid-area: 2 / 3 / span 3 / span 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 4



      .crosshair
        // display: none
        grid-area: 2 / 1 / span 1 / span 3
        justify-self: center
        align-self: center
        z-index: 1
        // margin-right: 1px

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 3 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center

      // grid: 150px 1px auto 150px / 100px 50px 1px 1fr

      .textWrap
        grid-area: 2 / 1 / span 2 / span 3
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 10px

        .text
          margin-bottom: 50px

          .headline
            text-transform: uppercase
            font-weight: 600
            color: $darkgrey
            font-size: .85rem
            margin-bottom: 35px

          h2
            font-weight: 400
            color: $white
            margin-bottom: 100px

            strong
              font-weight: 700
              color: $white

          @media screen and (min-width: 900px)
            h2
              width: 65%
              margin-bottom: 60px

          .servicesList
            width: 85%
            margin: 0 auto

            .service_type
              margin-bottom: 36px

              h3
                color: $white
                font-weight: 600
                font-size: 1.2rem

              .horizontal

              .list

                p
                  color: $white
                  font-weight: 300

            @media screen and (min-width: 550px)
              .service_type
                width: 45%

            @media screen and (min-width: 900px)
              .service_type
                width: 17%

          @media screen and (min-width: 550px)
            .servicesList
              display: flex
              flex-direction: row
              justify-content: space-around
              flex-wrap: wrap

          @media screen and (min-width: 900px)
            .servicesList
              justify-content: space-between
              width: 95%
              margin-left: 0



        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 1 / 4 / span 3 / span 1
          margin-top: 100px
          width: 90%
          margin-left: 30px
          justify-self: start

    @media screen and (min-width: 900px)
      .grid
        grid: 150px 1px auto 100px / 250px 50px 1px 1fr

  section.approach
    // padding: 50px 0

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 50px 100px auto auto 50px auto / 1fr 1px 1fr
      overflow: hidden

      .vertical, .horizontal
        background-color: $silver
        // opacity: 0.3

      @media screen and (min-width: 900px)
        .vertical
          display: block

      .vertical
        display: block
        grid-area: 1 / 2 / span 5 / span 1
        opacity: 0.8


      // grid: 50px 50px 80px 1px auto 100px / 100px 1fr 50px 1px calc(50% - 100px) 100px
      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 2 / span 7 / span 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 4 / 1 / span 1 / span 4



      .cross
        // display: none
        grid-area: 2 / 1 / span 1 / span 3
        justify-self: center
        align-self: center
        z-index: 1
        margin-right: 1px

      @media screen and (min-width: 900px)
        .cross
          grid-area: 4 / 2 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center

      // grid: 50px 50px 80px 1px auto auto 100px / 350px 1px calc(50% - 100px) 1fr


      .textWrap
        grid-area: 2 / 1 / span 2 / span 3
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 85px

        .text
          margin-bottom: 30px

          .headline
            text-transform: uppercase
            font-weight: 600
            color: $darkgrey
            font-size: .85rem
            margin-bottom: 35px

          h2
            font-weight: 400

            strong
              font-weight: 700

          .bodyText

            p


          .cta
            display: inline-flex
            flex-direction: column

            a
              color: $black
              letter-spacing: 1px
              text-transform: uppercase
              display: block
              margin-bottom: 5px
              font-size: .85rem


            .underline
              height: 3px
              background-color: $black
              width: 100%


        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start


      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 3 / 3 / span 3 / span 1
          width: 95%
          justify-self: end
          margin-top: 30px

      .steps
        display: flex
        flex-direction: column
        width: 75%
        grid-area: 4 / 1 / span 1 / span 3
        justify-self: center

        .step
          margin-bottom: 30px
          display: grid
          grid: 25px auto / 1fr
          transform: translate(0)
          transition: transform 1s ease-in-out

          h3
            color: $yellow
            font-size: 4.5rem
            grid-area: 1 / 1 / span 2 / span 1
            align-self: start
            margin: 0
            z-index: 2
            line-height: .8
            padding-left: 25px
            // opacity: 0.85
            mix-blend-mode: darken
            font-family: $titillium

          .box
            background-color: $silver
            grid-area: 2 / 1 / span 1 / span 1
            padding-left: 25px
            padding: 0 25px

            h4
              // padding-left: 25px
              font-size: 1.5rem
              margin-top: 50px
              width: 65%
              margin-bottom: 20px

            .underline
              // padding-left: 25px
              height: 1px
              background-color: $black
              margin-bottom: 45px



            .bodyText
              // padding-left: 25px
              margin-bottom: 40px

        @media screen and (min-width: 900px)
          .step
            width: 20%
            margin-bottom: 0
            display: inline-grid

            &:nth-child(1)
              margin-top: 0
              // transform: translate(-100px)
              transition: transform 1s ease-in-out

            &:nth-child(2)
              margin-top: 30px
              margin-bottom: -30px
              // transform: translate(-100px)
              transition: transform 1s ease-in-out

            &:nth-child(3)
              margin-top: 60px
              margin-bottom: -60px
              // transform: translate(-100px)
              transition: transform 1s ease-in-out

            &:nth-child(4)
              margin-top: 90px
              margin-bottom: -90px
              // transform: translate(-100px)
              transition: transform 1s ease-in-out

        .offScreenStep

          &:nth-child(odd)
            transform: translate(-100vw)
            transition: transform .3s ease-in


          &:nth-child(even)
            transform: translate(100vw)
            transition: transform .3s ease-in

        @media screen and (min-width: 900px)
          .offScreenStep

            &:nth-child(1)
              transform: translateY(100px)
              transition: transform 5s ease-in

            &:nth-child(2)
              transform: translateY(130px)
              transition: transform 1s ease-in

            &:nth-child(3)
              transform: translateY(160px)
              transition: transform 1s ease-i2

            &:nth-child(4)
              transform: translateY(190px)
              transition: transform 1s ease-in

      @media screen and (min-width: 900px)
        .steps
          grid-area: 6 / 1 / span 1 / span 4
          width: 90%
          justify-self: end
          flex-direction: row
          justify-content: space-around

      @media screen and (min-width: 1150px)
        .steps
          width: 85%
          justify-self: center
          max-width: 1250px


    @media screen and (min-width: 900px)
      .grid
        // mobile grid
        // grid: 50px 100px auto 50px 50px auto / 1fr 1px 1fr
        // grid: 50px 50px 80px 1px auto 100px / 350px 1fr 50px 1px calc(50% - 100px) 100px
        grid: 50px 50px 80px 1px auto auto 300px / 350px 1px calc(50% - 100px) 1fr
        // padding-bottom: 100px


  section.lets-talk
    // padding: 50px 0

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 50px 100px auto auto 0px auto / 1fr 1px 1fr
      background-color: $lightgrey

      .vertical, .horizontal
        background-color: $silver
        // opacity: 0.3
        display: none


      .vertical
        // display: block
        // grid-area: 1 / 2 / span 5 / span 1
        // opacity: 0.8


      // grid: 50px 50px 80px 1px auto 100px / 100px 1fr 50px 1px calc(50% - 100px) 100px

      @media screen and (min-width: 900px)
        .vertical
          display: block
          grid-area: 4 / 4 / span 3 / span 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          display: block
          grid-area: 4 / 2 / span 1 / span 5



      .cross
        display: none
        grid-area: 2 / 1 / span 1 / span 3
        justify-self: center
        align-self: center
        z-index: 1
        margin-right: 1px

      @media screen and (min-width: 900px)
        .cross
          grid-area: 4 / 4 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center
          display: grid


      .textWrap
        grid-area: 2 / 1 / span 2 / span 3
        width: 85%
        justify-self: center
        z-index: 2
        margin-top: 85px

        .text
          margin-bottom: 30px

          .headline
            text-transform: uppercase
            font-weight: 600
            color: $darkgrey
            font-size: .85rem
            margin-bottom: 35px

          h2
            font-weight: 400

            strong
              font-weight: 700

          .bodyText

            p
              margin-bottom: 20px


          .cta
            display: inline-flex
            flex-direction: column

            a
              color: $black
              letter-spacing: 1px
              text-transform: uppercase
              display: block
              margin-bottom: 5px
              font-size: .85rem


            .underline
              height: 3px
              background-color: $black
              width: 100%


        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start






      // grid: 50px 50px 80px 1px auto 100px / 100px 1fr 50px 1px calc(50% - 100px) 100px
      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 4 / 5 / span 2 / span 1
          width: 95%
          justify-self: end
          margin-top: 30px
          margin-bottom: 100px

      .formWrap
        grid-area: 4 / 1 / span 1 / span 3
        width: 85%
        justify-self: center
        max-width: 600px
        z-index: 2

        .gform_confirmation_wrapper
          margin-bottom: 30px

          div
            font-family: $titillium !important
            text-align: center

        form

          @media screen and (min-width: 900px)
            .gform_body

              ul
                column-count: 2

                li

                  &:first-child
                    margin-top: -8px


          #field_1_6
            margin-top: 27px !important




          .ginput_container_select
            margin-top: 16px

            select
              font-family: $sans !important
              // background-color: $white
              padding-top: 10px
              padding-left: 4px
              padding-bottom: 10px
              border-radius: 0
              border: none
              font-weight: 300 !important
              font-size: 1rem !important
              letter-spacing: 1.5px !important
              color: #6A6A6A

              option.gf_placeholder
                color: #6A6A6A

            @media screen and (min-width: 900px)
              select
                margin-left: -3px
                border: none

          @media screen and (min-width: 900px)
            .ginput_container_select
              border: 1px solid black
              // background-color: rgba($lightgrey, 0.35)
              padding: 5px 0
              overflow-x: hidden
              // box-shadow: 2px 3px 5px 0px rgba(43,41,42,0.17)


          .ginput_container
            // box-shadow: 2px 3px 5px 0px rgba(43,41,42,0.17)

            input, textarea
              font-family: $sans !important
              font-weight: 300 !important
              font-size: 1rem !important
              letter-spacing: 1.5px !important

            @media screen and (min-width: 900px)
              input, textarea
                background-color: rgba($lightgrey, 0.35)
                border: 1px solid $black
                // box-shadow: 2px 3px 5px 0px rgba(43,41,42,0.17)

              select
                background-color: rgba($lightgrey, 0.35)
                // box-shadow: 2px 3px 5px 0px rgba(43,41,42,0.1)


          .gform_footer

            .gform_button
              background-color: transparent
              font-family: $sans
              text-transform: uppercase
              text-align: left
              width: fit-content
              border: none
              border-bottom: 3px solid $black
              padding: 0
              font-weight: 400
              cursor: pointer
              transition: .3s

              &:hover
                color: $yellow
                transition: .3s

      @media screen and (min-width: 900px)
        .formWrap
          grid-area: 6 / 1 / span 1 / span 6
          margin-top: 35px

      @media screen and (min-width: 1200px)
        .formWrap
          max-width: 900px


      .imgBlock
        grid-area: 6 / 1 / span 1 / span 3
        z-index: 1
        margin-bottom: 50px
        height: 250px

        .img
          height: 250px
          background-size: cover
          background-position: center center

        @media screen and (min-width: 900px)
          .img
            width: 100%
            flex-grow: 1
            // grid-area: 1 / 1 / span 1 / span 6
            // margin-left: 100px
            // background-position: 65% center


      @media screen and (min-width: 900px)
        .imgBlock
          grid-area: 3 / 2 / span 3 / span 1
          margin-bottom: 0
          display: flex
          flex-direction: column
          height: initial

      .greybox
        background-color: $silver
        grid-area: 2 / 1 / span 3 / span 3
        width: 65%
        justify-self: center
        z-index: -1
        background-color: #F9F9F9

      @media screen and (min-width: 900px)
        .greybox
          grid-area: 2 / 2 / span 4 / span 4
          height: 400px
          width: 50%
          // margin-top: 75px

    @media screen and (min-width: 900px)
      .grid
        // grid: 50px 50px 80px 1px auto 100px / 100px 1fr 50px 1px calc(50% - 100px) 100px
        grid: 50px 50px 80px 1px auto auto 100px / 100px 1fr 50px 1px calc(50% - 100px) 100px
        background-color: initial

  @media screen and (min-width: 900px)
    section.lets-talk
      margin-top: -100px
