section.contact

  .grid
    width: 100%
    display: grid
    // grid: 50px auto auto auto 50px / 1fr 1px 2fr
    grid: 100px auto / auto

    .vertical, .horizontal
      background-color: $silver
      opacity: 0.3
      display: none


    @media screen and (min-width: 900px)
      .vertical
        grid-area: 1 / 3 / span 3 / span 1
        display: block

    .horizontal
      grid-area: 1 / 1 / span 1 / span 1
      height: 1px
      align-self: center


    @media screen and (min-width: 900px)
      .horizontal
        grid-area: 2 / 1 / span 1 / span 4
        display: block




    .crosshair
      grid-area: 1 / 1 / span 1 / span 1
      justify-self: center
      align-self: center
      z-index: 1
      margin-right: 1px
      display: none

    @media screen and (min-width: 900px)
      .crosshair
        grid-area: 2 / 3 / span 1 / span 1
        z-index: 2
        justify-self: center
        align-self: center
        display: grid

    // grid: 100px 1px auto / 100px 50px 1px auto

    .textWrap
      grid-area: 2 / 1 / span 1 / span 1
      width: 85%
      justify-self: center
      z-index: 2
      // margin-top: 10px

      .text
        margin-bottom: 50px


        h2
          font-weight: 400
          color: $white
          max-width: 610px


        .cta
          display: inline-flex
          flex-direction: column

          a
            color: $white
            letter-spacing: 1px
            text-transform: uppercase
            display: block
            margin-bottom: 10px
            font-size: 1.5rem


          .underline
            height: 3px
            background-color: $white
            width: 100%
            transform: translate(0)
            transition: transform .3s ease-in-out




        @media screen and (min-width: 900px)
          .cta
            overflow: hidden
            cursor: pointer

            &:hover

              .underline
                transform: translate(-50%)
                transition: transform .3s ease-in-out
                // background-color: $yellow




      @media screen and (min-width: 900px)
        .text
          grid-area: 3 / 8 / span 1 / span 5
          justify-self: start

    @media screen and (min-width: 900px)
      .textWrap
        grid-area: 3 / 4 / span 1 / span 1
        width: 60%
        justify-self: start
        margin-left: 25px


    .imgBlock
      grid-area: 1 / 1 / span 2 / span 1
      z-index: -1
      // margin-bottom: 50px
      // height: 400px
      display: grid
      grid: auto / auto

      .img
        grid-area: 1 / 1 / span 1 / span 1
        background-size: cover
        background-position: center center

      @media screen and (min-width: 900px)
        .img
          height: auto
          // grid-area: 1 / 1 / span 1 / span 6
          // margin-left: 100px
          // background-position: 65% center

      .dark
        grid-area: 1 / 1 / span 1 / span 1
        background-color: rgba($black, 0.4)
        z-index: 1


    @media screen and (min-width: 900px)
      .imgBlock
        grid-area: 1 / 4 / span 3 / span 1
        width: calc(100% - 120px)
        justify-self: end
        margin-bottom: 0

    .greybox

    @media screen and (min-width: 900px)
      .greybox
        grid-area: 1 / 1 / span 3 / span 4
        background-color: $darkergrey
        z-index: -1

  @media screen and (min-width: 900px)
    .grid
      grid: 100px 1px auto / 100px 100px 1px auto

  @media screen and (min-width: 1000px)
    .grid
      min-height: 50vh

  @media screen and (min-width: 1500px)
    .grid
      min-height: 60vh

@media screen and (min-width: 1000px)
  section.contact
    min-height: 50vh

@media screen and (min-width: 1500px)
  section.contact
    min-height: 60vh
