.homepage

  section.hero
    // margin: 0 10px 10px
    height: 100vh
    display: grid
    grid: 1fr / 1fr

    .img
      grid-area: 1 / 1 / span 1 / span 1
      background-size: cover
      background-position: 50% center
      z-index: 1

    @media screen and (min-width: 767px)
      .img
        height: 100vh

    @media screen and (min-width: 900px)
      .img
        background-attachment: fixed


    @media screen and (min-width: 1430px)
      .img
        background-position: 35% 25%

    .grid
      border-top: 1px solid rgba($grey, .3)
      align-self: end
      height: calc(100vh - 70px)
      z-index: 2
      grid-area: 1 / 1 / span 1 / span 1
      display: grid
      grid: 3fr 1px 1fr / 1fr 1px 1fr
      // grid: 1fr 1fr 15% / 67% 33%

      .horizontal, .vertical
        background-color: $grey
        opacity: 0.3

      .horizontal
        grid-area: 2 / 1 / span 1 / span 2

      @media screen and (min-width: 767px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 3


      .vertical
        display: none

      @media screen and (min-width: 767px)
        .vertical
          display: block
          grid-area: 2 / 2 / span 2 / span 1


      .crosshair
        grid-area: 2 / 2 / span 1 / span 1
        align-self: center
        justify-self: center

        img

      @media screen and (min-width: 767px)
        .crosshair
          z-index: 1
          margin-left: 1px


      .text
        grid-area: 1 / 1 / span 1 / span 3
        width: 65%
        margin-left: 10%
        align-self: center
        margin-top: 35px

        h1
          color: $white
          margin-bottom: 0px

          span
            color: $yellow

        @media screen and (min-width: 767px)
          h1
            margin-top: 0
            line-height: 3.5rem
            font-size: 3.5rem

        @media screen and (min-width: 900px)
          h1
            line-height: 4rem
            font-size: 4rem

        @media screen and (min-width: 1200px)
          h1
            line-height: 5rem
            font-size: 5rem

        @media screen and (min-width: 1500px)
          h1
            line-height: 7rem
            font-size: 7rem

        p
          font-weight: 600
          color: $white
          font-size: 1rem
          text-transform: uppercase

      @media screen and (min-width: 767px)
        .text
          grid-area: 3 / 3 / span 1 / span 1
          margin-top: 12px
          margin-left: 25px
          justify-self: start
          align-self: start
          width: 85%
          max-width: 500px

      @media screen and (min-width: 1200px)
        .text
          max-width: 700px

      @media screen and (min-width: 1500px)
        .text
          max-width: 880px

      .digIn
        grid-area: 1 / 3 / span 3 / span 1
        align-self: end
        padding-bottom: 20px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        animation: bounce 2s ease-in-out 2s infinite

        .thinUppercase
          color: $white
          transform: rotate(90deg)
          margin-bottom: 40px
          line-height: 20px
          margin-left: 2px
          font-weight: 700
          font-size: 1.2rem

        img
          width: 65px

      @keyframes bounce
        0%
          padding-bottom: 20px

        30%
          padding-bottom: 30px

        50%
          padding-bottom: 20px

        100%
          padding-bottom: 20px

      @media screen and (min-width: 767px)
        .digIn
          justify-self: end
          grid-area: 3 / 3 / span 1 / span 1
          margin-right: 10px

    @media screen and (min-width: 767px)
      .grid
        grid: 1fr 1px 2fr / 1fr 1px 5fr
        height: 100vh

    @media screen and (min-width: 900px)
      .grid
        // grid: 2fr 1px 2fr 1px 1fr / 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr

  @media screen and (min-width: 767px)
    section.hero
      height: 100vh
      margin-bottom: 0

  section.dirtWorld
    // padding: 50px 0

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 50px 100px auto 50px 50px auto / 1fr 1px 1fr

      .vertical, .horizontal
        background-color: $silver
        // opacity: 0.3
        display: none

      @media screen and (min-width: 900px)
        .vertical
          display: block

      .vertical
        grid-area: 1 / 2 / span 5 / span 1
        opacity: 0.8


      // grid: 50px 50px 80px 1px auto 100px / 100px 1fr 50px 1px calc(50% - 100px) 100px
      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 4 / span 7 / span 1
          display: block

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 4 / 2 / span 1 / span 5
          display: block



      .crosshair
        // display: none
        grid-area: 2 / 1 / span 1 / span 3
        justify-self: center
        align-self: center
        z-index: 1
        margin-right: 1px
        display: none

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 4 / 4 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center
          display: grid


      .textWrap
        grid-area: 2 / 1 / span 2 / span 3
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 10px

        .text
          margin-bottom: 50px

          .headline
            text-transform: uppercase
            font-weight: 600
            color: $darkgrey
            font-size: .85rem
            margin-bottom: 35px

          h2
            font-weight: 400

            strong
              font-weight: 700

          .bodyText

            p


        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start

        .stats

          .stat
            width: 85%
            margin: 0 auto 25px

            h2
              margin-bottom: 0px
              font-weight: 400
              font-size: 3rem
            p
              margin: 0
              font-size: .9rem
              font-weight: 600
              text-transform: uppercase
              color: $darkgrey
              letter-spacing: 1.5px
              max-width: 400px

        @media screen and (min-width: 900px)
          .stats
            display: flex
            flex-direction: row

      // grid: 50px 50px 80px 1px auto 100px / 100px 1fr 50px 1px calc(50% - 100px) 100px
      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 3 / 5 / span 3 / span 1
          width: 95%
          justify-self: start
          margin-left: 25px
          margin-top: 45px

      .imgBlock
        grid-area: 6 / 1 / span 1 / span 3
        z-index: 1
        margin-bottom: 50px
        height: 250px

        .img
          height: 250px
          background-size: cover
          background-position: center center

        @media screen and (min-width: 900px)
          .img
            width: 100%
            flex-grow: 1
            // grid-area: 1 / 1 / span 1 / span 6
            // margin-left: 100px
            // background-position: 65% center


      @media screen and (min-width: 900px)
        .imgBlock
          grid-area: 3 / 2 / span 3 / span 1
          margin-bottom: 0
          display: flex
          flex-direction: column
          height: initial
          // display: grid
          // grid: 100px auto / auto
          // grid: auto / 10px 1fr 1px 1fr 1px 1fr

      .greybox
        background-color: $silver
        grid-area: 2 / 1 / span 3 / span 3
        width: 65%
        justify-self: center
        z-index: -1
        background-color: #F9F9F9

      @media screen and (min-width: 900px)
        .greybox
          grid-area: 2 / 2 / span 4 / span 4
          height: 75%

    @media screen and (min-width: 900px)
      .grid
        // mobile grid
        // grid: 50px 100px auto 50px 50px auto / 1fr 1px 1fr
        grid: 50px 50px 80px 1px 1fr 100px / 100px 1fr 50px 1px calc(50% - 100px) 100px
        min-height: 100vh


  section.purpose
    background-color: $black

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 50px 100px auto 50px 50px auto / 1fr 1px 1fr

      .vertical, .horizontal
        background-color: $silver
        opacity: 0.3
        display: none

      .vertical
        grid-area: 1 / 2 / span 6 / span 1
        // opacity: 0.8


      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 3 / span 6 / span 1
          display: block

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 3 / 1 / span 1 / span 4
          display: block

      // grid: 75px 75px 1px auto 75px / 100px calc(25% - 101px) 1px 1fr 100px

      .crosshair
        display: none
        grid-area: 2 / 1 / span 1 / span 3
        justify-self: center
        align-self: center
        z-index: 1
        // margin-right: 1px

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 3 / 3 / span 1 / span 1
          z-index: 1
          justify-self: center
          align-self: center
          display: grid


          .vert, .horiz
            background-color: $yellow


      .textWrap
        grid-area: 2 / 1 / span 2 / span 3
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 10px

        .text
          margin-bottom: 50px

          .headline
            text-transform: uppercase
            font-weight: 600
            color: $darkgrey
            font-size: .85rem
            margin-bottom: 35px

          h2
            font-weight: 400
            color: $white

            strong
              font-weight: 700
              color: $white



          .bodyText

            p
              color: $white

            @media screen and (min-width: 900px)
              p
                font-weight: 400

          @media screen and (min-width: 900px)
            .bodyText
              width: 65%
              max-width: 400px


        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start
            max-width: 750px

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 2 / 4 / span 3 / span 1
          width: 75%
          justify-self: start
          margin: 110px 0 100px 25px


      .imgBlock
        grid-area: 7 / 1 / span 1 / span 3
        z-index: 1
        // margin-bottom: 50px
        height: 250px

        .img
          height: 250px
          background-size: cover
          background-position: center center

        @media screen and (min-width: 900px)
          .img
            height: auto
            // grid-area: 1 / 1 / span 1 / span 6
            margin-left: auto
            flex-grow: 1
            width: 90%
            max-width: 675px

      @media screen and (min-width: 900px)
        .imgBlock
          width: 75%
          justify-self: end
          grid-area: 2 / 4 / span 4 / span 2
          margin-bottom: 0
          display: flex
          flex-direction: column
          height: initial

      .greybox
        grid-area: 2 / 1 / span 3 / span 3
        width: 65%
        justify-self: center
        background-color: rgba($white, 0.03)

      @media screen and (min-width: 900px)
        .greybox
          grid-area: 1 / 2 / span 4 / span 3
          margin-bottom: 75px


      // grid: 50px 100px auto 50px 50px auto auto / 1fr 1px 1fr

      .bigText
        grid-area: 6 / 1 / span 1 / span 3
        z-index: 2
        // background-color: rgba($black, 0.4)
        display: flex
        flex-direction: column
        justify-content: center
        overflow: hidden
        margin-bottom: 30px
        width: 400px
        justify-self: center

        .line
          width: 95%
          margin: 0 auto
          display: grid
          grid: auto / auto


          h1
            max-width: 95%
            width: fit-content
            margin: 0 auto
            // text-align: right
            // margin-left: auto
            color: rgba($white, .3)
            text-transform: uppercase
            display: inline
            grid-area: 1 / 1 / span 1 / span 1
            justify-self: end
            font-size: 2.5rem
            line-height: 2.5rem

          @media screen and (min-width: 750px)
            h1
              font-size: 3rem
              line-height: 3rem

          @media screen and (min-width: 900px)
            h1
              color: rgba($white, .5)
              font-size: 5.5rem
              margin-left: 0
              text-align: center
              max-width: none
              line-height: 1

          @media screen and (min-width: 1200px)
            h1
              font-size: 7.5rem


          .crossout
            background-color: $yellow
            grid-area: 1 / 1 / span 1 / span 1
            align-self: center
            height: 5px
            width: 100%
            z-index: 1


        @media screen and (min-width: 900px)
          .line
            justify-content: end
            margin: 0

        .topLine

          .crossout
            transform: translate(-100%)
            opacity: .5
            transition: transform 0.5s ease-in-out

          .slideInCrossOut
            transform: translate(0)
            opacity: 1
            transition: transform 1.3s ease-in-out


        .bottomLine

          .crossout
            width: 175px
            justify-self: center
            transform: translate(100%)
            transition: transform 0.5s ease-in-out
            opacity: 0.5

          .slideInCrossOut
            transform: translate(0)
            opacity: 1
            transition: transform 1.3s ease-in-out

          @media screen and (min-width: 900px)
            .crossout
              width: 100%

        @media screen and (min-width: 900px)
          .bottomLine
            // width: auto


      @media screen and (min-width: 900px)
        .bigText
          grid-area: 5 / 2 / span 1 / span 3
          background-color: transparent
          // margin-left: 60px
          margin-right: 55px
          z-index: 2
          width: 100%
          align-self: end
          margn-bottom: 135px

      @media screen and (min-width: 1200px)
        .bigText
          margin-bottom: 50px

    @media screen and (min-width: 900px)
      .grid
        grid: 75px 150px 1px auto auto 75px / 100px calc(25% - 101px) 1px 1fr 100px
        min-height: 100vh

  section.people
    background-color: $white

    .grid
      grid: 30px auto auto 30px / 100px 1fr

      .vertical
        width: 1px
        opacity: 0.8
        background-color: $silver
        grid-area: 1 / 1 / span 4 / span 1
        justify-self: center
        display: none

      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 3 / span 5 / span 1
          display: block

      .horizontal
        display: none

      @media screen and (min-width: 900px)
        .horizontal
          display: block
          grid-area: 3 / 1 / span 1 / span 4
          background-color: $silver

      .crosshair
        display: none

      @media screen and (min-width: 900px)
        .crosshair
          display: grid
          grid-area: 3 / 3 / span 1 / span 1
          z-index: 2
          justify-self: center
          margin-top: -14px

      // grid: 30px 100px 1px auto 30px / 100px 1fr 1px 1fr

      .images
        z-index: 1
        grid-area: 3 / 1 / span 1 / span 2
        display: flex
        flex-direction: row
        flex-wrap: wrap

        .person
          width: 50%
          height: 150px
          // height: 200px
          // width: 200px
          background-size: cover
          background-position: center center


        @media screen and (min-width: 900px)
          .person
            height: 250px
            margin-bottom: 25px
            width: 30%
            transform: translate(0)
            transition: transform 0.5s ease-out

            &:last-child:nth-child(odd),
            &:nth-child(n+7)
              // display: block

            &:nth-child(4)
              margin-top: 50px
              // display: none
              opacity: 0

            &:nth-child(7)
              margin-top: 275px

      @media screen and (min-width: 900px)
        .images
          grid-area: 2 / 2 / span 3 / span 3
          z-index: 3
          flex-direction: column
          height: 900px
          margin-top: 120px
          width: 60%

      @media screen and (min-width: 1100px)
        .images
          margin-top: 100px

      // .clearOutHalf
      //
      //   .person
      //
      //     &:nth-child(7),
      //     &:nth-child(8),
      //     &:nth-child(n+10)
      //       transform: translate(500%)
      //       transition: transform 3s ease-out



      .textWrap
        grid-area: 2 / 1 / span 1 / span 2
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 10px

        .text
          margin-bottom: 50px

          .headline
            text-transform: uppercase
            font-weight: 600
            color: $darkgrey
            font-size: .85rem
            margin-bottom: 35px

          h2
            font-weight: 400
            color: $black

            strong
              font-weight: 700
              color: $black


          .bodyText

            p
              color: $black

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 2 / 2 / span 3 / span 3
          margin-top: 60px
          justify-self: center
          width: 55%
          margin-left: 25px
          transform: translate(150%)
          // transition: transform 2s ease-in-out

      .textWrapSlideIn
        transform: translate(0)
        transition: transform 1.5s ease-in-out

    @media screen and (min-width: 900px)
      .grid
        grid: 30px 100px auto 30px / 100px 1fr 1px 1fr
        min-height: 100vh



  section.mission
    background-color: $lightgrey

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 50px 100px auto 0px 50px auto / 1fr 1px 1fr

      .vertical, .horizontal
        background-color: $silver
        opacity: 0.6
        display: none


      .vertical
        grid-area: 1 / 2 / span 5 / span 1
        // opacity: 0.8


      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 2 / span 3 / span 1
          display: block

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          grid: 2 / 1 / span 1 / span 4
          display: block



      .crosshair
        display: none
        grid-area: 2 / 1 / span 1 / span 3
        justify-self: center
        align-self: center
        z-index: 2

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 2 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center
          display: grid


      // grid: 75px 1px auto 50px / 20% 1px 1fr 1fr

      .textWrap
        grid-area: 2 / 1 / span 2 / span 3
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 10px

        .text
          margin-bottom: 50px

          .headline
            text-transform: uppercase
            font-weight: 600
            color: $darkgrey
            font-size: .85rem
            margin-bottom: 35px

          h2
            font-weight: 400
            color: $black

            strong
              font-weight: 700
              color: $black


          .bodyText

            p
              color: $black

          @media screen and (min-width: 900px)
            .bodyText
              width: 65%


        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 1 / 3 / span 3 / span 2
          width: 65%
          justify-self: start
          margin: 135px 0 100px 25px


      .imgBlock
        grid-area: 6 / 1 / span 1 / span 3
        z-index: 1
        margin-bottom: 50px
        height: 250px

        .img
          height: 250px
          background-size: cover
          background-position: center center

        @media screen and (min-width: 900px)
          .img
            height: auto
            grid-area: 1 / 1 / span 1 / span 6
            margin-left: 0
            background-position: 65% center
            flex-grow: 1

      @media screen and (min-width: 900px)
        .imgBlock
          grid-area: 1 / 3 / span 4 / span 2
          margin-bottom: 0
          height: initial
          display: flex
          flex-direction: column
          margin-top: 50px
          width: 60%
          justify-self: end

      @media screen and (min-width: 900px)
        .greybox
          grid-area: 1 / 1 / span 3 / span 4
          background-color: $lightgrey

    @media screen and (min-width: 900px)
      .grid
        grid: 175px 1px auto 75px / 20% 1px 1fr 1fr
        min-height: 75vh

  @media screen and (min-width: 900px)
    section.mission
      background-color: initial
      margin-bottom: -75px


  section.services
    background-color: $black

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 50px 100px auto 50px 50px auto / 1fr 1px 1fr

      .vertical, .horizontal
        display: none
        background-color: $silver
        opacity: 0.1

      .vertical
        grid-area: 1 / 2 / span 5 / span 1
        // opacity: 0.8


      @media screen and (min-width: 900px)
        .vertical
          grid-area: 2 / 3 / span 3 / span 1
          display: block

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 4
          display: block



      .crosshair
        display: none
        grid-area: 2 / 1 / span 1 / span 3
        justify-self: center
        align-self: center
        z-index: 1
        // margin-right: 1px

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 3 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center
          display: grid

      // grid: 150px 1px auto 150px / 100px 50px 1px 1fr

      .textWrap
        grid-area: 2 / 1 / span 2 / span 3
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 10px

        .text
          margin-bottom: 50px

          .headline
            text-transform: uppercase
            font-weight: 600
            color: $darkgrey
            font-size: .85rem
            margin-bottom: 35px

          h2
            font-weight: 400
            color: $white
            margin-bottom: 100px

            strong
              font-weight: 700
              color: $white

          @media screen and (min-width: 900px)
            h2
              width: 65%
              margin-bottom: 60px

          .servicesList
            width: 85%
            margin: 0 auto

            .service_type
              margin-bottom: 36px

              h3
                color: $white
                font-weight: 600
                font-size: 1.2rem
                margin-bottom: 10px

              @media screen and (min-width: 1050px)
                h3
                  font-size: 1.5rem

              .horizontal
                margin-bottom: 10px
                opacity: .5

              .list

                p
                  color: $white
                  font-weight: 300

                @media screen and (min-width: 1150px)
                  p
                    font-size: 1.2rem

            @media screen and (min-width: 550px)
              .service_type
                width: 45%

            @media screen and (min-width: 1150px)
              .service_type
                width: 17%

          @media screen and (min-width: 550px)
            .servicesList
              display: flex
              flex-direction: row
              justify-content: space-around
              flex-wrap: wrap

          @media screen and (min-width: 900px)
            .servicesList
              justify-content: space-between
              width: 95%
              margin-left: 0

          .cta
            display: inline-flex
            flex-direction: column
            margin-top: 35px

            a
              color: $yellow
              letter-spacing: 1px
              text-transform: uppercase
              display: block
              margin-bottom: 10px


            .underline
              height: 3px
              background-color: $yellow
              width: 100%
              // transform: translate(0)
              // transform: translate(-50%)
              transition: transform .3s ease-in-out




          @media screen and (min-width: 900px)
            .cta
              overflow: hidden
              cursor: pointer

              &:hover

                .underline
                  transform: translate(-50%)
                  transition: transform .3s ease-in-out
                  // background-color: $yellow



        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 1 / 4 / span 3 / span 1
          margin-top: 100px
          width: 90%
          margin-left: 25px
          justify-self: start

      @media screen and (min-width: 1100px)
        .textWrap
          margin-top: 160px


    @media screen and (min-width: 900px)
      .grid
        grid: 150px 1px 1fr 100px / 100px 50px 1px 1fr
        min-height: 100vh
        max-height: 1000px

    @media screen and (min-width: 1100px)
      .grid
        grid: 200px 1px 1fr 100px / 100px 50px 1px 1fr

  section.insight
    margin-bottom: 100px

    .singleInsight
      grid: 75px auto 50px auto / auto

      .categoryBlock
        grid-area: 2 / 1 / span 1 / span 1
        z-index: 2
        width: 85%
        margin: 0 auto

        .tag
          // margin-bottom: 0
          font-weight: 400
          text-transform: uppercase
          font-size: .85rem

        @media screen and (min-width: 900px)
          .tag
            margin-bottom: 0

        .opaqueCat
          color: $yellow
          font-size: 3rem
          line-height: 3rem
          text-transform: lowercase

        @media screen and (min-width: 615px)
          .opaqueCat
            font-size: 3.5rem
            line-height: 3.5rem

        @media screen and (min-width: 900px)
          .opaqueCat
            font-size: 5.5rem
            line-height: 5.5rem

        @media screen and (min-width: 1200px)
          .opaqueCat
            font-size: 7.5rem
            line-height: 7.5rem

        @media screen and (min-width: 1500px)
          .opaqueCat
            font-size: 9.5rem
            line-height: 9.5rem

      @media screen and (min-width: 900px)
        .categoryBlock
          grid-area: 2 / 4 / span 2 / span 1
          margin-top: 20px

      // grid: 75px 35px auto 50px auto / 100px 50px 1px auto

      .greybox
        grid-area: 2 / 1 / span 2 / span 1
        background-color: $lightgrey
        z-index: -1

      @media screen and (min-width: 900px)
        .greybox
          grid-area: 2 / 2 / span 3 / span 3

      .vertical
        display: none

      @media screen and (min-width: 900px)
        .vertical
          display: block
          grid-area: 2 / 3 / span 3 / span 1
          background-color: $silver

      .crosshair
        display: none

      @media screen and (min-width: 900px)
        .crosshair
          display: grid
          grid-area: 3 / 3 / span 1 / span 1
          align-self: end
          margin-left: -14px


      img.main
        grid-area: 2 / 1 / span 2 / span 1
        z-index: 1
        width: 100%
        margin-top: 60px
        margin-bottom: 50px
        // width: 90%
        margin-left: auto
        z-index: 3

      @media screen and (min-width: 615px)
        img.main
          width: 85%


      @media screen and (min-width: 900px)
        img.main
          margin-bottom: 50px
          margin-top: 50px
          width: 95%
          grid-area: 3 / 4 / span 1 / span 1

      // grid: 75px 35px auto 50px auto / 100px 50px 1px auto

      .img
        grid-area: 2 / 1 / span 2 / span 1
        background-size: cover
        width: 80%
        margin: 70px 30px 70px auto
        height: 150px

      @media screen and (min-width: 900px)
        .img
          margin-bottom: 100px
          margin-top: 50px
          grid-area: 3 / 4 / span 1 / span 1


      .titleWrap
        grid-area: 3 / 1 / span 2 / span 1
        width: 85%
        margin: 0 auto

        .title
          font-size: 1.75rem
          line-height: 1.75rem
          margin-top: 20px
          font-weight: 400

        @media screen and (min-width: 615px)
          .title
            width: 350px

        @media screen and (min-width: 900px)
          .title
            font-size: 2.2rem
            line-height: 2.2rem
            margin-top: 0




      @media screen and (min-width: 900px)
        .titleWrap
          grid-area: 4 / 4 / span 2 / span 1

    @media screen and (min-width: 615px)
      .singleInsight
        width: 85%
        margin-left: auto

    @media screen and (min-width: 900px)
      .singleInsight
        width: 100%
        // grid: 75px auto 50px auto / auto
        grid: 75px 35px auto 50px auto / 100px 50px 1px auto



  section.contact

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 100px auto / auto

      .vertical, .horizontal
        background-color: $silver
        opacity: 0.3

      @media screen and (min-width: 900px)
        .vertical
          display: block

      .verticalCenter
        display: block


      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 3 / span 3 / span 1

      .horizontal
        grid-area: 1 / 1 / span 1 / span 1
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 4




      .crosshair
        grid-area: 1 / 1 / span 1 / span 1
        justify-self: center
        align-self: center
        z-index: 1
        margin-right: 1px

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 3 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center
          display: grid

      // grid: 100px 1px auto / 100px 50px 1px auto

      .textWrap
        grid-area: 2 / 1 / span 1 / span 1
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 10px

        .text
          margin-bottom: 50px


          h2
            font-weight: 400
            color: $white
            max-width: 610px


          .cta
            display: inline-flex
            flex-direction: column

            a
              color: $white
              letter-spacing: 1px
              text-transform: uppercase
              display: block
              margin-bottom: 10px


            .underline
              height: 3px
              background-color: $white
              width: 100%
              transform: translate(0)
              transition: transform .3s ease-in-out




          @media screen and (min-width: 900px)
            .cta
              overflow: hidden
              cursor: pointer

              &:hover

                .underline
                  transform: translate(-50%)
                  transition: transform .3s ease-in-out
                  // background-color: $yellow




        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 3 / 4 / span 1 / span 1
          width: 60%
          justify-self: start
          margin-left: 25px
          margin-top: 25px


      .imgBlock
        grid-area: 1 / 1 / span 2 / span 1
        z-index: -1
        // margin-bottom: 50px
        // height: 400px
        display: grid
        grid: auto / auto

        .img
          grid-area: 1 / 1 / span 1 / span 1
          background-size: cover
          background-position: center center

        @media screen and (min-width: 900px)
          .img
            height: auto
            // grid-area: 1 / 1 / span 1 / span 6
            // margin-left: 100px
            // background-position: 65% center

        .dark
          grid-area: 1 / 1 / span 1 / span 1
          background-color: rgba($black, 0.4)
          z-index: 1


      @media screen and (min-width: 900px)
        .imgBlock
          grid-area: 1 / 4 / span 3 / span 1
          width: calc(100% - 120px)
          justify-self: end
          margin-bottom: 0

      .greybox

      @media screen and (min-width: 900px)
        .greybox
          grid-area: 1 / 1 / span 3 / span 4
          background-color: $darkergrey
          z-index: -1

    @media screen and (min-width: 900px)
      .grid
        grid: 100px 1px auto / 150px 80px 1px auto

    @media screen and (min-width: 1000px)
      .grid
        min-height: 500px

    @media screen and (min-width: 1500px)
      .grid
        // min-height: 60vh

  @media screen and (min-width: 1000px)
    section.contact
      // min-height: 60vh
      min-height: 500px

  @media screen and (min-width: 1500px)
    section.contact
      // min-height: 60vh
