.homepage

  section.hero
    // margin: 0 10px 10px
    height: 100vh
    display: grid
    grid: 1fr / 1fr

    .img
      grid-area: 1 / 1 / span 1 / span 1
      background-size: cover
      background-position: center center
      z-index: 1

    .grid
      z-index: 2
      grid-area: 1 / 1 / span 1 / span 1
      display: grid
      grid: 3fr 1px 1fr / 1fr 1px 1fr
      // grid: 1fr 1fr 15% / 67% 33%

      .horizontal, .vertical
        background-color: $grey
        opacity: 0.3

      .horizontal1
        grid-area: 2 / 1 / span 1 / span 3

      @media screen and (min-width: 800px)
        .horizontal1
          grid-area: 2 / 1 / span 1 / span 11

      .horizontal2
        // grid-area: 2 / 1 / span 1 / span 3
        display: none

      @media screen and (min-width: 800px)
        .horizontal2
          display: block
          grid-area: 4 / 1 / span 1 / span 11

      .vertical
        display: none

      @media screen and (min-width: 800px)
        .vertical
          display: block

      @media screen and (min-width: 800px)
        .verticalLeft
          grid-area: 1 / 2 / span 5 / span 1

      @media screen and (min-width: 800px)
        .verticalLeftCenter
          grid-area: 1 / 4 / span 5 / span 1

      .verticalCenter
        display: block
        grid-area: 1 / 2 / span 3 / span 1

      @media screen and (min-width: 800px)
        .verticalCenter
          grid-area: 1 / 6 / span 5 / span 1

      @media screen and (min-width: 800px)
        .verticalRightCenter
          grid-area: 1 / 8 / span 5 / span 1

      @media screen and (min-width: 800px)
        .verticalRight
          grid-area: 1 / 10 / span 5 / span 1



      .crosshair
        grid-area: 2 / 2 / span 1 / span 1
        align-self: center
        justify-self: center

      .heroH1
        grid-area: 1 / 1 / span 3 / span 3
        align-self: center
        width: 80%
        justify-self: center

        .stationaryH1
          color: $white
          padding-top: 25px
          margin-bottom: 0

          .transparentSpacer
            display: none

          @media screen and (min-width: 900px)
            .transparentSpacer
              display: inline
              opacity: 0
              margin-right: 25px

        @media screen and (min-width: 900px)
          .stationaryH1
            margin: 0
            padding-top: 0

        .cycleWrap
          display: inline

          .cyclingWord
            color: $yellow
            animation: topToBottom 10s ease-in-out infinite 0s
            animation-delay: 0s
            opacity: 0
            overflow: hidden
            position: absolute
            margin: 0
            text-transform: capitalize

            &:nth-child(2)
              animation-delay: 2.5s

            &:nth-child(3)
              animation-delay: 5s

          @keyframes topToBottom
            0%
              opacity: 0

            5%
              opacity: 0
              transform: translateY(-50px)

            10%
              opacity: 1
              transform: translateY(0px)

            25%
              opacity: 1
              transform: translateY(0px)

            30%
              opacity: 0
              transform: translateY(50px)

            80%
              opacity: 0

            100%
              opacity: 0

      @media screen and (min-width: 800px)
        .heroH1
          grid-area: 3 / 3 / span 3 / span 6
          width: 100%
          align-self: start

      .digIn
        grid-area: 1 / 3 / span 3 / span 1
        align-self: end
        padding-bottom: 20px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        animation: bounce 2s ease-in-out 2s infinite

        .thinUppercase
          color: $white
          transform: rotate(-90deg)
          margin-bottom: 30px

        img
          width: 65px

      @keyframes bounce
        0%
          padding-bottom: 20px

        30%
          padding-bottom: 30px

        50%
          padding-bottom: 20px

        100%
          padding-bottom: 20px

      @media screen and (min-width: 800px)
        .digIn
          justify-self: end
          grid-area: 3 / 11 / span 3 / span 1
          margin-right: 10px

    @media screen and (min-width: 800px)
      .grid
        grid: 2fr 1px 2fr 1px 1fr / 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr

  @media screen and (min-width: 800px)
    section.hero
      height: calc(100vh - 80px - 10px)
      margin-bottom: 0

  section.dirtWorld
    // padding: 50px 0

    .grid
      width: 100%
      display: grid
      grid: 50px auto auto auto 50px / 1fr 1px 1fr

      .vertical
        background-color: $silver
        opacity: 0.3
        display: none

      @media screen and (min-width: 900px)
        .vertical
          display: block

      .verticalCenter
        display: block
        grid-area: 1 / 2 / span 5 / span 1
        opacity: 0.8



      @media screen and (min-width: 900px)
        .verticalLeft
          // grid-area: 5 / 3 / span 1 / span 1
          display: none

      @media screen and (min-width: 900px)
        .verticalLeftCenter
          grid-area: 1 / 5 / span 5 / span 1

      @media screen and (min-width: 900px)
        .verticalCenter
          grid-area: 1 / 7 / span 5 / span 1

      @media screen and (min-width: 900px)
        .verticalRightCenter
          grid-area: 1 / 9 / span 2 / span 1

      @media screen and (min-width: 900px)
        .verticalRight
          grid-area: 1 / 11 / span 2 / span 1

      .crosshair
        display: none

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 6 / span 1 / span 3
          z-index: 2
          justify-self: center
          align-self: center
          display: grid


          .vert, .horiz
            background-color: $yellow


      .text
        grid-area: 2 / 1 / span 1 / span 3
        width: 85%
        justify-self: center
        margin-bottom: 50px

        h2

        .bodyText

      @media screen and (min-width: 900px)
        .text
          grid-area: 3 / 8 / span 1 / span 5
          justify-self: start

      .imgBlock
        grid-area: 3 / 1 / span 1 / span 3
        z-index: 1
        margin-bottom: 50px

        .img
          height: 250px
          background-size: cover
          background-position: center center

        @media screen and (min-width: 900px)
          .img
            height: auto
            grid-area: 1 / 1 / span 1 / span 6
            margin-left: 100px
            background-position: 65% center

        .triangle

        @media screen and (min-width: 900px)
          .triangle
            grid-area: 1 / 6 / span 1 / span 1
            background-color: $white
            // width: 0
            // height: 0
            // border-top: 100% solid $white
            // border-left: 100% solid transparent
            z-index: 1
            clip-path: polygon(0 0, 100% 0, 100% 100%)
            // this ^ doesn't currently work in IE grrrr

      @media screen and (min-width: 900px)
        .imgBlock
          grid-area: 2 / 1 / span 4 / span 6
          margin-bottom: 0
          display: grid
          // grid: 100px auto / auto
          grid: auto / 10px 1fr 1px 1fr 1px 1fr

      .quoteBlock
        padding: 35px 0
        grid-area: 4 / 1 / span 1 / span 3
        width: 85%
        justify-self: center
        display: grid
        grid: auto auto / auto

        img
          width: 75px
          grid-area: 1 / 1 / span 1 / span 1

        @media screen and (min-width: 900px)
          img
            width: 100px

        .quote

          grid-area: 1 / 1 / span 1 / span 1
          margin-left: 25px
          align-self: center
          font-size: 1.5rem

        @media screen and (min-width: 900px)
          .quote
            font-size: 2rem
            margin-left: 35px

        .attr
          grid-area: 2 / 1 / span 1 / span 1
          justify-self: end
          color: $yellow

      @media screen and (min-width: 900px)
        .quoteBlock
          grid-area: 4 / 6 / span 1 / span 7
          z-index: 2
          justify-self: center
          width: 85%
          max-width: 600px
          margin-left: 75px

    @media screen and (min-width: 900px)
      .grid
        grid: 100px 70px auto auto 100px / 10px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 10px

  section.productionProfit

    .grid
      width: 100%
      display: grid
      grid: auto auto auto 50px / 1fr 1px 1fr

      .vertical
        background-color: $grey
        opacity: 0.5
        display: none

      @media screen and (min-width: 900px)
        .vertical
          display: block

      .verticalCenter
        // display: block
        // grid-area: 1 / 2 / span 5 / span 1
        // opacity: 0.8



      @media screen and (min-width: 900px)
        .verticalLeft
          grid-area: 1 / 3 / span 5 / span 1
          z-index: 100

      @media screen and (min-width: 900px)
        .verticalLeftCenter
          // grid-area: 1 / 5 / span 5 / span 1
          display: none

      @media screen and (min-width: 900px)
        .verticalCenter
          // grid-area: 1 / 7 / span 5 / span 1
          display: none

      @media screen and (min-width: 900px)
        .verticalRightCenter
          // grid-area: 1 / 9 / span 5 / span 1
          display: none

      @media screen and (min-width: 900px)
        .verticalRight
          // grid-area: 1 / 11 / span 5 / span 1
          display: none

      .crosshair
        display: none

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 2 / span 1 / span 3
          z-index: 2
          justify-self: center
          align-self: end
          display: grid


          .vert, .horiz
            background-color: $yellow


      .text
        grid-area: 1 / 1 / span 2 / span 3
        width: 85%
        justify-self: center
        margin: 100px 0

        h2



        .bodyText

        @media screen and (min-width: 900px)
          .bodyText
            max-width: 500px

      @media screen and (min-width: 900px)
        .text
          grid-area: 3 / 4 / span 1 / span 5
          justify-self: start
          margin-top: 0
          margin-bottom: 40px
          width: 100%

      .imgBlock
        grid-area: 3 / 1 / span 2 / span 3
        z-index: 1
        // margin-bottom: 50px


        .img
          height: 300px
          background-size: cover
          background-position: center center

        @media screen and (min-width: 900px)
          .img
            height: auto
            grid-area: 1 / 1 / span 1 / span 6
            width: calc(100% - 1px)
            justify-self: end
            background-repeat: no-repeat
            transform: scaleX(-1)
            background-position: 0% center

        @media screen and (min-width: 1200px)
          .img
            height: auto
            grid-area: 1 / 1 / span 1 / span 6
            width: calc(100% - 2px)
            justify-self: end
            background-repeat: no-repeat
            transform: scaleX(-1)
            background-position: 0% center


        .triangle

        @media screen and (min-width: 900px)
          .triangle
            grid-area: 1 / 1 / span 1 / span 1
            background-color: $silver
            z-index: 1
            clip-path: polygon(0 100%, 0 0, 100% 0)
            // this ^ doesn't currently work in IE grrrr
            display: flex
            flex-direction: column
            justify-content: flex-start

            .whiteBar
              height: 100px
              width: 100%
              background-color: $white

      @media screen and (min-width: 900px)
        .imgBlock
          grid-area: 1 / 10 / span 4 / span 4
          margin-bottom: 0
          display: grid
          // grid: 100px auto / auto
          grid: auto / 1fr 1px 1fr 1px 1fr 10px

      // for reference
      // grid: auto auto auto 50px / 1fr 1px 1fr
      .greyBox
        background-color: $silver
        grid-area: 1 / 1 / span 4 / span 3

      @media screen and (min-width: 900px)
        // grid: 100px 125px auto auto 100px / 10px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 10px
        .greyBox
          grid-area: 2 / 1 / span 4 / span 13

      .bigText
        grid-area: 3 / 1 / span 2 / span 3
        z-index: 2
        background-color: rgba($black, 0.4)
        display: flex
        flex-direction: column
        justify-content: center
        overflow: hidden

        .line
          width: 95%
          margin: 0 auto
          display: grid
          grid: auto / auto


          h1
            max-width: 95%
            margin: 0
            text-align: right
            margin-left: auto
            opacity: 0.7
            color: $grey
            text-transform: uppercase
            display: inline
            grid-area: 1 / 1 / span 1 / span 1
            justify-self: end

          @media screen and (min-width: 900px)
            h1
              color: $black
              opacity: 0.5
              font-size: 5.5rem
              margin-left: 0
              text-align: center
              max-width: none
              line-height: 1

          @media screen and (min-width: 1200px)
            h1
              font-size: 7.5rem


          .crossout
            background-color: $yellow
            grid-area: 1 / 1 / span 1 / span 1
            align-self: center
            height: 10px
            width: 100%
            z-index: 1


        @media screen and (min-width: 900px)
          .line
            justify-content: end
            margin: 0

        .topLine

          .crossout
            transform: translate(-100%)
            opacity: .5
            transition: transform 0.5s ease-in

          .slideInCrossOut
            transform: translate(0)
            opacity: 1
            transition: transform 0.5s ease-in


        .bottomLine

          .crossout
            width: 175px
            justify-self: end
            transform: translate(100%)
            transition: transform 0.5s ease-in
            opacity: 0.5

          .slideInCrossOut
            transform: translate(0)
            opacity: 1
            transition: transform 0.5s ease-in

          @media screen and (min-width: 900px)
            .crossout
              width: 100%

        @media screen and (min-width: 900px)
          .bottomLine
            // width: auto

      @media screen and (min-width: 900px)
        .bigText
          grid-area: 4 / 4 / span 1 / span 9
          background-color: transparent
          // margin-left: 60px
          margin-right: 55px

      @media screen and (min-width: 1200px)
        .bigText
          margin-bottom: 50px

    @media screen and (min-width: 900px)
      .grid
        grid: 100px 125px auto auto 100px / 10px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 10px

  @media screen and (min-width: 900px)
    section.productionProfit
      margin-top: -100px

  section.people
    margin-top: -50px
    margin-bottom: -50px

    .grid
      width: 100%
      display: grid
      grid: 50px auto 50px / 1fr 1px 1fr

      .vertical
        background-color: $grey
        opacity: 0.5

      @media screen and (min-width: 900px)
        .vertical
          display: block

      .verticalCenter
        grid-area: 1 / 2 / span 2 / span 1


      @media screen and (min-width: 900px)
        .verticalCenter
          // grid-area: 1 / 7 / span 5 / span 1
          grid-area: 2 / 7 / span 1 / span 1

      @media screen and (min-width: 1200px)
        .verticalCenter
          // grid-area: 1 / 7 / span 5 / span 1
          grid-area: 2 / 7 / span 2 / span 1


      .crosshair
        grid-area: 1 / 1 / span 2 / span 3
        align-self: start
        justify-self: center
        z-index: 2
        margin-top: 100px

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 6 / span 1 / span 3
          justify-self: center
          align-self: start
          margin-top: 230px

      @media screen and (min-width: 1050px)
        .crosshair
          margin-top: 0
          margin-bottom: 100px
          align-self: center


      .text
        grid-area: 1 / 1 / span 3 / span 3
        width: 65%
        justify-self: end
        margin-right: 20px
        align-self: center
        z-index: 2

        h2


        .bodyText

        @media screen and (min-width: 900px)
          .bodyText
            // max-width: 500px

      @media screen and (min-width: 900px)
        .text
          grid-area: 2 / 8 / span 1 / span 5
          justify-self: center
          align-self: center
          margin-top: 30px
          width: 65%
          margin-left: auto
          margin-right: 0

      @media screen and (min-width: 1050px)
        .text
          margin-right: 15px
          width: 75%

      @media screen and (min-width: 1200px)
        .text
          width: 85%

      .image-grid
        display: flex
        flex-direction: column
        grid-area: 1 / 1 / span 3 / span 1

        .headshot
          width: 100px
          height: 100px
          margin-bottom: 25px
          background-size: cover
          background-position: center
          z-index: 2
          display: none

          &:last-child
            margin-bottom: 0

          &:nth-child(-n+6)
            display: block

        .filler
          display: none !important

        @media screen and (min-width: 900px)
          .filler
            display: block !important

        @media screen and (min-width: 900px)
          .headshot
            display: block
            width: 150px
            height: 150px
            margin: 5px

        @media screen and (min-width: 1200px)
          .headshot
            width: 220px
            height: 220px

      @media screen and (min-width: 900px)
        .image-grid
          grid-area: 1 / 2 / span 3 / span 5
          flex-direction: row
          flex-wrap: wrap
          width: 480px
          margin-left: 95px

      @media screen and (min-width: 1200px)
        .image-grid
          width: 690px
          margin-bottom: 40px



    @media screen and (min-width: 900px)
      .grid
        grid: 50px auto 50px / 10px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 10px

    @media screen and (min-width: 1200px)
      .grid
        grid: 100px auto 100px / 10px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 10px

  @media screen and (min-width: 1200px)
    section.people
      margin-top: -100px
      margin-bottom: 0


  section.mission
    background-color: $black

    .grid
      width: 100%
      display: grid
      grid: 100px auto auto 100px / 1fr 1px 1fr

      .horizontal, .vertical
        background-color: $grey
        opacity: 0.3
        display: none

      @media screen and (min-width: 900px)
        .vertical, .horizontal
          display: block


      @media screen and (min-width: 900px)
        .horizontal1
          grid-area: 2 / 1 / span 1 / span 13


      @media screen and (min-width: 900px)
        .horizontal2
          grid-area: 4 / 1 / span 1 / span 13

      .vertical
        background-color: $silver
        opacity: 0.3

      @media screen and (min-width: 900px)
        .verticalLeft
          grid-area: 1 / 3 / span 5 / span 1


      @media screen and (min-width: 900px)
        .verticalRight
          grid-area: 1 / 11 / span 3 / span 1

      .crosshair
        display: none

      @media screen and (min-width: 900px)
        .crosshair
          // grid-area: 2 / 6 / span 1 / span 3
          z-index: 2
          justify-self: center
          align-self: center
          display: grid

          .vert, .horiz
            background-color: $yellow

        #crosshair1
          grid-area: 2 / 2 / span 1 / span 3

        #crosshair2
          grid-area: 2 / 10 / span 1 / span 3


        #crosshair3
          grid-area: 4 / 2 / span 1 / span 3


        #crosshair4
          grid-area: 4 / 10 / span 1 / span 3




      .text
        grid-area: 2 / 1 / span 1 / span 3
        width: 85%
        justify-self: center
        margin-bottom: 50px

        h3
          margin-bottom: 15px
          margin-top: 0

        h2
          color: $white

        @media screen and (min-width: 900px)
          h2
            font-size: 3.5rem
            line-height: 1.2
            margin-bottom: 20px

        @media screen and (min-width: 1200px)
          h2
            font-size: 4.5rem

        .bodyText
          color: $white

      @media screen and (min-width: 900px)
        .text
          grid-area: 3 / 4 / span 1 / span 7
          justify-self: start
          margin-left: 30px
          width: 100%

      @media screen and (min-width: 900px)
        .text
          width: 90%

      .influence
        grid-area: 3 / 1 / span 1 / span 3
        width: 85%
        margin: 0 auto

        .ourInfluence
          display: flex
          flex-direction: column
          margin-bottom: 40px
          max-width: 280px


          p
            color: $yellow


          img
            height: 60px
            align-self: flex-end
            margin-top: -20px

        @media screen and (min-width: 1200px)
          .ourInfluence
            grid-area: 1 / 1 / span 1 / span 2
            align-self: center
            flex-direction: row
            z-index: 3
            max-width: none
            margin-bottom: 0

        .linkBlock


          .triangle

          @media screen and (min-width: 900px)
            .triangle
              // clip-path: polygon(0 100%, 0 0, 100% 0)
              // grid-area: 1 / 1 / span 1 / span 1
              // z-index: 2

          .yellowBorder
            border: 3px solid $yellow
            padding: 20px 5%
            background-color: $black

            p
              color: $white
              font-weight: 600
              margin-bottom: 45px
              font-size: 1.2rem

            .buttons
              display: flex
              flex-direction: column

              .button
                margin-bottom: 35px
                border-color: $white
                color: $yellow
                width: auto
                text-align: center
                width: 50%
                align-self: center

                &:hover
                  background-color: $white

              @media screen and (min-width: 900px)
                .button
                  width: 18%
                  max-width: 145px
                  margin-bottom: 0
                  align-self: auto

            @media screen and (min-width: 900px)
              .buttons
                flex-direction: row
                justify-content: space-between

          @media screen and (min-width: 900px)
            .yellowBorder
              background-color: $black
              border-right-width: 0px
              padding-left: 60px
              max-width: 575px
              margin-right: 0
              margin-left: auto


        @media screen and (min-width: 900px)
          .linkBlock
            z-index: 2

        @media screen and (min-width: 1200px)
          .linkBlock
            grid-area: 1 / 2 / span 1 / span 2
            align-self: center

      @media screen and (min-width: 900px)
        .influence
          grid-area: 5 / 6 / span 1 / span 8
          align-self: center
          width: 100%
          margin: 60px 0 100px

      @media screen and (min-width: 1200px)
        .influence
          display: grid
          grid: auto / auto 40px auto

    @media screen and (min-width: 900px)
      .grid
        grid: 100px 1px 3fr 1px auto / 10px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 10px


  section.realWorld

    .grid
      width: 100%
      display: grid
      grid: 100px 1px auto auto / 1fr 1px 1fr

      .horizontal, .vertical
        background-color: $grey
        opacity: 0.3
        // display: none

      @media screen and (min-width: 900px)
        .vertical, .horizontal
          // display: block

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 3 / 7 / span 1 / span 7

      .verticalCenter
        grid-area: 1 / 2 / span 4 / span 1

      @media screen and (min-width: 900px)
        .verticalCenter
          grid-area: 2 / 7 / span 3 / span 1


      .crosshair
        // display: none
        grid-area: 2 / 1 / span 2 / span 3
        justify-content: center
        margin-top: -15px

      @media screen and (min-width: 900px)
        .crosshair
          // grid-area: 2 / 6 / span 1 / span 3
          grid-area: 3 / 6 / span 2 / span 3
          z-index: 2
          justify-self: center
          align-self: start
          display: grid

          .vert, .horiz
            background-color: $yellow

      .imgBlock
        grid-area: 4 / 1 / span 1 / span 3
        z-index: 1
        // margin-bottom: 50px
        display: grid
        grid: auto / auto

        .img
          grid-area: 1 / 1 / span 1 / span 1
          height: 300px
          background-size: cover
          background-position: center center

        @media screen and (min-width: 900px)
          .img
            height: auto
            grid-area: 1 / 1 / span 1 / span 6
            margin-left: 100px
            background-position: 65% center
            background-repeat: no-repeat

        .triangle
          grid-area: 1 / 1 / span 1 / span 1
          background-color: rgba($black, 0.7)


        @media screen and (min-width: 900px)
          .triangle
            grid-area: 1 / 6 / span 1 / span 1
            background-color: $white
            z-index: 1
            clip-path: polygon(0 0, 100% 0, 100% 100%)
            // this ^ doesn't currently work in IE grrrr
            display: flex
            flex-direction: column
            justify-content: flex-start

            .blackBar
              background-color: $black
              height: 100px

      @media screen and (min-width: 900px)
        .imgBlock
          grid-area: 1 / 1 / span 4 / span 6
          margin-bottom: 0
          display: grid
          // grid: 100px auto / auto
          grid: auto / 10px 1fr 1px 1fr 1px 1fr

      .text
        grid-area: 3 / 1 / span 1 / span 3
        width: 85%
        justify-self: center
        margin-bottom: 45px
        margin-top: 45px

        h2


        @media screen and (min-width: 1200px)
          h2
            font-size: 2.5rem


      @media screen and (min-width: 900px)
        .text
          width: 90%
          grid-area: 4 / 8 / span 1 / span 5
          margin: 0
          margin-top: 25px
          justify-self: start

      @media screen and (min-width: 1200px)
        .text
          grid-area: 4 / 8 / span 1 / span 4

      .buttons
        grid-area: 4 / 1 / span 1 / span 3
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        z-index: 2

        .button
          border-color: $yellow
          color: $white
          font-size: 1.4rem
          text-align: center
          width: 85%

          &:first-child
            margin-bottom: 35px


        @media screen and (min-width: 900px)
          .button
            color: $black
            font-size: 1.2rem
            font-weight: 700
            max-width: 260px
            padding: 18px 12px

            &:hover
              background-color: $yellow


        @media screen and (min-width: 1050px)
          .button
            width: 40%

            &:first-child
              margin-bottom: 0
              margin-right: 25px



      @media screen and (min-width: 900px)
        .buttons
          grid-area: 4 / 8 / span 1 / span 5
          margin-top: 250px
          margin-bottom: 150px
          // flex-direction: row
          // justify-content: flex-start

      @media screen and (min-width: 1050px)
        .buttons
          flex-direction: row
          justify-content: flex-start

      @media screen and (min-width: 1150px)
        .buttons
          margin-top: 300px

    @media screen and (min-width: 900px)
      .grid
        grid: 100px 150px 1px auto / 10px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 10px

  @media screen and (min-width: 900px)
    section.realWorld
      margin-top: -100px
