.mobileNav
  background-color: $white
  position: fixed
  width: 70%
  max-width: 300px
  z-index: 100
  height: 100vh
  display: flex
  flex-direction: column
  border-bottom-right-radius: 3px
  transform: translate(0)
  transition: transform 0.5s ease-in-out

  .wrap
    flex-grow: 1
    width: 85%
    margin: 65px auto 65px
    display: flex
    flex-direction: column
    justify-content: space-between

    .menu
      display: flex
      flex-direction: column

      a
        margin: 10px 0
        letter-spacing: 1px
        text-transform: uppercase
        font-size: 1.1rem
        font-weight: 300

    .social
      margin-top: 50px
      display: flex
      flex-direction: row
      justify-content: space-between
      width: 75%
