.newsletterpage

  section.hero
    background-color: $black


    .grid
      grid: 15% 1px auto auto / 20% 1px 1fr
      height: 100vh

      .vertical
        grid-area: 1 / 2 / span 4 / span 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3

      .cross
        grid-area: 2 / 2 / span 1 / span 1
        justify-self: center
        align-self: center

        img

      .form
        grid-area: 4 / 1 / span 1 / span 3
        width: 85%
        justify-self: center
        z-index: 1


        .gform_wrapper

          form

            li
              margin-bottom: 0

            @media screen and (min-width: 750px)
              li
                padding-right: 0
                margin-top: 0

                .ginput_container
                  margin-top: 0

            input
              font-family: $sans !important
              padding-left: 10px !important
              letter-spacing: 1.5px !important

              &::placeholder
                text-transform: uppercase

            @media screen and (min-width: 750px)
              input
                margin: 0
                padding: 15px 4px 15px 10px !important

            .gform_footer
              display: flex
              justify-content: center
              flex-direction: row
              align-items: center
              margin-top: 0

              .gform_button
                background-color: $yellow
                font-family: $titillium !important
                text-transform: uppercase !important
                width: fit-content
                margin: 0 auto
                transition: 0.3s
                cursor: pointer

                &:hover
                  background-color: $black
                  color: $yellow
                  transition: 0.3s

            @media screen and (min-width: 750px)
              .gform_body
                width: 400px
                margin-right: 20px

            @media screen and (min-width: 750px)
              .gform_footer
                margin: 0
                padding: 0
                width: fit-content

                input
                  padding: 20px !important
                  line-height: 1
                  margin: 0 !important


          @media screen and (min-width: 750px)
            form
              display: flex
              flex-direction: row
              align-items: center


        .disclaimer
          font-size: .85rem
          color: $white

      @media screen and (min-width: 750px)
        .form
          grid-area: 4 / 3 / span 1 / span 1
          width: 100%
          margin-left: 20px
          margin-bottom: 150px

      @media screen and (min-width: 900px)
        .form
          margin-left: 43px
          margin-bottom: 200px



      .text
        grid-area: 3 / 3 / span 1 / span 1
        margin: 12px 0 0 12px

        h1
          font-weight: 400
          color: $white
          margin: 0 0 20px
          width: 90%
          line-height: 1

          strong
            font-weight: 600
            color: $white


        .p
          color: $white
          width: 90%
          max-width: 750px

      @media screen and (min-width: 900px)
        .text
          width: 85%
          margin: 25px 0 0 25px

    @media screen and (min-width: 750px)
      .grid
        grid: 35% 1px auto auto / 20% 1px 1fr

    @media screen and (min-width: 900px)
      .grid
        grid: 25% 1px auto auto / 20% 1px 1fr
