.pum-container
  max-width: 630px !important
  padding: 0

  .newsletter-form
    width: 100%
    margin: 0

.newsletter-form
  width: 85%
  margin: 50px auto 100px
  background-color: $black
  padding: 25px 0
  max-width: 630px


  .text
    width: 85%
    margin: 0 auto 25px

    h2
      color: $white

      strong
        color: $white

    p
      color: $white

  .gform_wrapper
    width: 85%
    margin: 0 auto

    form

      li
        margin-bottom: 0
        margin-top: 0 !important

      @media screen and (min-width: 750px)
        li
          padding-right: 0
          margin-top: 0

      .ginput_container
        margin-top: 0 !important

      input
        font-family: $sans !important
        padding-left: 10px !important
        letter-spacing: 1.5px !important
        margin-top: 0 !important
        border: 1px solid $black

        &::placeholder
          text-transform: uppercase

      @media screen and (min-width: 750px)
        input
          margin: 0
          padding: 15px 4px 15px 10px !important

      .gform_footer
        display: flex
        justify-content: center
        flex-direction: row
        align-items: center
        margin-top: 0

        .gform_button
          background-color: $yellow
          font-family: $titillium !important
          text-transform: uppercase !important
          width: fit-content
          margin: 0 auto
          transition: 0.3s
          cursor: pointer

          &:hover
            background-color: $black
            color: $yellow
            transition: 0.3s

      @media screen and (min-width: 750px)
        .gform_body
          width: 400px
          margin-right: 20px

      @media screen and (min-width: 750px)
        .gform_footer
          margin: 0
          padding: 0
          width: fit-content

          input
            padding: 20px !important
            line-height: 1
            margin: 0 !important


    @media screen and (min-width: 750px)
      form
        display: flex
        flex-direction: row
        align-items: center

  @media screen and (min-width: 750px)
    .gform_wrapper
      margin-bottom: 15px


  .disclaimer
    width: 85%
    margin: 0 auto
    text-align: center
    font-size: .85rem
    color: $white

@media screen and (min-width: 750px)
  .form
    grid-area: 4 / 3 / span 1 / span 1
    width: 100%
    margin-left: 20px
    margin-bottom: 150px

@media screen and (min-width: 900px)
  .form
    margin-left: 43px
    margin-bottom: 200px
