.pagination
  width: 95%
  margin: 0 auto
  display: flex
  max-width: 600px
  flex-direction: row
  justify-content: space-between

  .prev, .next
    align-self: center
    font-weight: 600
    text-transform: uppercase
    font-size: .7rem



  .prev
    margin-right: 10px



  ul.pages
    flex-grow: 1
    padding: 0
    display: flex
    flex-direction: row
    justify-content: space-around
    list-style: none
    margin: 0

    li

      a, span
        font-family: $titillium
        margin: 0 5px
        font-size: 2rem
        line-height: 1

      span
        opacity: .3
        border-bottom: 2px solid $yellow




  .next
    margin-left: 10px

@media screen and (min-width: 900px)
  .pagination
    padding: 50px 0
