.partnerspage

  section.hero
    height: 100vh

    .grid
      // border-top: 1px solid rgba($grey, .3)
      // align-self: end
      height: 100vh
      z-index: 2
      display: grid
      // grid: 30% 30px auto 1fr / 1fr 85% 1fr
      grid: 1fr 1px 3fr / 15% 1px 1fr


      .img
        grid-area: 1 / 1 / span 3 / span 3
        background-size: cover
        background-position: center
        z-index: -1

      @media screen and (min-width: 900px)
        .img
          grid-area: 1 / 1 / span 3 / span 3

      .cross
        grid-area: 2 / 2 / span 1 / span 1
        align-self: center
        justify-self: center
        z-index: 2
        margin-top: 2px

        img

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 3 / 2 / span 1 / span 1

      .horizontal, .vertical
        background-color: $silver
        opacity: 0.3
        z-index: 1

      .vertical
        grid-area: 2 / 2 / span 2 / span 1

      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 2 /span 3 / spn 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 3

      .opaque
        grid-area: 1 / 1 / span 3 / span 3
        background-color: rgba($black, 0.5)
        // z-index: 1

      @media screen and (min-width: 900px)
        .opaque
          grid-area: 1 / 1 / span 3 / span 3


      // grid: 1fr 1px 2px / 1fr 1px 3fr

      .text
        grid-area: 3 / 3 / span 1 / span 1
        align-self: start
        justify-self: center
        z-index: 2
        margin: 12px 0 0 12px

        h1
          color: $white
          margin: 0
          font-weight: 400

          strong
            color: $white
            font-weight: 600

        @media screen and (min-width: 800px)
          h1
            margin-top: 0
            line-height: 3.5rem
            font-size: 3.5rem

        @media screen and (min-width: 900px)
          h1
            line-height: 4rem
            font-size: 4rem

        @media screen and (min-width: 1200px)
          h1
            line-height: 5rem
            font-size: 5rem


      @media screen and (min-width: 800px)
        .text
          width: 65%
          justify-self: start
          margin-top: 10px

      @media screen and (min-width: 900px)
        .text
          grid-area: 3 / 2 / span 1 / span 2
          margin-left: 25px
          margin-top: 8px
          // margin-bottom: 200px
          justify-self: start
          align-self: start
          width: 100%
          max-width: 700px

      .featuredText
        grid-area: 3 / 1 / span 1 / span 3
        justify-self: end
        align-self: end
        z-index: 2
        margin: 0 20px 20px 0

        h3
          color: $white
          font-family: $titillium
          margin: 0


        .cta
          display: inline-flex
          flex-direction: column

          a
            color: $white
            letter-spacing: 1px
            text-transform: uppercase
            display: block
            margin-bottom: 5px
            font-size: .85rem


          .underline
            height: 3px
            background-color: $white
            width: 100%


    @media screen and (min-width: 900px)
      .grid
        grid: 1fr 1px 3fr / 1fr 1px 3fr
        height: 66vh

  @media screen and (min-width: 900px)
    section.hero
      height: 66vh


  section.partner-filtering

    .filtering
      background-color: $lightgrey
      padding: 40px 0 30px

      h3
        width: 85%
        margin: 0 auto
        font-family: $titillium

      @media screen and (min-width: 900px)
        h3
          font-size: 2rem
          margin-bottom: 20px

      .filter-wrap
        width: 75%
        margin: 0 auto
        max-width: 280px

        form

          div

            ul
              display: flex
              flex-direction: column
              padding: 0

              li
                margin-bottom: 20px

                select
                  height: 40px
                  background-color: $silver
                  border-radius: 0
                  border: none
                  padding: 5px
                  width: 100%
                  font-family: $titillium
                  font-size: 1rem

                  option


                    &:first-child

                input
                  border: none
                  border-bottom: 2px solid $black
                  padding: 0
                  padding-bottom: 3px
                  background-color: transparent
                  text-transform: uppercase
                  font-weight: 600
                  font-family: $titillium
                  letter-spacing: .5px

    @media screen and (min-width: 900px)
      .filtering
        width: 20%
        margin-left: 30px
        padding-top: 250px


    .partners
      padding: 75px 0
      width: 85%
      margin: 0 auto

      .heading
        font-family: $titillium
        font-size: 3rem

      @media screen and (min-width: 900px)
        .heading
          font-size: 4rem

      .partner
        margin-bottom: 50px

        .img
          height: 300px
          background-size: cover
          background-position: center

        @media screen and (min-width: 900px)
          .img
            grid-area: 1 / 1 / span 2 / span 1
            height: auto

        .textBox
          background-color: $lightgrey
          padding-bottom: 30px
          display: flex
          flex-direction: column

          .partner-check
            background-color: $yellow
            display: inline-block
            padding: 4px 0
            align-self: flex-start

            p
              font-weight: 600
              text-transform: uppercase
              margin-left: 10px
              margin: 0 8px
              font-size: .65rem

          .text
            width: 85%
            margin: 30px auto 0

            p
              margin-bottom: 20px


          @media screen and (min-width: 900px)
            .text

              h2
                font-size: 2rem
                margin-bottom: 20px

              p
                font-size: .9rem

        @media screen and (min-width: 900px)
          .textBox
            grid-area: 1 / 2 / span 1 / span 1


      @media screen and (min-width: 900px)
        .partner
          display: grid
          margin-bottom: 100px

          &:nth-child(even)
            grid: auto 30px / 60% 40%

            .textBox

              .partner-check
                align-self: flex-end


          &:nth-child(odd)
            grid: auto 30px / 40% 60%

            .img
              grid-area: 1 / 2 / span 2 / span 1

            .textBox
              grid-area: 1 / 1 / span 1 / span 1


    @media screen and (min-width: 900px)
      .partners
        width: calc(75% - 100px)
        // max-height: 100vh
        // overflow: scroll
        // margin: 0 0 0 100px
        padding: 150px 0

  @media screen and (min-width: 900px)
    section.partner-filtering
      display: flex
      flex-direction: row-reverse



  section.contact

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 100px auto / auto

      .vertical, .horizontal
        background-color: $silver
        opacity: 0.3

      @media screen and (min-width: 900px)
        .vertical
          display: block

      .verticalCenter
        display: block


      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 3 / span 3 / span 1

      .horizontal
        grid-area: 1 / 1 / span 1 / span 1
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 4




      .crosshair
        grid-area: 1 / 1 / span 1 / span 1
        justify-self: center
        align-self: center
        z-index: 1
        margin-right: 1px

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 3 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center
          display: grid

      // grid: 100px 1px auto / 100px 50px 1px auto

      .textWrap
        grid-area: 2 / 1 / span 1 / span 1
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 10px

        .text
          margin-bottom: 50px


          h2
            font-weight: 400
            color: $white
            max-width: 610px


          .cta
            display: inline-flex
            flex-direction: column

            a
              color: $white
              letter-spacing: 1px
              text-transform: uppercase
              display: block
              margin-bottom: 10px


            .underline
              height: 3px
              background-color: $white
              width: 100%
              transform: translate(0)
              transition: transform .3s ease-in-out




          @media screen and (min-width: 900px)
            .cta
              overflow: hidden
              cursor: pointer

              &:hover

                .underline
                  transform: translate(-50%)
                  transition: transform .3s ease-in-out
                  // background-color: $yellow




        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 3 / 4 / span 1 / span 1
          width: 60%
          justify-self: start
          margin-left: 25px
          margin-top: 25px


      .imgBlock
        grid-area: 1 / 1 / span 2 / span 1
        z-index: -1
        // margin-bottom: 50px
        // height: 400px
        display: grid
        grid: auto / auto

        .img
          grid-area: 1 / 1 / span 1 / span 1
          background-size: cover
          background-position: center center

        @media screen and (min-width: 900px)
          .img
            height: auto
            // grid-area: 1 / 1 / span 1 / span 6
            // margin-left: 100px
            // background-position: 65% center

        .dark
          grid-area: 1 / 1 / span 1 / span 1
          background-color: rgba($black, 0.4)
          z-index: 1


      @media screen and (min-width: 900px)
        .imgBlock
          grid-area: 1 / 4 / span 3 / span 1
          width: calc(100% - 120px)
          justify-self: end
          margin-bottom: 0

      .greybox

      @media screen and (min-width: 900px)
        .greybox
          grid-area: 1 / 1 / span 3 / span 4
          background-color: $darkergrey
          z-index: -1

    @media screen and (min-width: 900px)
      .grid
        grid: 100px 1px auto / 100px 100px 1px auto
        min-height: 500px



  @media screen and (min-width: 900px)
    section.contact
      min-height: 500px
