.page-template-template-podcasts

  .stationaryNav
    background-color: $black

.podcastspage

  section.hero
    height: 100vh
    display: grid
    grid: 1fr / 1fr
    background-color: $black

    .grid
      // border-top: 1px solid rgba($grey, .3)
      align-self: end
      height: calc(100vh - 70px)
      z-index: 2
      grid-area: 1 / 1 / span 1 / span 1
      display: grid
      grid: 66% 1px 1fr / 1fr 1px 1fr 1fr 1fr

      .whitebox
        grid-area: 1 / 1 / span 1 / span 5
        background-color: $white
        z-index: -1

      @media screen and (min-width: 900px)
        .whitebox
          grid-area: 1 / 1 / span 3 / span 4

      .img
        grid-area: 1 / 1 / span 1 / span 5
        width: 80%
        align-self: end
        justify-self: end
        transform: translate(50px)
        z-index: 3
        max-width: 405px
        transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out

      @media screen and (min-width: 600px)
        .img
          width: 350px
          max-width: none

      @media screen and (min-width: 900px)
        .img
          // width: 350px
          grid-area: 1 / 3 / span 4 / span 2

      @media screen and (min-width: 1200px)
        .img
          width: 450px
          margin-right: 10%
          grid-area: 1 / 3 / span 4 / span 2

      @media screen and (min-width: 1350px)
        .img
          // margin-right:  1.5


      h1
        grid-area: 1 / 1 / span 1 / span 5
        font-size: 7rem
        line-height: 1
        margin-left: 20px
        z-index: 2
        max-width: 399px

      @media screen and (min-width: 600px)
        h1
          max-width: none
          align-self: center

      @media screen and (min-width: 900px)
        h1
          grid-area: 3 / 3 / span 1 / span 1
          margin: 10px 0 0 25px
          align-self: start




      .text
        grid-area: 3 / 1 / span 1 / span 5
        width: 85%
        // padding-top: 20px
        margin-bottom: 0
        justify-self: center
        align-self: center

        p
          color: $white
          font-weight: 400

      @media screen and (min-width: 600px)
        .text
          align-self: center
          padding: 0
          margin-bottom: 0

      @media screen and (min-width: 900px)
        .text
          grid-area: 4 / 3 / span 1 / span 1
          z-index: 4

      @media screen and (min-width: 1200px)
        .text
          width: 65%
          justify-self: start
          margin-left: 20px


      .horizontal, .vertical
        background-color: $grey
        opacity: 0.3
        zindex: 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 5

      @media screen and (min-width: 600px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 4

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 4


      .vertical
        grid-area: 1 / 2 / span 3 / span 1

      @media screen and (min-width: 600px)
        .vertical
          display: block
          grid-area: 1 / 2 / span 3 / span 1

      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 2 / span 4 / span 1


      .crosshair
        grid-area: 2 / 2 / span 1 / span 1
        align-self: center
        justify-self: center
        z-index: 2

        img

      @media screen and (min-width: 600px)
        .crosshair
          z-index: 1
          margin-left: 1px

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 2 / span 1 / span 1

      // grid: 1fr 1px 2fr/ 1fr 1px 50% 25%

      .opaquebox
        background-color: rgba($white, 0.05)
        grid-area: 1 / 1 / span 3 / span 4
        width: 85%
        height: 70%
        align-self: center


      @media screen and (min-width: 600px)
        .opaquebox
          grid-area: 1 / 1 / span 3 / span 4
          height: 80%
          align-self: end
          width: 70%
          margin-left: 8%
          justify-self: center


    @media screen and (min-width: 600px)
      .grid
        grid-area: 1 / 1 / span 1 / span 2
        grid: 66% 1px 1fr/ 1fr 1px 50% 25%
        height: 100%
        // height: 75vh

    @media screen and (min-width: 900px)
      .grid
        grid: 35% 1px 35% 1fr/ 25% 1px 50% 1fr
        min-height: 500px

    // @media screen and (min-width: 1200px)
    //   .grid
    //     grid: 45% 1px 20% 1fr/ 25% 1px 50% 1fr
    //     min-height: 60vh



  @media screen and (min-width: 600px)
    section.hero
      height: 75vh
      margin-bottom: 0
      grid: auto / 1fr 1fr
      min-height: 500px

  @media screen and (min-width: 900px)
    section.hero
      height: 60vh
      margin-bottom: 0
      grid: auto / 1fr 1fr

  section.blogs
    padding: 75px 0
    width: 85%
    margin: 0 auto
    display: flex
    flex-direction: column

    .filterPods
      width: 250px
      align-self: flex-end

      .visibleFilter
        display: grid
        grid: auto 4px auto / 100%

        p
          font-size: .75rem
          text-transform: uppercase
          font-weight: 600
          grid-area: 1 / 1 / span 1 / span 1
          justify-content: start
          margin: 0
          align-self: center

        img
          width: 12px
          grid-area: 1 / 1 / span 1 / span 1
          justify-self: end
          align-self: center
          transition: transform .3s ease-in-out

        .rotate
          transform: rotate(45deg)
          transition: transform .3s ease-in-out

        .underline
          height: 1px
          grid-area: 3 / 1 / span 1 / span 1
          background-color: $black

      .form-wrap
        background-color: $white
        border: 1px solid $black
        padding: 20px 0
        // display: none
        position: absolute
        width: 250px
        z-index: 5

        form
          display: flex
          flex-direction: column


          .select-wrap
            background-color: $lightgrey
            border: 1px solid $black
            display: grid
            grid: auto / 100%
            width: 75%
            margin: 0 auto 15px
            // padding: 0 10px

            .arrows
              grid-area: 1 / 1 / span 1 / span 1
              // display: flex
              // flex-direction: column
              // justify-content: center
              align-self: center
              justify-self: end
              padding-right: 10px
              // z-index: -1

              i

            @media screen and (min-width: 767px)
              .arrows
                display: none


            select
              border: none
              z-index: 1
              grid-area: 1 / 1 / span 1 / span 1
              width: 100%
              font-size: .9rem
              padding: 5px 0 5px 10px
              text-transform: uppercase
              font-weight: 300
              font-family: $sans
              background-color: transparent

              option
                font-size: .9rem
                background-color: transparent

          button
            font-size: .9rem
            text-transform: uppercase
            font-weight: 600
            letter-spacing: 1px
            text-align: right
            padding-right: 0
            padding-left: 30px
            border: none
            border-bottom: 1px solid $black
            background-color: $white
            margin-right: 12.5%
            margin-left: auto

    .list
      padding-top: 50px

      .all-pods, .filtered-pods

        .singlepod
          display: grid
          // grid: 250px auto auto auto / 100%
          grid: auto auto auto auto / 100%
          margin-bottom: 40px

          .opaque
            grid-area: 1 / 1 / span 1 / span 1
            background-color: rgba($yellow, .7)
            opacity: 0
            z-index: 1
            transition: opacity 0.3s ease-in-out

          // @media screen and (min-width: 767px)
          //   .opaque
          //     grid-area: 1 / 1 / span 5 / span 1

          .img
            grid-area: 1 / 1 / span 1 / span 1
            background-size: cover
            background-position: 50% 50%
            height: 275px

          // img.img
          //   grid-area: 1 / 1 / span 1 / span 1
          //   width: 100%




          .date
            grid-area: 2 / 1 / span 1 / span 1
            z-index: 1
            color: $black
            margin-top: 25px
            margin-left: 7.5%
            font-style: italic
            margin-bottom: 10px

          h2
            grid-area: 3 / 1 / span 1 / span 1
            z-index: 1
            color: $black
            margin-left: 7.5%
            line-height: 1
            height: 30px
            font-size: 1.3rem
            // margin-top: 50px
            border-bottom: 1px solid $black
            width: fit-content
            padding-bottom: 8px
            margin-bottom: 0


          // grid: 40px auto auto auto 40px / 1fr 1fr

          .content
            grid-area: 4 / 1 / span 1 / span 1
            width: 85%
            margin: 0 auto
            padding: 20px
            font-size: .9rem
            align-self: center
            font-weight: 300
            margin-bottom: 40px

          // @media screen and (min-width: 767px)
          //   .content
          //     grid-area: 4 / 2 / span 1 / span 1
          //     transition: 0.3s ease-in-out
          //     max-height: 210px
          //     overflow: hidden

          .greyishbox
            min-height: 230px
            grid-area: 1 / 1 / span 4 / span 1
            background-color: $lightgrey
            z-index: -1

          // @media screen and (min-width: 767px)
          //   .greyishbox
          //     grid-area: 1 / 2 / span 5 / span 1
          //     transition: 0.3s ease-in-out

          .readmore
            width: fit-content
            grid-area: 4 / 1 / span 1 / span 1
            margin-left: 7.5%
            align-self: end
            margin-bottom: 25px
            z-index: 2

            h3
              margin: 0
              font-size: .85rem
              text-transform: uppercase
              margin-bottom: 3px

            .underline
              background-color: $yellow
              height: 1px


          @media screen and (min-width: 767px)
            .readmore
              opacity: 0
              transition: opacity .3s ease-in-out
              display: flex
              flex-direction: column
              grid-area: 1 / 1 / span 1 / span 1
              align-self: center
              justify-self: center
              margin-left: 0

              h3
                color: $white
                margin: 0
                font-family: $titillium
                font-size: 1.5rem
                text-transform: none

              .underline
                background-color: $black
                width: 100%
                height: 2px

        @media screen and (min-width: 600px)
          .singlepod
            width: 45%

        @media screen and (min-width: 950px)
          .singlepod
            width: 30%

        @media screen and (min-width: 1200px)
          .singlepod
            width: 24%

        @media screen and (min-width: 900px)
          .singlepod
            // grid: 40px auto auto auto 40px / 1fr 1fr

            &:hover

              .opaque
                opacity: 1
                transition: opacity 0.3s ease-in-out

              .date
                // color: $white
                transition: 0.3s ease-in-out

              h2
                // color: $white
                transition: 0.3s ease-in-out

              .content
                // color: $white
                transition: 0.3s ease-in-out

              .greyishbox
                // background-color: $black
                transition: 0.3s ease-in-out

              .readmore
                opacity: 1
                transition: 0.3s ease-in-out

      @media screen and (min-width: 600px)
        .all-pods, .filtered-pods
          display: flex
          flex-wrap: wrap
          flex-direction: row
          justify-content: space-between

      @media screen and (min-width: 950px)
        .filtered-pods
          justify-content: center

          .singlepod
            margin: 10px



      .all-pods

      .filtered-pods

        .singlepod

  @media screen and (min-width: 900px)
    section.blogs
      max-width: 1100px

  section.podcast_player
    width: 85%
    margin: 0 auto 40px
    max-width: 1000px

    .pod-launch
      display: none

    .pp-podcast
      border: none
