.servicespage

  section.hero
    height: 100vh

    .grid
      // border-top: 1px solid rgba($grey, .3)
      // align-self: end
      height: 100vh
      z-index: 2
      display: grid
      // grid: 30% 30px auto 1fr / 1fr 85% 1fr
      grid: 1fr 1px 2fr / 15% 1px 1fr


      .img
        grid-area: 1 / 1 / span 3 / span 3
        background-size: cover
        background-position: center
        z-index: -1

      @media screen and (min-width: 900px)
        .img
          grid-area: 1 / 1 / span 3 / span 3

      .cross
        grid-area: 2 / 2 / span 1 / span 1
        align-self: center
        justify-self: center
        z-index: 2
        margin-top: 2px

        img

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 3 / 2 / span 1 / span 1

      .horizontal, .vertical
        background-color: $silver
        opacity: 0.3
        z-index: 1

      .vertical
        grid-area: 2 / 2 / span 2 / span 1

      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 2 /span 3 / spn 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 3

      .opaque
        grid-area: 1 / 1 / span 3 / span 3
        background-color: rgba($black, 0.5)
        // z-index: 1

      @media screen and (min-width: 900px)
        .opaque
          grid-area: 1 / 1 / span 3 / span 3


      // grid: 1fr 1px 2px / 1fr 1px 3fr

      .text
        grid-area: 3 / 3 / span 1 / span 1
        align-self: start
        justify-self: center
        z-index: 2
        margin: 12px 0 0 12px

        h1
          color: $white
          margin: 0
          font-weight: 400
          margin-bottom: 15px
          width: 85%

          strong
            color: $white
            font-weight: 600

        @media screen and (min-width: 800px)
          h1
            margin-top: 0
            line-height: 3.5rem
            font-size: 3.5rem

        @media screen and (min-width: 900px)
          h1
            line-height: 4rem
            font-size: 4rem

        @media screen and (min-width: 1200px)
          h1
            line-height: 5rem
            font-size: 5rem

        p
          font-weight: 600
          color: $white
          font-size: 1rem
          text-transform: uppercase



      @media screen and (min-width: 800px)
        .text
          width: 65%
          justify-self: start
          margin-top: 30px

      @media screen and (min-width: 900px)
        .text
          grid-area: 3 / 2 / span 1 / span 2
          margin-top: 13px
          margin-left: 25px
          // margin-bottom: 200px
          justify-self: start
          align-self: start
          width: 100%
          max-width: 700px

      .featuredText
        grid-area: 3 / 1 / span 1 / span 3
        justify-self: end
        align-self: end
        z-index: 2
        margin: 0 20px 20px 0

        h3
          color: $white
          font-family: $titillium
          margin: 0


        .cta
          display: inline-flex
          flex-direction: column

          a
            color: $white
            letter-spacing: 1px
            text-transform: uppercase
            display: block
            margin-bottom: 5px
            font-size: .85rem


          .underline
            height: 3px
            background-color: $white
            width: 100%


    @media screen and (min-width: 900px)
      .grid
        grid: 1fr 1px 2fr / 1fr 1px 3fr
        min-height: 66vh

  @media screen and (min-width: 900px)
    section.hero
      min-height: 66vh


  section.specific-services
    background-color: $black

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 50px 100px auto 50px 50px auto / 1fr 1px 1fr

      .vertical, .horizontal
        background-color: $silver
        opacity: 0.1

      @media screen and (min-width: 900px)
        .vertical
          display: block

      .vertical
        display: block
        grid-area: 1 / 2 / span 5 / span 1
        // opacity: 0.8


      @media screen and (min-width: 900px)
        .vertical
          grid-area: 2 / 3 / span 3 / span 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 4



      .crosshair
        // display: none
        grid-area: 2 / 1 / span 1 / span 3
        justify-self: center
        align-self: center
        z-index: 1
        // margin-right: 1px

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 3 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center

      // grid: 150px 1px auto 150px / 100px 50px 1px 1fr

      .textWrap
        grid-area: 2 / 1 / span 2 / span 3
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 10px

        .text
          margin-bottom: 50px

          .headline
            text-transform: uppercase
            font-weight: 600
            color: $darkgrey
            font-size: .85rem
            margin-bottom: 35px

          h2
            font-weight: 400
            color: $white
            margin-bottom: 50px

            strong
              font-weight: 700
              color: $white

          @media screen and (min-width: 900px)
            h2
              width: 75%
              margin-bottom: 60px

          .servicesList
            width: 85%
            margin: 0 auto

            .service_type
              margin-bottom: 36px

              h3
                color: $yellow
                font-family: $titillium
                font-weight: 600
                font-size: 1.5rem
                margin-bottom: 10px

              .horizontal
                margin-bottom: 10px
                opacity: .5

              .desc
                padding-left: 18px

                li
                  color: $white
                  font-weight: 900

                  p
                    color: $white
                    font-weight: 900


            @media screen and (min-width: 550px)
              .service_type
                width: 45%

            @media screen and (min-width: 900px)
              .service_type
                width: 30%
                margin-right: 1.5%

            @media screen and (min-width: 1350px)
              .service_type
                width: 25%
                margin-right: 7.5%

          @media screen and (min-width: 550px)
            .servicesList
              display: flex
              flex-direction: row
              justify-content: space-between
              flex-wrap: wrap

          @media screen and (min-width: 900px)
            .servicesList
              justify-content: flex-start
              width: 95%
              margin-left: 0


        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 1 / 4 / span 3 / span 1
          margin-top: 100px
          width: 90%
          margin-left: 30px
          justify-self: start


    @media screen and (min-width: 900px)
      .grid
        grid: 150px 1px 1fr 100px / 100px 50px 1px 1fr
        min-height: 100vh

    @media screen and (min-width: 1100px)
      .grid
        grid: 200px 1px 1fr 100px / 100px 50px 1px 1fr


  section.reachOut
    padding: 50px 0

    .wrap
      width: 85%
      margin: 0 auto
      max-width: 1000px

      h2
        font-weight: 400

      @media screen and (min-width: 1200px)
        h2
          font-size: 2.5rem !important

      .list
        display: flex
        flex-direction: column

        .item
          display: grid
          grid: auto 40px auto / 100%
          margin-bottom: 40px

          .number
            color: $yellow
            font-family: $titillium
            font-size: 3rem
            font-weight: 600
            grid-area: 1 / 1 / span 1 / span 1
            // opacity: .6
            line-height: 3rem
            z-index: -1
            align-self: start

          @media screen and (min-width: 800px)
            .number
              font-size: 2.5rem

          .title
            grid-area: 1 / 1 / span 1 / span 1
            font-size: 1.6rem
            font-weight: 600
            font-family: $titillium
            align-self: end
            margin-left: 35px
            margin-top: 30px
            line-height: 1

          @media screen and (min-width: 800px)
            .title
              align-self: center
              margin: 0
              font-size: 1.3rem
              margin-left: 20px

          .line
            grid-area: 2 / 1 / span 1 / span 1
            align-self: center
            background-color: $black
            height: 1px
            width: 65%

          @media screen and (min-width: 800px)
            .line
              width: 1px
              min-width: 1px !important
              height: 40px
              margin: 0 15px

          .quote
            grid-area: 3 / 1 / span 1 / span 1
            // font-weight: 900
            width: 75%
            justify-self: center

          @media screen and (min-width: 800px)
            .quote
              align-self: center
              justify-self: initial
              width: auto

        @media screen and (min-width: 800px)
          .item
            display: flex
            flex-direction: row
            justify-content: flex-start
            width: auto

      @media screen and (min-width: 900px)
        .list
          width: 95%
          margin-left: auto

    @media screen and (min-width: 900px)
      .wrap
        width: 75%


  section.choose
    padding: 40px 0

    .wrap
      width: 85%
      margin: 0 auto

      h2
        font-weight: 400
        margin-bottom: 50px

      @media screen and (min-width: 900px)
        h2
          margin-bottom: 65px

      .list

        .item
          display: flex
          flex-direction: row
          margin-bottom: 60px

          .cross
            margin-right: 10px
            align-self: center

          p
            font-weight: 900
            line-height: 1

        @media screen and (min-width: 900px)
          .item
            width: 45%

      @media screen and (min-width: 900px)
        .list
          width: 90%
          margin: 0 auto
          display: flex
          flex-direction: column
          flex-wrap: wrap
          max-height: 410px

    @media screen and (min-width: 900px)
      .wrap
        width: 75%
        max-width: 1100px

  @media screen and (min-width: 900px)
    section.choose
      padding: 60px 0

  section.full_width_img

    .img
      width: 95%
      margin: 0 auto
      height: 300px
      background-size: cover
      background-position: center

    @media screen and (min-width: 900px)
      .img
        height: 450px

    @media screen and (min-width: 1300px)
      .img
        height: 550px


  section.longHaul
    background-color: $yellow
    padding: 40px 0

    .wrap
      width: 85%
      margin: 0 auto

      h2
        color: $white
        text-align: center

      @media screen and (min-width: 1200px)
        h2
          font-size: 2.5rem


      p
        font-weight: 900
        font-family: $titillium

      @media screen and (min-width: 900px)
        p
          width: 85%
          margin: 0 auto
          max-width: 975px




  section.approach
    // padding: 50px 0

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 50px 100px auto auto 50px auto / 1fr 1px 1fr
      overflow: hidden

      .vertical, .horizontal
        background-color: $silver
        z-index: -1
        display: none
        // opacity: 0.3

      .vertical
        grid-area: 1 / 2 / span 5 / span 1
        opacity: 0.8


      // grid: 50px 50px 80px 1px auto 100px / 100px 1fr 50px 1px calc(50% - 100px) 100px
      @media screen and (min-width: 900px)
        .vertical
          display: block
          grid-area: 1 / 2 / span 7 / span 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          display: block
          grid-area: 4 / 1 / span 1 / span 4



      .cross
        display: none
        grid-area: 2 / 1 / span 1 / span 3
        justify-self: center
        align-self: center
        z-index: 2
        margin-right: 1px

      @media screen and (min-width: 900px)
        .cross
          grid-area: 4 / 2 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center
          display: grid

      // grid: 50px 50px 80px 1px auto auto 100px / 350px 1px calc(50% - 100px) 1fr


      .textWrap
        grid-area: 2 / 1 / span 2 / span 3
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 85px

        .text
          margin-bottom: 30px
          margin-top: 75px

          h2
            font-weight: 400

            strong
              font-weight: 700


        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start


      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 3 / 3 / span 3 / span 1
          width: 100%
          justify-self: start
          margin-top: 30px
          margin-left: 25px

      .steps
        display: flex
        flex-direction: column
        width: 75%
        grid-area: 4 / 1 / span 1 / span 3
        justify-self: center

        .step
          margin-bottom: 30px
          display: grid
          grid: 25px auto / 1fr
          transform: translate(0)
          transition: transform 1s ease-in-out

          h3
            color: $yellow
            font-size: 4.5rem
            grid-area: 1 / 1 / span 2 / span 1
            align-self: start
            margin: 0
            z-index: 2
            line-height: .8
            padding-left: 25px
            // opacity: 0.85
            mix-blend-mode: darken
            font-family: $titillium

          .box
            background-color: $silver
            grid-area: 2 / 1 / span 1 / span 1
            padding-left: 25px
            padding: 0 25px
            display: flex
            flex-direction: column
            justify-content: center

            h4
              // padding-left: 25px
              font-size: 1.5rem
              margin-top: 50px
              width: 85%
              line-height: 1.3
              // margin-bottom: 20px

          @media screen and (min-width: 900px)
            .box
              // height: fit-content

        @media screen and (min-width: 900px)
          .step
            width: 21%
            margin-bottom: 0
            display: inline-grid
            // height: fit-content

            &:nth-child(1)
              margin-top: 0
              // transform: translate(-100px)
              transition: transform 1s ease-in-out

            &:nth-child(2)
              margin-top: 30px
              margin-bottom: -30px
              // transform: translate(-100px)
              transition: transform 1s ease-in-out

            &:nth-child(3)
              margin-top: 60px
              margin-bottom: -60px
              // transform: translate(-100px)
              transition: transform 1s ease-in-out

            &:nth-child(4)
              margin-top: 90px
              margin-bottom: -90px
              // transform: translate(-100px)
              transition: transform 1s ease-in-out

            &:nth-child(5)
              margin-top: 30px


            &:nth-child(6)
              margin-top: 60px


            &:nth-child(7)
              margin-top: 90px


            &:nth-child(8)
              margin-top: 120px


        .offScreenStep

          &:nth-child(odd)
            transform: translate(-100vw)
            transition: transform .3s ease-in


          &:nth-child(even)
            transform: translate(100vw)
            transition: transform .3s ease-in

        @media screen and (min-width: 900px)
          .offScreenStep

            &:nth-child(1)
              transform: translateY(100px)
              transition: transform 5s ease-in

            &:nth-child(2)
              transform: translateY(130px)
              transition: transform 1s ease-in

            &:nth-child(3)
              transform: translateY(160px)
              transition: transform 1s ease-i2

            &:nth-child(4)
              transform: translateY(190px)
              transition: transform 1s ease-in

      @media screen and (min-width: 900px)
        .steps
          grid-area: 6 / 1 / span 1 / span 4
          width: 90%
          justify-self: end
          flex-direction: row
          justify-content: space-around
          flex-wrap: wrap

      @media screen and (min-width: 1150px)
        .steps
          width: 85%
          justify-self: center
          max-width: 1250px


    @media screen and (min-width: 900px)
      .grid
        // mobile grid
        // grid: 50px 100px auto 50px 50px auto / 1fr 1px 1fr
        // grid: 50px 50px 80px 1px auto 100px / 350px 1fr 50px 1px calc(50% - 100px) 100px
        grid: 50px 50px 80px 1px auto auto 300px / 350px 1px calc(50% - 100px) 1fr
        // padding-bottom: 100px





  section.more-partners
    // margin-bottom: 50px
    overflow-x: hidden
    display: grid
    grid: 75px 1px auto auto 40px 0px / 0px 15% 1px 1fr

    .blackbox
      background-color: $black
      grid-area: 1 / 2 / span 4 / span 3

    .vertical, .horizontal
      background-color: $silver
      opacity: 0.3
      display: none

    @media screen and (min-width: 900px)
      .vertical, .horizontal
        display: block



    .horizontal
      grid-area: 2 / 1 / span 1 / span 4


    .vertical
      grid-area: 1 / 3 / span 6 / span 1

    @media screen and (min-width: 900px)
      .vertical
        // display: none

    .cross
      grid-area: 2 / 3 / span 1 / span 1
      justify-self: center
      align-self: center
      margin-top: 3px
      display: none

    @media screen and (min-width: 900px)
      .cross
        display: grid

    .text
      grid-area: 1 / 4 / span 3 / span 1
      margin-top: 90px
      margin-left: 20px
      max-width: 500px

      h2
        color: $white
        font-weight: 300

      .cta

        a
          color: $grey
          font-weight: 600

        .underline
          background: $grey

    @media screen and (min-width: 1200px)
      .text
        max-width: 650px

    .partner-slider
      grid-area: 4 / 2 / span 2 / span 3
      width: 95%
      margin-left: auto
      margin-right: 0
      margin-top: 50px
      overflow-X: hidden

      .swiper-wrapper

        .partner
          display: grid
          grid: auto / auto
          max-width: 300px !important

          .img
            grid-area: 1 / 1 / span 1 / span 1
            height: 300px
            background-size: cover
            background-position: center

          .hover
            // opacity: 0
            grid-area: 1 / 1 / span 1 / span 1
            background-color: rgba($black, 0.6)
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            .wrap
              width: 60%

              .name
                color: $white
                font-family: $titillium
                font-weight: 600
                font-size: 1.5rem
                margin: 0
                line-height: 1.5rem

              .title
                color: $white
                font-family: $titillium
                margin: 0
                font-size: 1.5rem
                margin-bottom: 25px

              .summary
                color: $white
                margin-bottom: 25px

              .cta

                a
                  color: $white

                .underline
                  background-color: $white

          @media screen and (min-width: 900px)
            .hover
              opacity: 0
              transition: opacity 0.5s ease-in-out
              cursor: pointer

              &:hover
                opacity: 1
                transition: opacity 0.5s ease-in-out

        @media screen and (min-width: 900px)
          .partner
            max-width: 400px !important

  @media screen and (min-width: 767px)
    section.more-partners
      grid: 75px 1px auto auto 40px 75px / 40px 40px 1px 1fr

  @media screen and (min-width: 900px)
    section.more-partners
      grid: 75px 1px auto auto 40px 0 / 10% 80px 1px 1fr
      margin-bottom: -40px


  section.partnerships

    .grid
      min-height: 100vh
      z-index: 2
      display: grid
      grid: 150px 1px auto auto / 15% 1px 1fr


      .img
        grid-area: 1 / 1 / span 3 / span 3
        background-size: cover
        background-position: center
        z-index: -1

      @media screen and (min-width: 900px)
        .img
          grid-area: 1 / 1 / span 3 / span 3

      .cross
        grid-area: 2 / 2 / span 1 / span 1
        align-self: center
        justify-self: center
        z-index: 2
        margin-top: 2px
        display: none

        img

      @media screen and (min-width: 900px)
        .cross
          display: grid
          // grid-area: 3 / 2 / span 1 / span 1

      .horizontal, .vertical
        background-color: $silver
        opacity: 0.5
        z-index: -1
        display: none

      .vertical
        grid-area: 1 / 2 / span 3 / span 1

      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 2 / span 3 / span 1
          display: block

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 3
          display: block


      // grid: 1fr 1px 2px / 1fr 1px 3fr

      .text
        grid-area: 3 / 3 / span 1 / span 1
        align-self: start
        justify-self: center
        z-index: 2
        margin: 12px 0 0 12px

        h2
          margin: 0
          font-weight: 400
          margin-bottom: 15px

          strong
            font-weight: 600

        @media screen and (min-width: 800px)
          h2
            margin-top: 0
            line-height: 3.5rem
            font-size: 3.5rem

        @media screen and (min-width: 900px)
          h2
            line-height: 4rem
            font-size: 4rem

        p
          font-size: 1rem
          width: 90%
          margin-bottom: 50px



      @media screen and (min-width: 800px)
        .text
          width: 65%
          justify-self: start
          margin-top: 20px

      @media screen and (min-width: 900px)
        .text
          grid-area: 3 / 2 / span 1 / span 2
          margin-top: 13px
          margin-left: 25px
          // margin-bottom: 200px
          justify-self: start
          align-self: start
          width: 100%
          max-width: 600px

      @media screen and (min-width: 1200px)
        .text
          width: 50%
          // margin-left: 20px

      .mapWrap
        // height: 300px
        grid-area: 4 / 1 / span 1 / span 3
        padding: 30px 0 40px

        #map
          height: 300px

          .info_content
            padding: 10px

            h3
              margin: 0
              font-size: 1.5rem
              line-height: 1
              font-family: $titillium

            .location
              color: $yellow
              font-weight: 600
              margin-bottom: 10px
              font-size: .9rem

            .services
              color: $darkgrey
              font-weight: 600
              font-size: .8rem

            .link

        @media screen and (min-width: 600px)
          #map
            height: 400px

        @media screen and (min-width: 1200px)
          #map
            height: 500px

      @media screen and (min-width: 900px)
        .mapWrap
          grid-area: 4 / 3 / span 1 / span 1

      @media screen and (min-width: 1200px)
        .mapWrap
          grid-area: 3 / 3 / span 1 / span 1
          width: 45%
          justify-self: end
          padding-top: 0

    @media screen and (min-width: 900px)
      .grid
        grid: 120px 1px auto auto / 1fr 1px 3fr

    @media screen and (min-width: 1200px)
      .grid
        grid: 150px 1px auto 50px / 1fr 1px 4fr
        min-height: 0




  section.contact

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 100px auto / auto

      .vertical, .horizontal
        background-color: $silver
        opacity: 0.3

      @media screen and (min-width: 900px)
        .vertical
          display: block

      .verticalCenter
        display: block


      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 3 / span 3 / span 1

      .horizontal
        grid-area: 1 / 1 / span 1 / span 1
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 4




      .crosshair
        grid-area: 1 / 1 / span 1 / span 1
        justify-self: center
        align-self: center
        z-index: 1
        margin-right: 1px

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 3 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center
          display: grid

      // grid: 100px 1px auto / 100px 50px 1px auto

      .textWrap
        grid-area: 2 / 1 / span 1 / span 1
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 10px

        .text
          margin-bottom: 50px


          h2
            font-weight: 400
            color: $white
            max-width: 610px


          .cta
            display: inline-flex
            flex-direction: column

            a
              color: $white
              letter-spacing: 1px
              text-transform: uppercase
              display: block
              margin-bottom: 10px


            .underline
              height: 3px
              background-color: $white
              width: 100%
              transform: translate(0)
              transition: transform .3s ease-in-out




          @media screen and (min-width: 900px)
            .cta
              overflow: hidden
              cursor: pointer

              &:hover

                .underline
                  transform: translate(-50%)
                  transition: transform .3s ease-in-out
                  // background-color: $yellow




        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 3 / 4 / span 1 / span 1
          width: 60%
          justify-self: start
          margin-left: 25px
          margin-top: 25px


      .imgBlock
        grid-area: 1 / 1 / span 2 / span 1
        z-index: -1
        // margin-bottom: 50px
        // height: 400px
        display: grid
        grid: auto / auto

        .img
          grid-area: 1 / 1 / span 1 / span 1
          background-size: cover
          background-position: center center

        @media screen and (min-width: 900px)
          .img
            height: auto


        .dark
          grid-area: 1 / 1 / span 1 / span 1
          background-color: rgba($black, 0.4)
          z-index: 1


      @media screen and (min-width: 900px)
        .imgBlock
          grid-area: 1 / 4 / span 3 / span 1
          width: calc(100% - 120px)
          justify-self: end
          margin-bottom: 0

      .greybox

      @media screen and (min-width: 900px)
        .greybox
          grid-area: 1 / 1 / span 3 / span 4
          background-color: $darkergrey
          z-index: -1

    @media screen and (min-width: 900px)
      .grid
        grid: 100px 1px auto / 100px 100px 1px auto
        min-height: 500px


  @media screen and (min-width: 900px)
    section.contact
      min-height: 500px
