.partnerpage

  section.hero
    height: 100vh

    .grid
      // border-top: 1px solid rgba($grey, .3)
      // align-self: end
      height: 100vh
      z-index: 2
      display: grid
      // grid: 30% 30px auto 1fr / 1fr 85% 1fr
      grid: 1fr 1px 3fr / 15% 1px 1fr


      .img
        grid-area: 1 / 1 / span 3 / span 3
        background-size: cover
        background-position: center
        z-index: -1

      @media screen and (min-width: 900px)
        .img
          grid-area: 1 / 1 / span 3 / span 3

      .opaque
        grid-area: 1 / 1 / span 3 / span 3
        background-color: rgba($black, 0.5)
        // z-index: 1

      @media screen and (min-width: 900px)
        .opaque
          grid-area: 1 / 1 / span 3 / span 3


      // grid: 1fr 1px 2px / 1fr 1px 3fr

      .title
        color: $white
        grid-area: 1 / 1 / span 3 / span 3
        align-self: center
        justify-self: center
        text-align: center
        margin-bottom: 100px


    @media screen and (min-width: 900px)
      .grid
        grid: 1fr 1px 3fr / 1fr 1px 3fr
        height: 66vh
        min-height: 385px

  @media screen and (min-width: 900px)
    section.hero
      height: 66vh
      min-height: 385px


  section.intro
    padding: 75px 0 0

    .grid
      grid: auto auto auto / 100%

      .logo
        width: 75%
        margin: 0 auto 75px
        grid-area: 1 / 1 / span 1 / span 1
        max-width: 300px

        img
          width: 100%

      @media screen and (min-width: 900px)
        .logo
          grid-area: 1 / 2 / span 1 / span 1
          margin-bottom: 0


      .textWrap
        width: 85%
        margin: 0 auto 75px
        grid-area: 2 / 1 / span 1 / span 1

        .text

          h2
            font-weight: 600

        @media screen and (min-width: 900px)
          .text
            margin-bottom: 0


      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 1 / 4 / span 1 / span 1
          margin-bottom: 0

    @media screen and (min-width: 900px)
      .grid
        grid: auto auto / 100px 1fr 0px 2fr 100px

  @media screen and (min-width: 900px)
    section.intro
      padding: 100px 0



  section.fullVideoOrImage

    .grid
      // grid: auto / auto

      .img
        grid-area: 1 / 1 / span 1 / span 1
        height: 400px
        background-size: cover
        background-position: center
        display: grid
        grid: auto / auto

        .opaque
          background-color: rgba($black, .5)
          grid-area: 1 / 1 / span 1 / span 1

        .play
          grid-area: 1 / 1 / span 1 / span 1
          align-self: center
          justify-self: center
          display: flex
          flex-direction: column
          align-items: center

          img
            width: 80px
            margin-bottom: 20px

          .cta

            a
              color: $white

            .underline
              background-color: $white

      @media screen and (min-width: 900px)
        .img
          height: 550px

      .video
        position: fixed
        top: 0%
        height: 100vh
        width: 100vw
        display: grid
        grid: 1fr / 1fr
        z-index: 999
        background-color: rgba($white, .9)

        #closeVideo
          grid-area: 1 / 1 / span 1 / span 1
          width: 50px
          justify-self: start
          align-self: start
          margin: 20px 0 0 20px
          transform: rotate(45deg)

        .arve-wrapper
          grid-area: 1 / 1 / span 1 / span 1
          justify-self: center
          align-self: center

        .ytp-chrome-top
          display: none


  section.branding

    .grid
      grid: 100px 1px auto auto auto 100px / 1fr 2fr

      .textWrap
        grid-area: 1 / 1 / span 3 / span 2
        width: 85%
        margin: 65px auto 40px

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 1 / 3 / span 3 / span 1
          width: 60%
          max-width: 750px
          justify-self: start
          margin-left: 20px

      .horizontal
        grid-area: 2 / 1 / span 1 / span 2
        opacity: .7
        display: none

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 3
          display: block

      .vertical
        display: none

      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 2 / span 1 / span 1
          opacity: 0.7
          display: block

      .cross
        grid-area: 2 / 2 / span 1 / span 1
        align-self: center
        justify-self: center
        z-index: 2
        margin-top: 2px
        display: none

      @media screen and (min-width: 900px)
        .cross
          display: grid

      .logo
        grid-area: 4 / 1 / span 1 / span 2
        justify-self: center
        align-self: center
        margin-bottom: 75px

        img
          width: 250px

        @media screen and (min-width: 900px)
          img
            width: 100%
            max-width: 380px
            margin: 0 auto

      @media screen and (min-width: 600px)
        .logo
          margin-bottom: 0
          margin-right: 20px

      @media screen and (min-width: 900px)
        .logo
          grid-area: 3 / 3 / span 1 / span 1
          justify-self: end
          width: 25%
          display: flex
          flex-direction: row
          justify-content: center

      @media screen and (min-width: 1200px)
        .logo
          width: 35%


      // grid: 100px 1px auto / 200px 1px 1fr

      .column-list
        grid-area: 5 / 1 / span 1 / span 2
        width: 75%
        margin: 0 auto

        .column
          margin-bottom: 75px

          h3
            color: $black
            font-weight: 600
            font-size: 1.5rem
            font-family: $titillium

          .horizontal
            background-color: $black
            opacity: 0.3

          .desc

            p
              color: $black
              font-weight: 300

        @media screen and (min-width: 700px)
          .column
            width: 45%

        @media screen and (min-width: 1100px)
          .column
            width: 25%

      .greybox
        grid-area: 5 / 2 / span 1 / span 1
        height: 85%
        align-self: center
        z-index: -1

    @media screen and (min-width: 900px)
      .grid
        grid: 100px 1px auto / 200px 1px 1fr

  section.values
    padding: 40px 0

    .grid

      h2
        text-align: center
        color: $grey
        font-weight: 300
        text-transform: uppercase
        font-family: $sans
        letter-spacing: 5px
        margin-bottom: 60px

      @media screen and (min-width: 900px)
        h2
          grid-area: 1 / 1 / span 1 / span 1
          transform: rotate(-90deg)
          margin: 0
          height: auto
          align-self: center
          justify-self: center
          font-size: 3rem
          letter-spacing: 25px


      .value-list
        width: 85%
        margin: 0 auto

        .value
          margin-bottom: 75px

          h3
            color: $white
            font-weight: 600
            font-size: 1.5rem
            font-family: $titillium
            margin: 0

          .horizontal
            background-color: $black
            opacity: 0.3
            margin: 10px 0

          .desc

            p
              color: $white
              font-weight: 300

        @media screen and (min-width: 900px)
          .value
            width: 45%

        @media screen and (min-width: 1300px)
          .value
            width: 30%

      @media screen and (min-width: 900px)
        .value-list
          grid-area: 1 / 2 / span 1 / span 1
          display: flex
          flex-direction: row
          justify-content: space-around
          flex-wrap: wrap

    @media screen and (min-width: 900px)
      .grid
        grid:  auto / 100px 1fr
        padding: 40px 0 0

  @media screen and (min-width: 900px)
    section.values
      width: calc(100% - 100px)
      margin-left: auto
      max-width: 1350px

  section.gallery
    padding-top: 40px

    .grid

      .textWrap
        width: 85%
        margin: 0 auto 40px
        max-width: 650px

        h2
          text-align: center

      .gallery-slider
        background-color: $lightgrey
        padding: 40px 0


        .swiper-wrapper

          .img
            width: 100% !important
            display: flex
            flex-direction: row
            justify-content: center

            img
              width: 85%
              margin: 0 auto
              align-self: center

            @media screen and (min-width: 900px)
              img
                max-width: 75%
                width: auto
                max-height: 500px

          @media screen and (min-width: 900px)
            .img
              // height: 375px

        @media screen and (min-width: 900px)
          .swiper-wrapper
            grid-area: 1 / 1 / span 1 / span 1

        .swiper-nav
          margin-top: 30px
          display: flex
          flex-direction: row
          justify-content: center
          z-index: 3

          .swiper-button-prev-gallery, .swiper-button-next-gallery
            position: relative
            margin: 0 30px
            left: 0
            width: 30px

          .swiper-button-disabled
            opacity: .5


          @media screen and (min-width: 900px)
            .swiper-button-prev-gallery, .swiper-button-next-gallery
              top: 0


          .swiper-button-next-gallery
            transform: rotate(180deg)

        @media screen and (min-width: 900px)
          .swiper-nav
            grid-area: 1 / 1 / span 1 / span 1
            align-self: center
            justify-content: space-between

      @media screen and (min-width: 900px)
        .gallery-slider
          display: grid
          grid: auto / auto
          max-width: 1000px
          align-self: center
          overflow: hidden

    @media screen and (min-width: 900px)
      .grid
        display: flex
        flex-direction: column

  @media screen and (min-width: 900px)
    section.gallery
      width: 85%
      margin: 0 auto 50px


  section.people
    background-color: $black
    // margin-bottom: 50px

    .grid
      grid: 100px 1px auto auto auto 100px / 1fr 2fr

      .textWrap
        grid-area: 1 / 1 / span 3 / span 2
        width: 85%
        margin: 65px auto

        .text
          margin-bottom: 0

          h2
            color: $white
            margin-bottom: 0

            strong
              color: $white

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 1 / 3 / span 3 / span 1
          margin-left: 20px

      .horizontal
        grid-area: 2 / 1 / span 1 / span 2
        opacity: .3
        display: none

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 3
          display: block

      .vertical
        display: none

      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 2 / span 1 / span 1
          display: block

      .cross
        grid-area: 2 / 1 / span 1 / span 2
        align-self: center
        justify-self: center
        z-index: 2
        margin-top: 2px
        display: none

      @media screen and (min-width: 900px)
        .cross
          grid-area: 2 / 2 / span 1 / span 1
          display: grid


      // grid: 100px 1px auto auto / 200px 1px 1fr

      .column-list
        grid-area: 5 / 1 / span 1 / span 2
        width: 75%
        margin: 0 auto

        .column
          margin-bottom: 75px

          h3
            color: $yellow
            font-weight: 600
            font-size: 1.5rem
            font-family: $titillium
            margin: 0

          .horizontal
            background-color: $white
            opacity: 0.3
            margin: 10px 0

          .desc

            p
              color: $white
              font-weight: 300

          // .stat
          //   margin: 0 auto 25px
          //
          //   h2
          //     margin-bottom: 0px
          //     font-weight: 400
          //     font-size: 3rem
          //     color: $white
          //   p
          //     margin: 0
          //     color: $white
          //     font-size: .75rem
          //     font-weight: 600
          //     text-transform: uppercase
          //     color: $white
          //     letter-spacing: 1.5px
          //     max-width: 400px

        @media screen and (min-width: 600px)
          .column
            width: 70%
            margin: 0 auto 75px

        @media screen and (min-width: 900px)
          .column
            width: 30%
            // margin-right: 8%

      @media screen and (min-width: 900px)
        .column-list
          display: flex
          flex-direction: row
          justify-content: space-between
          grid-area: 4 / 3 / span 1 / span 1
          margin-left: 20px
          width: 95%
          max-width: 1000px

      .greybox
        grid-area: 5 / 2 / span 1 / span 1
        height: 85%
        align-self: center
        z-index: -1

    @media screen and (min-width: 900px)
      .grid
        grid: 100px 1px auto auto / 200px 1px 1fr
        margin-bottom: 50px


  section.employee_highlight

    .grid
      grid: 30px auto auto 40px / 1fr

      i
        color: $white
        opacity: 0.1
        font-size: 6rem
        grid-area: 2 / 1 / span 1 / span 1
        margin-left: 30px
        z-index: -1

      @media screen and (min-width: 850px)
        i
          grid-area: 2 / 2 / span 1 / span 1
          padding-top: 5px

      .black
        z-index: -1
        background-color: $black
        grid-area: 1 / 1 / span 3 / span 1

      @media screen and (min-width: 850px)
        .black
          grid-area: 2 / 1 / span 2 / span 4

      .text
        grid-area: 2 / 1 / span 1 / span 1
        width: 85%
        justify-self: center

        .name
          color: $white
          font-size: 2rem

        @media screen and (min-width: 1250px)
          .name
            font-weight: 400
            font-size: 3rem

        .title
          font-weight: 400
          font-family: $titillium
          font-size: 1.3rem
          margin-bottom: 20px

          span
            font-weight: 850
            font-family: $titillium


        // grid: 50px auto / 7.5% 1fr 7.5%

        .quote
          color: $white

      @media screen and (min-width: 850px)
        .text
          grid-area: 2 / 2 / span 1 / span 1
          padding-top: 15px
          margin-left: 40px
          max-width: 650px
          justify-self: center

      .headshot
        grid-area: 3 / 1 / span 2 / span 1
        justify-self: center
        width: 250px
        height: 250px
        background-size: cover
        background-position: center

      @media screen and (min-width: 850px)
        .headshot
          grid-area: 1 / 3 / span 2 / span 1

      @media screen and (min-width: 1250px)
        .headshot
          width: 350px
          height: 350px

    @media screen and (min-width: 850px)
      .grid
        grid: 50px auto 50px / 7.5% 1fr auto 7.5%


  section.laptop
    background-color: $lightgrey

    .grid
      grid: 100px 1px auto auto 0 / 1fr 2fr

      .textWrap
        grid-area: 1 / 1 / span 3 / span 2
        width: 85%
        margin: 65px auto

        .text
          margin-bottom: 0

          h2
            color: $black
            margin-bottom: 20px

            strong
              color: $black

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 1 / 1 / span 3 / span 4
          justify-self: center
          max-width: 650px
          width: 85%



      .horizontal
        grid-area: 2 / 1 / span 1 / span 2
        opacity: .7
        display: none

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 4
          display: block

      .vertical
        display: none

      @media screen and (min-width: 900px)
        .vertical
          opacity: 0.7
          grid-area: 1 / 3 / span 1 / span 1
          display: block

      .cross
        grid-area: 2 / 1 / span 1 / span 2
        align-self: center
        justify-self: center
        z-index: 2
        margin-top: 2px
        display: none

      @media screen and (min-width: 900px)
        .cross
          grid-area: 2 / 3 / span 1 / span 1
          display: grid

      // grid: 100px 1px auto auto / 200px 150px 1px 1fr


      .laptop-img
        width: 100%
        justify-self: center
        grid-area: 4 / 1 / span 1 / span 2
        display: grid
        grid-area:

        img
          width: 100%
          margin-bottom: -4px

        .desktop-img

      @media screen and (min-width: 900px)
        .laptop-img
          grid-area: 4 / 1 / span 1 / span 4
          width: 50%
          justify-content: center
          max-width: 775px

    @media screen and (min-width: 900px)
      .grid
        grid: 100px 1px auto auto / 200px 150px 1px 1fr


  section.photography
    margin-bottom: 50px

    .grid
      grid: 100px 1px auto auto auto / 1fr 2fr

      .textWrap
        grid-area: 1 / 1 / span 3 / span 2
        width: 85%
        margin: 62px auto

        .text
          margin-bottom: 0

          h2
            color: $black
            margin-bottom: 20px

            strong
              color: $black

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 1 / 1 / span 3 / span 4
          justify-self: center
          max-width: 650px
          width: 85%

      .horizontal
        grid-area: 2 / 1 / span 1 / span 2
        opacity: .6
        display: none

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 4
          display: block

      .vertical
        display: none

      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 3 / span 1 / span 1
          display: block

      .cross
        grid-area: 2 / 1 / span 1 / span 2
        align-self: center
        justify-self: center
        z-index: 2
        margin-top: 2px
        display: none

      @media screen and (min-width: 900px)
        .cross
          grid-area: 2 / 3 / span 1 / span 1
          display: grid

      // grid: 100px 1px auto auto / 200px 150px 1px 1fr

      .photography-slider
        grid-area: 4 / 1 / span 1 / span 2
        // padding: 40px 0

        .swiper-wrapper

          .img-slide
            width: 100% !important
            display: flex
            flex-direction: row
            justify-content: center
            // height: 335px

            .img
              width: 85%
              margin: 0 auto
              align-self: center
              background-size: cover
              background-position: center
              height: 375px

            @media screen and (min-width: 800px)
              .img
                width: 80%


        @media screen and (min-width: 900px)
          .swiper-wrapper
            grid-area: 1 / 1 / span 1 / span 1
            align-self: center
            width: 100%
            justify-self: center




        .swiper-nav
          margin-top: 30px
          display: flex
          flex-direction: row
          justify-content: center

          .swiper-button-prev-photography, .swiper-button-next-photography
            position: relative
            margin: 0 30px
            left: 0
            width: 30px

          @media screen and (min-width: 900px)
            .swiper-button-prev-photography, .swiper-button-next-photography
              top: 0


          .swiper-button-disabled
            opacity: 0.5



          .swiper-button-next-photography
            transform: rotate(180deg)

        @media screen and (min-width: 900px)
          .swiper-nav
            grid-area: 1 / 1 / span 1 / span 1
            align-self: center
            justify-content: space-between
            z-index: 2

      @media screen and (min-width: 900px)
        .photography-slider
          grid-area: 4 / 1 / span 1 / span 4
          width: 75%
          justify-self: center
          overflow: hidden
          display: grid
          grid: auto / auto

    @media screen and (min-width: 900px)
      .grid
        grid: 100px 1px auto auto / 200px 150px 1px 1fr

  section.social_media
    margin-bottom: 50px

    .grid
      grid: 100px 1px auto auto auto / 1fr 2fr

      .textWrap
        grid-area: 1 / 1 / span 3 / span 2
        width: 85%
        margin: 62px auto

        .text
          margin-bottom: 0

          h2
            color: $black
            margin-bottom: 20px

            strong
              color: $black

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 1 / 3 / span 3 / span 1
          width: 60%
          margin-left: 20px
          max-width: 750px

      .horizontal
        grid-area: 2 / 1 / span 1 / span 2
        opacity: .6
        display: none

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 3
          display: block

      .vertical
        display: none

      @media screen and (min-width: 900px)
        .vertical
          opacity: .6
          grid-area: 1 / 2 / span 2 / span 1
          display: block

      .cross
        grid-area: 2 / 1 / span 1 / span 2
        align-self: center
        justify-self: center
        z-index: 2
        margin-top: 2px
        display: none

      @media screen and (min-width: 900px)
        .cross
          grid-area: 2 / 2 / span 1 / span 1
          display: grid

      .follow
        grid-area: 4 / 1 / span 1 / span 2
        display: flex
        flex-direction: row
        justify-content: center
        margin-bottom: 40px

        div
          align-self: center

          p
            font-weight: 600
            text-transform: uppercase
            letter-spacing: 2px
            display: flex
            flex-direction: column
            margin-bottom: 7px

          .underline
            width: 100%
            background-color: $black
            height: 2px

        i
          margin-left: 12px

      @media screen and (min-width: 900px)
        .follow
          grid-area: 3 / 3 / span 1 / span 1
          justify-self: center
          margin-left: 55%
          align-self: center
          width: 206px
          height: 48px


      .img_blocks
        width: 100%
        grid-area: 5 / 1 / span 1 / span 2

        .img
          height: 250px
          background-size: cover
          background-position: center
          margin-bottom: 15px

        @media screen and (min-width: 800px)
          .img
            height: 400px
            margin-bottom: 25px
            background-position: center top

        @media screen and (min-width: 900px)
          .img
            width: 49%

      @media screen and (min-width: 800px)
        .img_blocks
          width: 75%
          margin: 0 auto

      @media screen and (min-width: 900px)
        .img_blocks
          width: 85%
          display: flex
          flex-direction: row
          justify-content: space-between
          grid-area: 4 / 1 / span 1 / span 3

    @media screen and (min-width: 900px)
      .grid
        grid: 100px 1px auto auto / 200px 1px 1fr



  section.more-partners
    overflow-x: hidden
    display: grid
    grid: 75px 1px auto auto 40px 0px / 0px 15% 1px 1fr
    margin-bottom: 50px

    .blackbox
      background-color: $black
      grid-area: 1 / 2 / span 4 / span 3

    .vertical, .horizontal
      background-color: $silver
      opacity: 0.3
      display: none

    @media screen and (min-width: 900px)
      .vertical, .horizontal
        display: block

    .horizontal
      grid-area: 2 / 1 / span 1 / span 4

    .vertical
      grid-area: 1 / 3 / span 6 / span 1

    .cross
      grid-area: 2 / 3 / span 1 / span 1
      justify-self: center
      align-self: center
      margin-top: 3px
      display: none

    @media screen and (min-width: 900px)
      .cross
        display: grid

    .text
      grid-area: 1 / 4 / span 3 / span 1
      margin-top: 90px
      margin-left: 20px
      max-width: 500px

      h2
        color: $white
        font-weight: 300

      .cta

        a
          color: $grey
          font-weight: 600

        .underline
          background: $grey

    @media screen and (min-width: 1200px)
      .text
        max-width: 650px

    .partner-slider
      grid-area: 4 / 2 / span 2 / span 3
      width: 95%
      margin-left: auto
      margin-right: 0
      margin-top: 50px
      overflow-X: hidden

      .swiper-wrapper

        .partner
          display: grid
          grid: auto / auto
          max-width: 300px !important
          cursor: pointer

          .img
            grid-area: 1 / 1 / span 1 / span 1
            height: 300px
            background-size: cover
            background-position: center

          .hover
            opacity: 0
            transition: opacity 0.5s ease-in-out
            grid-area: 1 / 1 / span 1 / span 1
            background-color: rgba($black, 0.6)
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            .wrap
              width: 60%

              .name
                color: $white
                font-family: $titillium
                font-weight: 600
                font-size: 1.5rem
                margin: 0
                line-height: 1.5rem

              .title
                color: $white
                font-family: $titillium
                margin: 0
                font-size: 1.5rem
                margin-bottom: 25px

              .summary
                color: $white
                margin-bottom: 10px

              .cta

                a
                  color: $white

                .underline
                  background-color: $white

          &:hover

            .hover
              opacity: 1
              transition: opacity 0.5s ease-in-out

        @media screen and (min-width: 900px)
          .partner
            max-width: 400px !important

  @media screen and (min-width: 767px)
    section.more-partners
      grid: 75px 1px auto auto 40px 75px / 40px 40px 1px 1fr

  @media screen and (min-width: 900px)
    section.more-partners
      grid: 75px 1px auto auto 40px 75px / 10% 80px 1px 1fr
