.single-blog-page

  section.hero
    height: 100vh

    .grid
      // border-top: 1px solid rgba($grey, .3)
      // align-self: end
      height: 100vh
      z-index: 2
      display: grid
      // grid: 30% 30px auto 1fr / 1fr 85% 1fr
      grid: 1fr 1px 3fr / 15% 1px 1fr
      background-color: $black


      .cross
        grid-area: 2 / 2 / span 1 / span 1
        align-self: center
        justify-self: center
        z-index: 2
        margin-top: 2px

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 2 / span 1 / span 1

      .horizontal, .vertical
        background-color: $silver
        opacity: 0.3
        z-index: 1

      .vertical
        grid-area: 2 / 2 / span 2 / span 1

      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 2 / span 3 / span 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 5

      .opaque
        grid-area: 1 / 1 / span 3 / span 3
        height: 75%
        align-self: end
        background-color: rgba($white, 0.03)
        width: 75%

      @media screen and (min-width: 900px)
        .opaque
          grid-area: 1 / 1 / span 3 / span 3
          height: 65%
          margin-left: 25%
          align-self: center


      // grid: 1fr 1px 3fr / 1fr 1px 2fr 50px 2fr

      .headline
        text-transform: uppercase
        font-weight: 600
        color: $darkgrey
        font-size: 0.85rem
        grid-area: 1 / 3 / span 1 / span 1
        align-self: end
        margin: 0 0 12px 12px

      @media screen and (min-width: 900px)
        .headline
          margin: 0 0 25px 25px

      .text
        grid-area: 3 / 3 / span 1 / span 1
        align-self: start
        justify-self: start
        max-width: 460px
        width: 75%
        z-index: 2
        margin: 12px 0 0 12px

        h1
          color: $white
          margin: 0
          font-weight: 300
          margin-bottom: 25px
          font-size: 2.5rem

          strong
            color: $white
            font-weight: 600

        @media screen and (min-width: 800px)
          h1
            margin-top: 0
            line-height: 3.5rem
            font-size: 3.5rem

        @media screen and (min-width: 1000px)
          h1
            line-height: 4rem
            font-size: 4rem

        // @media screen and (min-width: 1200px)
        //   h1
        //     line-height: 5rem
        //     font-size: 5rem

        p
          color: $white
          font-weight: 400

        @media screen and (min-width: 600px)
          p
            font-size: 1.3rem
            font-weight: 300

        @media screen and (min-width: 900px)
          p
            font-weight: 300


      @media screen and (min-width: 800px)
        .text
          width: 65%
          justify-self: start
          margin-top: 30px

      @media screen and (min-width: 900px)
        .text
          grid-area: 3 / 2 / span 1 / span 4
          margin-top: 25px
          margin-left: 25px
          justify-self: start
          align-self: start
          width: 90%
          max-width: none

      .hero-cta
        grid-area: 3 / 1 / span 1 / span 3
        justify-self: center
        align-self: end
        margin-bottom: 50px
        display: flex
        flex-direction: row
        justify-content: center
        width: 100%

        .cta
          cursor: pointer
          margin-right: 25px
          align-self: center

          a
            color: $white

          .underline
            background-color: $white

        .arrow
          width: 50px
          transform: rotate(-90deg)
          // display: none

          svg

            circle.cls-1
              fill: transparent

            line.cls-1
              fill: $white

      @media screen and (min-width: 900px)
        .hero-cta
          justify-self: center
          justify-content: flex-end
          width: 80%


    @media screen and (min-width: 900px)
      .grid
        grid: 1fr 1px 3fr / 1fr 1px 2fr 0 2fr
        height: 60vh
        background-color: $black

  @media screen and (min-width: 900px)
    section.hero
      height: 60vh


  section.post-content
    padding-top: 40px

    .featured-img
      height: 300px
      background-size: cover
      background-position: 50% 50%
      margin: 0 auto

    @media screen and (min-width: 900px)
      .featured-img
        width: 85%
        height: 500px

    @media screen and (min-width: 1250px)
      .featured-img
        width: 40%

    @media screen and (min-width: 1600px)
      .featured-img
        height: 650px

    .content-text
      padding: 40px 0
      width: 85%
      margin: 0 auto

      .date
        font-size: .85rem
        font-style: italic

      .author
        width: fit-content
        margin-bottom: 30px

        .name
          margin-top: 0
          margin-bottom: 5px
          font-family: $titillium
          font-weight: 600
          font-size: 1.3rem

        .underline
          height: 1px
          width: 100%
          background-color: $black

      .main-text

        p
          margin-bottom: 20px

          img
            width: auto
            height: auto
            max-width: 100%
            display: block
            margin: 40px auto

    @media screen and (min-width: 900px)
      .content-text
        width: 70%

    @media screen and (min-width: 1250px)
      .content-text
        width: 50%
        padding-top: 80px

  @media screen and (min-width: 1250px)
    section.post-content
      display: flex
      flex-direction: row
      justify-content: space-between
      width: 85%
      margin: -40px auto 50px
      padding-top: 0




section.more-more

  .more-slider

    .swiper-wrapper

      .member

        .hover
          background-color: rgba($black, .6)

          .wrap

            .title
              font-size: 1.2rem

            @media screen and (min-width: 900px)
              .title
                font-size: 1.5rem

  @media screen and (min-width: 900px)
    .more-slider
      margin-top: 0

@media screen and (min-width: 900px)
  section.more-more
    margin-bottom: 50px
