body.single-team

  .stationaryNav

    .logo

      svg

        .st0
          fill: $black

    .burgerWrap

      div

        svg

          #Nav_Bar

            rect
              fill: $black

          #Design_Elements

            polygon
              fill: $black

.singleteampage

  section.member-content
    padding-top: 60px

    .grid
      grid: 300px 1px auto auto auto 100px / 1fr 1px 1fr

      .vertical, .horizontal
        background-color: $silver
        opacity: 0.3
        display: none


      .vertical
        display: block
        grid-area: 2 / 2 / span 5 / span 1
        z-index: -1
        // opacity: 0.8



      @media screen and (min-width: 900px)
        .vertical
          display: block
          grid-area: 1 / 3 / span 7 / span 1

      .horizontal
        grid-area: 2 / 1 / span 1 / span 3

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 4 / 1 / span 1 / span 5
          z-indeX: -1
          display: block




      .cross
        display: none
        grid-area: 2 / 1 / span 1 / span 3
        justify-self: center
        align-self: center
        z-index: 1
        margin-top: 3px

      @media screen and (min-width: 900px)
        .cross
          grid-area: 4 / 3 / span 1 / span 1
          z-index: 2
          display: grid



      .name.mobileOnly
        grid-area: 1 / 1 / span 1 / span 3
        z-index: 1
        align-self: end
        justify-self: start
        margin-left: 20px

        h1
          font-weight: 300
          color: $white
          margin: 0

        .title
          text-transform: uppercase
          font-weight: 600
          color: $white
          margin-top: 0


      .grey

      @media screen and (min-width: 900px)
        .grey
          grid-area: 3 / 4 / span 3 / span 2
          width: 50%
          justify-self: center
          background-color: $lightgrey
          margin-left: 100px
          height: 600px
          z-index:




      .large-photo
        grid-area: 1 / 1 / span 1 / span 3
        background-size: cover
        background-position: center

        .opaque
          height: 300px
          background-color: rgba($black, 0.4)
          width: 100%

        @media screen and (min-width: 600px)
          .opaque
            height: 350px

      @media screen and (min-width: 900px)
        .large-photo
          grid-area: 2 / 5 / span 4 / span 1
          height: 500px
          width: 100%
          max-width: 450px
          justify-self: end

          .opaque
            display: none

      @media screen and (min-width: 1300px)
        .large-photo
          max-width: 100%
          height: 600px



      .small-photo

      @media screen and (min-width: 900px)
        .small-photo
          grid-area: 5 / 5 / span 1 / span 1
          align-self: end
          width: 75%
          justify-self: end
          height: 400px
          background-size: cover
          background-position: center
          // margin-bottom: 200px
          max-width: 350px

      @media screen and (min-width: 1300px)
        .small-photo
          max-width: 60%
          max-height: 450px



      .main-text
        grid-area: 3 / 1 / span 1 / span 3
        width: 85%
        justify-self: center
        margin: 50px 0

        h1
          font-weight: 300

        @media screen and (min-width: 900px)
          h1
            margin: 0
            margin-bottom: 10px

        .title
          // text-transform: uppercase
          font-size: 1.2rem
          font-weight: 500
          color: $darkgrey
          font-family: $titillium

        .content
          max-width: 500px

          p
            margin-bottom: 30px

      @media screen and (min-width: 900px)
        .main-text
          grid-area: 5 / 4 / span 1 / span 1
          margin-top: 30px

      @media screen and (min-width: 1200px)
        .main-text
          margin-bottom: 100px
          min-height: 670px

      @media screen and (min-width: 1300px)
        .main-text
          margin-bottom: 240px

      // grid: 50px 50px 50px 1px auto auto 100px / 100px 100px 1px 1fr 1fr


      .featured-question
        grid-area: 5 / 1 / span 1 / span 3
        display: grid
        grid: 50px auto 50px / 2fr 1fr
        width: 85%
        justify-self: center

        .grey
          grid-area: 1 / 1 / span 3 / span 1
          background-color: $lightgrey

        @media screen and (min-width: 900px)
          .grey
            width: 95%
            margin: 0
            height: auto
            justify-self: center
            max-width: 500px

        .text
          grid-area: 2 / 1 / span 1 / span 2
          margin-left: 40px

          .headline
            text-transform: uppercase
            font-weight: 600
            color: $darkgrey
            font-size: 0.85rem


          .answer

            h3

            p
              font-weight: 400
              font-size: 1.2rem

        @media screen and (min-width: 900px)
          .text
            margin-left: 100px

        @media screen and (min-width: 1200px)
          .text
            margin-left: 125px

      @media screen and (min-width: 900px)
        .featured-question
          grid-area: 6 / 2 / span 1 / span 4
          max-width: 1000px
          justify-self: start

      @media screen and (min-width: 1200px)
        .featured-question
          margin-left: 100px

    @media screen and (min-width: 600px)
      .grid
        grid: 350px 1px auto auto auto 100px / 1fr 1px 1fr

    @media screen and (min-width: 900px)
      .grid
        grid: 50px 50px 50px 1px auto auto 100px / 100px 100px 1px 1fr 1fr

  @media screen and (min-width: 900px)
    section.member-content
      padding: 0


  section.more-team
    overflow-x: hidden
    display: grid
    grid: 75px 1px auto auto 40px 75px / 0px 40px 1px 1fr

    .blackbox
      background-color: $black
      grid-area: 1 / 2 / span 4 / span 3

    .vertical, .horizontal
      background-color: $silver
      opacity: 0.3

    .horizontal
      grid-area: 2 / 1 / span 1 / span 4

    .vertical
      grid-area: 1 / 3 / span 6 / span 1

    .cross
      grid-area: 2 / 3 / span 1 / span 1
      justify-self: center
      align-self: center
      margin-top: 3px

    .text
      grid-area: 1 / 4 / span 3 / span 1
      margin-top: 35px
      margin-left: 25px

      .headline
        text-transform: uppercase
        font-weight: 600
        color: $darkgrey
        font-size: 0.85rem

      h2
        color: $white

      .cta

        a
          color: $white

        .underline
          background: $white

    .team-slider
      grid-area: 4 / 2 / span 2 / span 3
      width: 95%
      margin-left: auto
      margin-right: 0
      margin-top: 50px
      overflow-X: hidden

      .swiper-wrapper

        .member
          display: grid
          grid: auto / auto
          max-width: 300px !important

          .img
            grid-area: 1 / 1 / span 1 / span 1
            height: 300px
            background-size: cover
            background-position: center

          .hover
            grid-area: 1 / 1 / span 1 / span 1
            background-color: rgba($black, 0.4)
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            .wrap
              width: 60%

              .name
                color: $white
                font-family: $titillium
                font-weight: 600
                font-size: 1.5rem
                margin: 0
                line-height: 1.5rem

              .title
                color: $white
                font-family: $titillium
                margin: 0
                font-size: 1.5rem
                margin-bottom: 25px

              .cta

                a
                  color: $white

                .underline
                  background-color: $white

        @media screen and (min-width: 900px)
          .member
            max-width: 400px !important

  @media screen and (min-width: 767px)
    section.more-team
      grid: 75px 1px auto auto 40px 75px / 40px 40px 1px 1fr

  @media screen and (min-width: 900px)
    section.more-team
      grid: 75px 1px auto auto 40px 75px / 10% 80px 1px 1fr
