.stationaryNav
  display: grid
  grid: auto auto / auto
  padding: 5px 0
  // total height is 100px
  height: 50px
  // width: calc(100% - 20px)
  position: absolute
  z-index: 100
  width: 100%
  background-color: transparent

  .leftLinks
    grid-area: 2 / 1 / span 1 / span 1
    display: flex
    flex-direction: row
    justify-content: space-around
    width: 85%
    margin: 0 auto
    display: none

    a
      font-size: .7rem
      letter-spacing: 1px
      text-transform: uppercase
      font-weight: 400
      color: $white

    @media screen and (min-width: 900px)
      a
        margin-right: 20px
        transition: 0.3s
        font-size: .9rem
        font-weight: 600

        &:hover
          color: $yellow
          transition: 0.3s

  @media screen and (min-width: 900px)
    .leftLinks
      display: flex
      grid-area: 1 / 1 / span 1 / span 1
      align-self: center
      width: 100%
      margin: 0
      justify-content: flex-start
      padding-left: 1.5%

  @media screen and (min-width: 900px)
    .rightLinks
      display: flex
      grid-area: 1 / 1 / span 1 / span 1
      align-self: center
      width: 100%
      margin: 0
      justify-content: flex-end
      padding-right: 1.5%

      a
        font-size: .7rem
        letter-spacing: 1px
        margin-right: 20px
        text-transform: uppercase
        font-weight: 400
        color: $white
        transition: 0.3s

        &:hover
          color: $yellow
          transition: 0.3s

      @media screen and (min-width: 900px)
        a
          font-size: .9rem
          font-weight: 600



  .logo
    grid-area: 1 / 1 / span 2 / span 1
    justify-self: start
    align-self: center
    display: flex
    flex-direction: column
    justify-content: center
    margin-left: 10px

    svg
      width: 130px

    @media screen and (min-width: 900px)
      svg
        width: 150px

  @media screen and (min-width: 900px)
    .logo
      grid-area: 1 / 1 / span 1 / span 1
      margin: 0
      justify-self: center

  .burgerWrap
    grid-area: 1 / 1 / span 2 / span 1
    align-self: center
    justify-self: end
    margin-right: 10px

    #burgerBars

      svg
        width: 35px

        rect
          fill: $white

    #burgerClose
      transform: rotate(45deg)

      svg
        width: 30px


  @media screen and (min-width: 900px)
    .burgerWrap
      display: none


@media screen and (min-width: 900px)
  .stationaryNav
    position: inherit
    grid: auto / auto
    // padding: 10px 1.5%
    // total height is 90px
    height: 60px
    z-index: 5
    max-width: 100vw
    overflow: hidden
    position: absolute
    border-bottom: 1px solid rgba($silver, .3)
    display: none

  .stationaryNav.homepage
    display: grid
