.stickyNav
  height: 100vh
  position: fixed
  z-index: 100
  width: 100px
  // background-color: transparent
  // background-color: $white
  transform: translate(-100%)
  transition: transform 0.2s ease-in
  display: flex
  flex-direction: column
  mix-blend-mode: difference

  .wrap
    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center

    a.logo
      // margin-bottom: 150px

      img
        transform: rotate(-90deg)
        margin-bottom: 50px
        width: 150px
        // mix-blend-mode: difference

    #stickyNavTrigger
      width: 48px
      // mix-blend-mode: difference
      cursor: pointer

    .social
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: -70px

      a
        margin-bottom: 20px

        i
          // mix-blend-mode: difference
          color: $black

// show stickyNav
.showStickyNav
  transform: translate(0)
  transition: transform 0.4s ease-in


.fullNav
  background-color: $black
  width: 100vw
  position: fixed
  z-index: 99
  transform: translate(-100%)
  transition: transform 0.7s ease-in-out

  .grid
    min-height: 100vh
    grid: 1fr auto 1fr / 20% 1px 1fr

    .vertical
      width: 1px
      background-color: $silver
      opacity: .3
      grid-area: 1 / 2 / span 3 / span 1

    .menu
      grid-area: 2 / 2 / span 1 / span 2

      .border
        display: grid
        grid: auto / auto
        height: 100px

        .horizontal
          background-color: $silver
          opacity: .3
          grid-area: 1 / 1 / span 1 / span 1
          align-self: center

        .cross
          grid-area: 1 / 1 / span 1 / span 1
          justify-self: start
          align-self: center
          margin-top: 2px
          margin-left: -14px

      .parentMenuItem
        height: 75px
        display: flex
        flex-direction: column
        justify-content: space-around

        .text
          display: flex
          flex-direction: row
          justify-self: center
          margin-bottom: 0

          .parent
            color: $white
            font-size: 1.8rem
            font-weight: 600
            font-family: $titillium
            letter-spacing: 2px
            margin-left: 50px
            transition: 0.3s

            &:hover
              color: $yellow
              transition: 0.3s

          .children
            margin-left: 75px
            display: flex
            flex-direction: row
            align-items: center

            .child
              color: $white
              font-family: $titillium
              font-weight: 300
              letter-spacing: 2px
              margin-right: 50px
              transition: 0.3s

              &:hover
                color: $yellow
                transition: 0.3s


        .innerBorder
          display: grid
          grid: auto / auto

          .horizontal
            background-color: $silver
            opacity: .3
            grid-area: 1 / 1 / span 1 / span 1
            align-self: center

          .cross
            grid-area: 1 / 1 / span 1 / span 1
            justify-self: start
            align-self: center
            margin-top: 2px
            margin-left: -14px


.showFullNav
  transform: translate(0)
  transition: transform 0.7s ease-in-out
