.stickyMobileNav
  display: grid
  grid: auto auto / auto
  padding: 5px 0
  // total height is 100px
  height: 50px
  // width: calc(100% - 20px)
  position: fixed
  z-index: 100
  width: 100%
  background-color: $white
  transform: translateY(0)
  transition: transform .4s ease-in-out

  .links
    grid-area: 2 / 1 / span 1 / span 1
    display: flex
    flex-direction: row
    justify-content: space-around
    width: 85%
    margin: 0 auto
    display: none

    a
      font-size: .85rem
      font-weight: 600
      letter-spacing: 1px

    @media screen and (min-width: 900px)
      a
        margin-right: 20px

  @media screen and (min-width: 900px)
    .links
      display: flex
      grid-area: 1 / 1 / span 1 / span 1
      align-self: center
      width: 100%
      margin: 0
      justify-content: flex-start
      padding-left: 1.5%


  .logo
    grid-area: 1 / 1 / span 2 / span 1
    justify-self: start
    align-self: center
    display: flex
    flex-direction: column
    justify-content: center
    margin-left: 10px

    img
      width: 130px

    @media screen and (min-width: 900px)
      img
        width: 150px

  @media screen and (min-width: 900px)
    .logo
      grid-area: 1 / 1 / span 1 / span 1
      margin: 0
      justify-self: center

  .burgerWrap
    grid-area: 1 / 1 / span 2 / span 1
    align-self: center
    justify-self: end
    margin-right: 10px

    #burgerBarsSticky
      width: 35px

    #burgerCloseSticky
      width: 30px
      transform: rotate(45deg)




  @media screen and (min-width: 900px)
    .burgerWrap
      display: none

.hideStickyMobileNav
  transform: translateY(-100%)
  transition: transform .4s ease-in-out

@media screen and (min-width: 900px)
  .stickyMobileNav
    // position: inherit
    // grid: auto / auto
    // // padding: 10px 1.5%
    // // total height is 90px
    // height: 60px
    // z-index: 1
    // max-width: 100vw
    // overflow: hidden
    display: none
