.teampage

  section.hero
    height: 100vh

    .grid
      // border-top: 1px solid rgba($grey, .3)
      height: 100vh
      z-index: 2
      display: grid
      grid: 30% 30px auto 1fr / 1fr 85% 1fr

      .img
        grid-area: 1 / 1 / span 4 / span 3
        background-size: cover
        background-position: center
        z-index: -1

      @media screen and (min-width: 900px)
        .img
          grid-area: 2 / 4 / span 4 / span 2
          z-index: 1

      .crosshair
        grid-area: 2 / 2 / span 1 / span 1
        justify-self: start
        z-index: 2

        img

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 3 / 2 / span 1 / span 1
          // margin-left: 35px
          // margin-top: 35px
          align-self: center
          justify-self: center

      @media screen and (min-width: 900px)
        .vertical, .horizontal
          opacity: .3
          background-color: $grey
          display: block

      @media screen and (min-width: 900px)
        .vertical
          grid-area: 1 / 2 / span 5 / span 1

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 3 / 1 / span 1 / span 5


      .opaque
        grid-area: 1 / 1 / span 4 / span 3
        background-color: rgba($black, 0.5)
        z-index: 1

      @media screen and (min-width: 900px)
        .opaque
          grid-area: 1 / 1 / span 4 / span 5
          width: 85%
          height: 75%
          align-self: end
          justify-self: end
          background-color: rgba($white, .03)

      @media screen and (min-width: 900px)
        .blackbkgd
          grid-area: 1 / 1 / span 4 / span 5
          z-index: -1
          background-color: $black

      // grid: 1fr 1fr 1px auto 150px / calc(10% + 100px) 1px 1fr 30px 1fr

      .text
        grid-area: 3 / 2 / span 1 / span 1
        align-self: start
        justify-self: center
        z-index: 2

        h1
          color: $white
          margin: 0
          font-weight: 400

          strong
            color: $white
            font-weight: 600

        @media screen and (min-width: 800px)
          h1
            margin-top: 0
            line-height: 3.5rem
            font-size: 3.5rem

        @media screen and (min-width: 900px)
          h1
            line-height: 4rem
            font-size: 4rem
            margin-bottom: 30px

        @media screen and (min-width: 1200px)
          h1
            line-height: 5rem
            font-size: 5rem

        .bodyText
          width: 85%

          p
            font-weight: 400
            color: $white
            font-size: 1.2rem

          @media screen and (min-width: 700px)
            p
              // font-size: 1.5rem
              font-weight: 300

        @media screen and (min-width: 800px)
          .bodyText
            // width: 65%

      @media screen and (min-width: 800px)
        .text
          width: 65%
          justify-self: start
          margin-top: 30px

      @media screen and (min-width: 900px)
        .text
          grid-area: 4 / 3 / span 1 / span 2
          margin-top: 25px
          margin-left: 25px
          margin-bottom: 250px
          justify-self: start
          align-self: start
          width: 100%


    @media screen and (min-width: 900px)
      .grid
        // grid: 75px 75px 1px auto 150px / calc(10% + 100px) 1px 1fr 30px 1fr
        grid: 10% 10% 1px auto 150px / calc(10% + 100px) 1px 1fr 30px 1fr
        min-height: 100vh
        height: auto

  @media screen and (min-width: 900px)
    section.hero
      min-height: 100vh
      margin-bottom: 0
      height: auto


  section.team
    padding: 100px 0

    .member
      width: 85%
      max-width: 600px
      margin: 0 auto 40px
      display: flex
      flex-direction: column
      transform: translate(0)
      transition: transform .5s ease-in-out

      .img
        height: 400px
        background-size: cover
        background-position: center
        margin-bottom: 15px

      .bottom
        display: flex
        flex-direction: row


        .cross
          margin-right: 10px

          svg
            width: 24px

        .text
          display: flex
          flex-direction: column

          .name
            font-size: 1.5rem
            font-weight: 700
            margin: 0
            margin-bottom: 5px
            line-height: 1.5rem

          .title
            font-size: .85rem
            text-transform: uppercase
            font-weight: 600
            margin: 0

    @media screen and (min-width: 900px)
      .member
        display: inline-flex
        max-width: 350px
        transition: transform 1s ease-in-out

        &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9)
          transform: translateY(150px)

    .pushedDown
      transition: 0.6s

      &:nth-child(even)
        transform: translate(-115%)

      &:nth-child(odd)
        transform: translate(115%)

    @media screen and (min-width: 900px)
      .pushedDown

        &:nth-child(even)
          transform: translateY(30%)

        &:nth-child(odd)
          transform: translateY(30%)



    @media screen and (min-width: 1300px)
      .member
        width: 300px
        break-inside: avoid-column
        transform: translateY(0)
        display: flex

        &:nth-child(4), &:nth-child(5), &:nth-child(6)
          transform: translateY(100px)

        &:nth-child(7), &:nth-child(8), &:nth-child(9)
          transform: translateY(200px)


  @media screen and (min-width: 900px)
    section.team
      width: calc(85% - 100px - 100px)
      margin: 50px auto
      // display: flex
      // flex-direction: column
      columns: 2
      padding: 0

  @media screen and (min-width: 1300px)
    section.team
      columns: 3
      margin-bottom: -200px



  section.travelMap
    width: 85%
    margin: 0 auto 50px
    padding: 50px 0

    .text

    @media screen and (min-width: 900px)
      .text
        width: 60%
        margin: 0 auto 50px
        max-width: 700px


    .wrap
      width: 85%
      margin: 0 auto
      max-width: 975px



  section.follow-social
    padding: 100px 0
    display: flex
    flex-direction: column

    .text
      display: flex
      flex-direction: column
      margin-bottom: 35px

      h2
        // color: $yellow
        font-family: $sans
        font-size: 1rem
        line-height: 1rem
        align-self: center
        margin: 0

      @media screen and (min-width: 1200px)
        h2
          // font-size: 2rem
          // line-height: 2rem


      a
        font-size: 3rem
        font-family: $titillium
        align-self: center

      @media screen and (min-width: 1200px)
        a
          font-size: 4rem

    .cta
      margin-bottom: 50px
      align-self: center


    .feed
      // overflow: hidden

      .wpmi
        width: 85%
        margin: 0 auto

        .wpmi-list
          flex-direction: column

          .wpmi-item
            align-self: center
            margin-bottom: 50px
            width: 100%
            max-width: 500px
            overflow: hidden

            a
              width: 100%

              img
                width: 100%

          @media screen and (min-width: 800px)
            .wpmi-item
              width: 30%
              margin-bottom: 0
              margin: 0 5px

        @media screen and (min-width: 800px)
          .wpmi-list
            flex-direction: row
            justify-content: space-between

  @media screen and (min-width: 900px)
    section.follow-social
      width: calc(85% - 100px)
      margin: 0 auto


  section.join

    .grid
      width: 100%
      display: grid
      // grid: 50px auto auto auto 50px / 1fr 1px 2fr
      grid: 100px auto / auto

      .vertical, .horizontal
        background-color: $silver
        opacity: 0.3
        display: none


      @media screen and (min-width: 900px)
        .vertical
          display: block
          grid-area: 1 / 3 / span 3 / span 1

      .horizontal
        grid-area: 1 / 1 / span 1 / span 1
        height: 1px
        align-self: center

      @media screen and (min-width: 900px)
        .horizontal
          grid-area: 2 / 1 / span 1 / span 4
          display: block




      .crosshair
        grid-area: 1 / 1 / span 1 / span 1
        justify-self: center
        align-self: center
        z-index: 1
        margin-right: 1px
        display: none

      @media screen and (min-width: 900px)
        .crosshair
          grid-area: 2 / 3 / span 1 / span 1
          z-index: 2
          justify-self: center
          align-self: center
          display: grid

      // grid: 100px 1px auto / 100px 50px 1px auto

      .textWrap
        grid-area: 2 / 1 / span 1 / span 1
        width: 85%
        justify-self: center
        z-index: 2
        // margin-top: 10px

        .text
          margin-bottom: 50px


          h2
            font-weight: 400
            color: $white
            max-width: 610px


          .cta
            display: inline-flex
            flex-direction: column

            a
              color: $white
              letter-spacing: 1px
              text-transform: uppercase
              display: block
              margin-bottom: 10px


            .underline
              height: 3px
              background-color: $white
              width: 100%
              transform: translate(0)
              transition: transform .3s ease-in-out




          @media screen and (min-width: 900px)
            .cta
              overflow: hidden
              cursor: pointer

              &:hover

                .underline
                  transform: translate(-50%)
                  transition: transform .3s ease-in-out
                  // background-color: $yellow




        @media screen and (min-width: 900px)
          .text
            grid-area: 3 / 8 / span 1 / span 5
            justify-self: start

      @media screen and (min-width: 900px)
        .textWrap
          grid-area: 3 / 4 / span 1 / span 1
          width: 60%
          justify-self: start
          margin-left: 25px
          margin-top: 20px


      .imgBlock
        grid-area: 1 / 1 / span 2 / span 1
        z-index: -1
        // margin-bottom: 50px
        // height: 400px
        display: grid
        grid: auto / auto

        .img
          grid-area: 1 / 1 / span 1 / span 1
          background-size: cover
          background-position: center center

        @media screen and (min-width: 900px)
          .img
            height: auto
            // grid-area: 1 / 1 / span 1 / span 6
            // margin-left: 100px
            // background-position: 65% center

        .dark
          grid-area: 1 / 1 / span 1 / span 1
          background-color: rgba($black, 0.4)
          z-index: 1


      @media screen and (min-width: 900px)
        .imgBlock
          grid-area: 1 / 4 / span 3 / span 1
          width: calc(100% - 120px)
          justify-self: end
          margin-bottom: 0

      .greybox

      @media screen and (min-width: 900px)
        .greybox
          grid-area: 1 / 1 / span 3 / span 4
          background-color: $darkergrey
          z-index: -1

    @media screen and (min-width: 900px)
      .grid
        grid: 100px 1px auto / 100px 100px 1px auto

    @media screen and (min-width: 1000px)
      .grid
        min-height: 500px

  @media screen and (min-width: 1000px)
    section.join
      min-height: 500px
