/* !
 Theme Name: alex-timber
 Theme URI: http://underscores.me/
 Author: Alex Horton
 Author URI: http://underscores.me/
 Description: A boilerplate setup
 Version: 1.0.0
 License: GNU General Public License v2 or later
 License URI: LICENSE
 Text Domain: alex-twig
 Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

 This theme, like WordPress, is licensed under the GPL.
 Use it to make something cool, have fun, and share what you've learned with others.

 New Astute is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
 Underscores is distributed under the terms of the GNU GPL v2 or later.

 Normalizing styles have been helped along thanks to the fine work of
 Nicolas Gallagher and Jonathan Neal https: */

// ------- COLORS --------- //
$yellow: #f9ac1b
$black: #2B292A
$coal: #333031
$darkblue: #374552
$lightgrey: #F9F9F9
$grey: #dbdbdb
$darkgrey: #A7A7A7
$darkergrey: #6C6A6B
$silver: #ededed
$white: #fff
$green: #A6D442



// -------- FONTS ----------- //
$titillium: 'Titillium Web', sans-serif
$sans: 'Open Sans', sans-serif

// ------ GLOBAL STYLES -------- //

*
  color: $black

section
  // min-height: 100vh

.grid
  display: grid

body
  margin: 0

.yellow
  color: $yellow

h1, h2, h3, h4
  font-family: $titillium
  font-weight: 700

h3
  font-family: $sans

h1
  font-size: 3rem
  line-height: 60px
  letter-spacing: 1.5px
  // line-height: 153.333333px

@media screen and (min-width: 900px)
  h1
    font-size: 4rem

@media screen and (min-width: 1200px)
  h1
    font-size: 5rem

h2
  font-size: 2rem
  margin-top: 0
  letter-spacing: 1px
  // line-height: 100px

@media screen and (min-width: 900px)
  h2
    font-size: 2.5rem
    line-height: 2.5rem

@media screen and (min-width: 1200px)
  h2
    font-size: 3.5rem
    line-height: 3.5rem

h3
  font-size: 1.6rem
  letter-spacing: 1px

p
  font-family: $sans
  font-weight: 300
  font-size: 1rem
  letter-spacing: 1px
  margin: 0

ul

  li
      font-family: $sans
      font-weight: 300
      font-size: 1rem
      letter-spacing: 1px
      margin: 10px 0

a
  text-decoration: none
  font-family: $sans

.header
  width: 100vw

#footer
  z-index: 99
  position: absolute
  width: 100vw
  background-color: $black

section
  overflow: hidden

// to allow for sticky nav

@media screen and (min-width: 900px)
  .nonHeroSection
    // width: calc(100% - 100px)
    // margin: 0 0 0 auto

// --- small design elements

.horizontal, .vertical
  background-color: $silver
  opacity: 0.3
  z-index: 1

.greybox
  background-color: $lightgrey

.text
  margin-bottom: 50px

  .headline
    text-transform: uppercase
    font-weight: 600
    color: $darkgrey
    font-size: .85rem
    margin-bottom: 35px

  h2
    font-weight: 400

    strong
      font-weight: 700

  .bodyText

    p

.cta
  display: inline-flex
  flex-direction: column

  a
    color: $black
    letter-spacing: 1px
    text-transform: uppercase
    display: block
    margin-bottom: 5px
    font-size: .85rem


  .underline
    height: 3px
    background-color: $black
    width: 100%

  @media screen and (min-width: 900px)
    .cta
      overflow: hidden
      cursor: pointer

      &:hover

        .underline
          transform: translate(-50%)
          transition: transform .3s ease-in-out
          // background-color: $yellow

.button
  border: 3px solid $black
  padding: 8px 12px
  text-transform: capitalize
  transition: 0.3s
  display: inline
  font-weight: 600
  font-size: 1.2rem
  letter-spacing: 1px

  &:hover
    transition: 0.3s

.thinUppercase
  font-size: 1.5rem
  font-weight: 300
  text-transform: uppercase
  font-family: $sans
  margin: 0
  letter-spacing: 3px

// set background color(s)
.crosshair
  display: grid
  grid: 30px / 30px

  .vert
    grid-area: 1 / 1 / span 1 / span 1
    background-color: $white
    height: 30px
    width: 2px
    justify-self: center

  .horiz
    grid-area: 1 / 1 / span 1 / span 1
    background-color: $white
    width: 30px
    height: 2px
    align-self: center

.crosshair.yellow

  .vert, .horiz
    background-color: $yellow

.crosshair.animation
  transform: rotate(270deg)
  transition: transform 1s ease-in-out

.crosshair.animation.done
  transform: rotate(0deg)
  transition: transform 1s ease-in-out

.vertical
  width: 1px

.horizontal
  height: 1px

.hide
  display: none !important

// loaded inline as svg
.cross

  svg
    width: 30px

.cta
  display: inline-flex
  flex-direction: column
  overflow-x: hidden

  a
    color: $black
    letter-spacing: 1px
    text-transform: uppercase
    display: block
    margin-bottom: 5px
    font-size: .85rem

  @media screen and (min-width: 900px)
    a
      font-size: 1rem


  .underline
    height: 2px
    background-color: $black
    width: 100%
    transition: transform .3s ease-in-out

  &:hover

    .underline
      transform: translateX(-50%)
      transition: transform .3s ease-in-out


// ------ COMPONENTS ---------- //
@import 'bwMoreSlider'
@import 'stationaryNav'
@import 'stickyMobileNav'
@import 'stickyNav'
@import 'mobileNav'
@import 'footer'
@import 'animations'
@import 'contactSection'
@import 'pagination'
@import 'single'
@import 'singlePodcast'
@import 'newsletter'
@import 'newsletterForm'


// ------ TEMPLATES ------- //
@import 'home'
@import 'contact'
@import 'singleTeam'
@import 'team'
@import 'partners'
@import 'services'
@import 'servicesNew'
@import 'aboutUs'
@import 'singlePartners'
@import 'blog'
@import 'stories'
@import 'careers'
@import 'podcasts'





// ------ OFF SCREEN ELEMENT STYLES -------- //
.offScreenLeft
  transform: translate(-100%)
  transition: transform 0.5s ease-in-out

.offScreenRight
  transform: translate(100%)
  transition: transform 0.5s ease-in-out



#content
  min-height: 100vh
  padding: 0 !important


// @media screen and (min-width: 800px)
//   #content
//     padding-top: 80px

@media screen and (min-width: 900px)
  #content
    padding-top: 0

@media screen and (min-width: 900px)
  .mobileOnly
    display: none !important

@media screen and (max-width: 900px)
  .desktopOnly
    display: none !important
